{% extends 'base.html' %}

{% block content %}

<hr>
<div class="row">
  <div class="col-12">
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <a href="{% url 'user_update' user.pk %}">Update name</a><br>
    <a href="{% url 'account_change_password' %}">Change password</a><br>
    <hr>
    Date Joined - {{ user.date_joined|date:"M d, Y"  }}
    <hr>

    {% if profile.admin %}
      <h5>You have free access</h5>

    {% elif profile.trial %}
      <h5 class="text-success">Free trial</h5>
      <p>Trial ends - {{ profile.end_date|date:"M d, Y" }}</p>
      <h5 class="text-success">Subscribe now</h5>
      <button class="btn btn-success" id="monthly">Monthly</button>
      <span>- or -</span>
      <button class="btn btn-success" id="yearly">Yearly</button>

    {% elif not profile.active %}
    <h5 class="text-danger">Subscription expired</h5>
      <p>Expired on - {{ profile.end_date|date:"M d, Y" }}</p>
      <h5 class="text-success">Subscribe now</h5>
      <button class="btn btn-success" id="monthly">Monthly</button>
      <span>- or -</span>
      <button class="btn btn-success" id="yearly">Yearly</button>

    {% elif not profile.trial and profile.trial_expiring %}
    <h5 class="text-danger">Trial expired</h5>
      <p>Expired on - {{ profile.end_date|date:"M d, Y" }}</p>
      <h5 class="text-success">Subscribe now</h5>
      <button class="btn btn-success" id="monthly">Monthly</button>
      <span>- or -</span>
      <button class="btn btn-success" id="yearly">Yearly</button>
    {% else %}
      <h5>Subscription active</h5>
      <p>Change Subscription</p>
      {% if profile.monthly %}
        <button class="btn btn-success" id="yearly">Yearly</button>
      {% elif profile.yearly %}
        <button class="btn btn-success" id="monthly">Monthly</button>
      {% endif %}
      <p>Next billing date - {{ profile.end_date|date:"M d, Y" }}</p>
      <a class="text-danger" href="{% url 'subscription_canceled'%}">Cancel</a>
    {% endif %}
    <hr>

    <h5>Email</h5> {{ user.email }}<br>
    <a href="{% url 'account_email' %}">Update email</a><br>

    <hr>
    <h5>Company</h5> {{ user.profile.company }}
    <hr>
    <h5>Medical Certificate</h5>
    Issued - {{ user.profile.date }} |
    Type -
    {% if user.profile.first_class == True %} 1st Class |{% else %}{% endif %}
    {% if user.profile.second_class == True %} 2nd Class |{% else %}{% endif %}
    {% if user.profile.third_class == True %} 3rd Class |{% else %}{% endif %}
    {% if user.profile.over_40 == True %} Over 40 {% else %}{% endif %}
    <p><a class="" href="{% url 'profile_update' user.profile.pk %}">Update medical info</a></p>

    <hr>
    <p>Questions or problems with the app? Email us <a target="new" href="mailto:support@direct2logbook.com?subject=Support">here</a></p>
    <p>Include a screenshot if possible, and a description of the error. More info is better</p>
    <hr>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe('{{STRIPE_TEST_PUBLISHABLE_KEY}}');
  $( "#monthly" ).click(function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as parameter here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '{{CHECKOUT_SESSION_ID_MONTHLY}}'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });
</script>

<script type="text/javascript">
  var stripe = Stripe('{{STRIPE_TEST_PUBLISHABLE_KEY}}');
  $( "#yearly" ).click(function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as parameter here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '{{CHECKOUT_SESSION_ID_YEARLY}}'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });
</script>

{% endblock %}
