{% extends 'base.html' %}

{% block content %}

<hr>
<div class="row">
  <div class="col-12">

    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    Date Joined - {{ user.date_joined }}
    <hr>
    <h5>Email</h5> {{ user.email }}<br>
    <a href="{% url 'account_email' %}">Update email</a><br>
    <a href="{% url 'socialaccount_connections' %}">Social Accounts</a>

    <hr>
    <h5>Company</h5> {{ user.profile.company }}
    <hr>
    <h5>Medical Certificate</h5>
    Issued - {{ user.profile.date }} |
    Type -
    {% if user.profile.first_class == True %} 1st Class |{% else %}{% endif %}
    {% if user.profile.second_class == True %} 2nd Class |{% else %}{% endif %}
    {% if user.profile.third_class == True %} 3rd Class |{% else %}{% endif %}
    {% if user.profile.over_40 == True %} Over 40 {% else %}{% endif %}
    <hr>
    <p>Questions or problems with the app? Email us <a target="new" href="mailto:support@direct2logbook.com?subject=Support">here</a></p>
    <p>Include a screenshot if possible, and a description of the error. More info is better</p>
    <hr>
    <p><a class="btn-shadow btn-shadow-dark btn-block" href="{% url 'profile_update' user.profile.pk %}">Update Profile</a></p>
  </div>
</div>
{% endblock %}
