{% extends 'base.html' %}

{% block content %}
<hr>
{% if passed_end_date is True and not profile.free_access %}

<h5 class="text-danger">Subscription expired</h5>
  <hr>
  <p>You have either canceled the subscription or your card is no longer valid<p>
  <p>Expired on - {{ profile.end_date|date:"M d, Y" }}</p>
  <h5 class="text-success">Subscribe now</h5>
  <h5><a href="" class="link text-success" id="monthly">Monthly</a>
  <span>- or -</span>
  <a href="" class="link text-success" id="yearly">Yearly</a></h5>

{% else %}

<div class="row">
  <div class="col-12">
    {% if not signature %}
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    {% else %}
      <p><img height="60px" src="{{ signature.signature.url }}"</p>
    {% endif %}

    {% if not signature %}
      <p><a href="{% url 'signature_create' %}">Upload Signature</a></p>
    {% else %}
      <p><a href="{% url 'signature_update' signature.pk %}">Update Signature</a></p>
      <p><a class="text-danger" href="{% url 'signature_delete' signature.pk %}">Delete Signature</a></p>

    {% endif %}

    <hr>
    <a href="{% url 'user_update' user.pk %}">Update name</a><br>
    <a href="{% url 'account_change_password' %}">Change password</a><br>
    <hr>
    Date Joined - {{ user.date_joined|date:"M d, Y"  }}
    <hr>

    {% if profile.free_access %}
      <h5>You have free access</h5>


    {% elif profile.trial %}
      <h5 class="text-success">Free trial ends {{ profile.end_date|date:"M d, Y" }}</h5>
      <h5 class="text-success">Subscribe now</h5>
      <h5><a href="" class="link text-success" id="monthly">Monthly</a>
      <span>- or -</span>
      <a href="" class="link text-success" id="yearly">Yearly</a></h5>

    {% elif not profile.trial and profile.trial_expiring %}
    <h5 class="text-danger">Trial expiring soon</h5>
      <p>Expired on - {{ profile.end_date|date:"M d, Y" }}</p>
      <h5 class="text-success">Subscribe now</h5>
      <h5><a href="" class="link text-success" id="monthly">Monthly</a>
      <span>- or -</span>
      <a href="" class="link text-success" id="yearly">Yearly</a></h5>

    {% elif profile.canceled %}
    <h5 class="text-danger">You have unsubscribed and will lose accces on {{ profile.end_date|date:"M d, Y" }}</h5>
      <h5 class="text-success">Resubscribe now</h5>
      <h5><a href="" class="link text-success" id="monthly">Monthly</a>
      <span>- or -</span>
      <a href="" class="link text-success" id="yearly">Yearly</a></h5>

    {% else %}
      <h5>Subscription active</h5>
      <p>Change Subscription</p>
      {% if profile.monthly %}
        <p><a href="" class="link text-success" id="yearly">Yearly</a></p>
      {% elif profile.yearly %}
        <p><a href="" class="link text-success" id="monthly">Monthly</a></p>
      {% endif %}
      <p>Next billing date - {{ profile.end_date|date:"M d, Y" }}</p>
      <a class="text-danger" href="{% url 'subscription_canceled'%}">Cancel</a>

    {% endif %}

    <hr>
    <h5>Email</h5> {{ user.email }}<br>
    <a href="{% url 'account_email' %}">Update email</a><br>

    <hr>
    <h5>Company</h5> {{ user.profile.company }}
    <hr>
    <h5>Medical Certificate</h5>
    Issued - {{ user.profile.medical_issue_date }} |
    Type -
    {% if user.profile.first_class == True %} 1st Class |{% else %}{% endif %}
    {% if user.profile.second_class == True %} 2nd Class |{% else %}{% endif %}
    {% if user.profile.third_class == True %} 3rd Class |{% else %}{% endif %}
    {% if user.profile.over_40 == True %} Over 40 {% else %}{% endif %}
    <p><a class="" href="{% url 'profile_update' user.profile.pk %}">Update medical info</a></p>

    <hr>
    <p><a href="{% url 'csv_inspect' %}">Upload from .csv</a></p>
    <p><a id="csv" href="{% url 'csv_download' %}">Download your data.</a></p>
    <hr>
    <p>Questions or problems with the app? Email us <a target="new" href="mailto:support@direct2logbook.com?subject=Support">here</a></p>
    <p>Include a screenshot if possible, and a description of the error. More info is better</p>
    <hr>
  </div>
</div>
{% endif %}

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe('{{STRIPE_PUBLISHABLE_KEY}}');
  $( "#monthly" ).click(function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as parameter here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '{{CHECKOUT_SESSION_ID_MONTHLY}}'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });
</script>

<script type="text/javascript">
  var stripe = Stripe('{{STRIPE_PUBLISHABLE_KEY}}');
  $( "#yearly" ).click(function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as parameter here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: '{{CHECKOUT_SESSION_ID_YEARLY}}'
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });
</script>

<script>
  $('#csv').click(function(e) {
    swal({
      type: 'info',
      title: 'Preparing your .csv download.',
      text: 'Please be patient, This might take several minutes.',
      footer: 'Dont leave this page.',
      toast: true,
      position: 'top',
      showConfirmButton: false,
      allowOutsideClick: false,
      // timer: 50000,
    })
  });
</script>

{% endblock %}
