{% extends 'base.html' %}
{% load static %}
{% block content %}

<hr>
<p>

     <img src="{{ signature.signature }}" style="width: 50%; height: 50%"/>
    {% if signature %}
       
    {% else %}
        <em>No signature saved.</em>
    {% endif %}
<hr>
<form  action="" method="post">{% csrf_token %}
    <p>This cannot be undone! But it won't affect related data.</p>
    <hr>
    <input id="delete-confirm" type="submit" class = "btn-shadow btn-shadow-danger btn-block" value="Delete"/>
</form>

{% include "confirm_delete.html" %}


{% endblock %}
