{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block account_content %}

    <h1>{% trans "Sign In" %}</h1>
    <hr>
  <!-- social account goes here -->

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <p>{{ form.login |add_class:"form-control"}}</p>
      <p>{{ form.password |add_class:"form-control"}}</p>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <p><button class="btn-shadow btn-block btn-shadow-dark" type="submit">{% trans "Sign In" %}</button></p>
      <hr>
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
      <a href="{{ signup_url }}">Register</a>

    </form>

{% endblock %}
