{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6">
    <h1>{% trans "Change Password" %}</h1>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>{{ form.oldpassword |add_class:"form-control" |attr:"placeholder:current password" }}</p>
        <p>{{ form.oldpassword.errors }}</p>
        <p>{{ form.password1 |add_class:"form-control" |attr:"placeholder:new password" }}</p>
        <p>{{ form.password1.errors }}</p>
        <p>{{ form.password2 |add_class:"form-control" |attr:"placeholder:password again" }}</p>
        <p>{{ form.password2.errors }}</p>
        <hr>
        <button class="btn-block btn-shadow btn-dark" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
{% endblock %}
