{% extends 'base.html' %}
{% load static %}
{% block content %}

<hr>
<div class="row">
  <div class="col">
    {% for year in years reversed %}
      <a href="/flights/by_date/{{ year|date:'Y' }}">{{ year|date:"Y" }}</a>
    {% endfor %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
      <div class="">
        {% if next_year %}
            <a href='/flights/by_date/{{ next_year|date:"Y" }}' class="">+ {{ next_year|date:"Y" }}</a>
        {% endif %}
          <span class="font-weight-bold">| {{ year|date:"Y" }} |</span>
        {% if previous_year %}
            <a href='/flights/by_date/{{ previous_year|date:"Y" }}' class="">{{ previous_year|date:"Y" }} -</a>
        {% endif %}
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div style="display: inline;" class="align-center">
			{% for date in date_list %}
          <a href='/flights/by_date/{{ year|date:"Y" }}/{{ date|date:"b" }}'class="">{{ date|date:"F" }}</a> |
      {% endfor %}
      </div>

    </div>
</div>

<hr>
<div class="row">
  <div class="col">
    <div id="mapid" class="col image-shadow custom-popup">
      {% include 'leaflet.html' %}
    </div>
  </div>
</div>



{% endblock %}
