{% load static %}
{% load widget_tweaks %}

<div class="form-group">
  <div class="input-group-sm">
    {{ form.date.errors }}
    {{ form.date |attr:"autocomplete:off" |attr:"placeholder:Date *" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ form.aircraft_type.errors }}
  {{ form.aircraft_type |add_class:"form-control"}}
  <div><a target="new" href="{% url 'aircraft_create' %}"> New Aircraft</a></div>
</div>
</div>
  <div class="form-group">
  <div class="input-group-sm">
    {{ form.registration.errors }}
    {{ form.registration |add_class:"form-control"}}
    <div><a target="new" href="{% url 'tailnumber_create' %}"> New Tailnumber</a></div>
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Route</label>
    {{ form.route.errors }}
    {{ form.route |attr:"id:route" |attr:"autocomplete:off" |attr:"placeholder:XXX-XXXX-*" |add_class:"form-control"}}
    <small class="form-text text-muted">Use ATA or ICAO and space between to autoformat</small>
  </div>
</div>

<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Duration</label>
    {{ form.duration.errors }}
    {{ form.duration |attr:"placeholder:X.X" |add_class:"form-control"}}
    <small class="form-text text-muted">Positive number greater than .1</small>
  </div>
</div>
<div class="form-group form-inline">
  <div class="row">
    <div class="m-4">
      {{ form.pilot_in_command |attr:"id:pic" |add_class:"form-control exclcb"}} PIC
    </div>
    <div class="m-4">
      {{ form.second_in_command |attr:"id:sic" |add_class:"form-control exlcb"}} SIC
    </div>
    <div class="m-4">
      {{ form.solo |attr:"id:solo" |add_class:"form-control solo"}} Solo
    </div>
    <div class="m-4">
      {{ form.dual |attr:"id:dual" |add_class:"form-control dual"}} Dual
    </div>
    <div class="m-4">
      {{ form.instructor |attr:"id:cfi" |add_class:"form-control"}} CFI
    </div>
    <div class="m-4">
      {{ form.simulator |add_class:"form-control"}} Sim
    </div>
    <div class="m-4">
      {{ form.cross_country |add_class:"form-control"}} XCountry
    </div>
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Day Landings</label>
    {{ form.landings_day.errors }}
  {{ form.landings_day |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Night Landings</label>
    {{ form.landings_night.errors }}
  {{ form.landings_night |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Night</label>
    {{ form.night.errors }}
  {{ form.night |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">IFR</label>
    {{ form.instrument.errors }}
  {{ form.instrument |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Simulated IFR</label>
    {{ form.simulated_instrument.errors }}
  {{ form.simulated_instrument |add_class:"form-control"}}
  </div>
</div>
{{ approaches.management_form }}
<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Approaches</label>
    <p class="text-danger">{{ inlines.non_form_errors }}<p>
    <div id="approach_form" class="">
      <table>
        {{ form.errors }}
        {% for form in approaches %}
          <tr class="formset_row">
            {{ form.id }}
            <td>{{ form.approach_type |add_class:"form-control"}}</td>
            <td>{{ form.number |add_class:"form-control" |attr:"placeholder:Number"}}</td>
            <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<hr>
<div class="form-group">
  <div class="input-group">
    <p class="text-danger">{{ inlines.non_form_errors }}</p>
      {{ holding.management_form }}
        {% for form in holding %}
          {{ form.id }}
            <div class="row">
              <div class="col-1 align-bottom text-muted">Holding {{ form.hold |add_class:"" }}</div>

            </div>
        {% endfor %}
    </div>
  </div>
<hr>

<div class="form-group">
  <div class="input-group-sm">
    <label class="text-muted">Remarks</label>
    {{ form.remarks.errors }}
    {{ form.remarks |add_class:"form-control"}}
    <small class="form-text text-muted">500 char limit</small>
  </div>
</div>

<script src="{% static 'flights/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#approach_form table tr').formset({
            prefix: 'approach_set',
            formCssClass: 'approach-formset'
        });
    })
</script>
{{ form.media }}
