{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' />

<hr>
<div class="row">
  <div class="col">
    {% for year in years reversed %}
      <a href="/flights/by_date/{{ year|date:'Y' }}">{{ year|date:"Y" }}</a>
    {% endfor %}
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <div id="mapid" class="col image-shadow custom-popup">
      {% include 'leaflet.html' %}
    </div>
  </div>
</div>

{% endblock %}
