{% extends 'base.html' %}

{% block content %}
<hr>
<div class="row">
  <div class="col-lg-5">
    <h5>Recent flights</h5>
    {% for flight in recent %}
    <a class="text-nowrap" href="{% url 'flight_detail' flight.pk %}">{{flight.date|date:"m-d-Y"}} | {{flight.route}}</a><br>
    {% endfor %}
  <hr>
  </div>

  <div class="col-lg-7">
    {% if not expiry_date %}
      <h5><a class="text-dark" style="text-decoration: underline;" href="{% url 'profile_update' user.profile.pk %}">Click here to enter your medical certificate info for an expiration date reminder</a></h5>
      {% else %}
      <h5>Medical Certificate Issued - <span class="text-no-wrap">{{ user.profile.medical_issue_date|date:"M Y" }}</span></h5>
      {% if this_month == True %}
      <p>Your certificate expires this month - <span class="text-danger text-no-wrap">{{ expiry_date|date:"M Y" }}</span></p>
      {% else %}
      <p>Your certificate expires - <span class="text-success text-no-wrap">{{ expiry_date|date:"M Y" }}</span></p>
      {% endif %}
    {% endif %}
    <hr>
  </div>
</div>

<div class="row">

  <div class="col-12">
    <ul id="clothing-nav" class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#totals" id="totals-tab" role="tab" data-toggle="tab" aria-controls="totals" aria-expanded="true">Totals</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#stats" role="tab" id="stats-tab" data-toggle="tab" aria-controls="stats">Stats</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#currency" role="tab" id="currency-tab" data-toggle="tab" aria-controls="stats">Currency</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#misc" role="tab" id="misc-tab" data-toggle="tab" aria-controls="misc">Misc</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#iacra" role="tab" id="iacra-tab" data-toggle="tab" aria-controls="iacra">IACRA</a>
      </li>
    </ul>
  </div>
</div>

<!-- Content Panel -->
<div id="" class="tab-content">
  <div role="tabpanel" class="tab-pane fade show active" id="totals" aria-labelledby="totals-tab">
    <br>
    {% include 'home/table_totals.html' %}
  </div>

  <div role="tabpanel" class="tab-pane fade" id="stats" aria-labelledby="stats-tab">
    <br>
    {% include 'home/table_stats.html' %}
  </div>

  <div role="tabpanel" class="tab-pane fade" id="currency" aria-labelledby="currency-tab">
    <br>
    <div class="row">
      <div class="col-lg-4" style="">
        {% include 'home/vfr_currency.html' %}
      </div>
      <div class="col-lg-4" style="">
        {% include 'home/ifr_currency.html' %}
      </div>
      <div class="col-lg-4" style="">
        {% include 'home/type_currency.html' %}
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="misc" aria-labelledby="misc-tab">
    <br>
    <div class="row">
      <div class="col-sm-6" style="">
        {% include 'home/table_operation.html' %}
      </div>
      <div class="col-sm-6" style="">
        {% include 'home/table_weights.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" style="">
        {% include 'home/table_power.html' %}
      </div>
      <div class="col-sm-6" style="">
        {% include 'home/table_endorsements.html' %}
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="iacra" aria-labelledby="iacra-tab">
    <br>
    <div class="scrolling-wrapper">
      <div class="card">
        {% include 'home/iacra.html' %}
      </div>
    </div>
  </div>
</div>


{% include 'tablefixer.html' %}
{% if new_user_flight or new_user_aircraft or new_user_tailnumber is True %}
{% include 'new_user_modal.html' %}
{% else %}
{% endif %}

<script>
  $("#pdf").click(function() {
    $.ajax({
      type: "GET",
      url: "{% url 'pdf' user.id %}",
      success: Swal.fire(
        'Your logbook will be sent to:',
        '{{ user.email }}',
        'success'),
    });
  });
</script>


{% endblock %}
