{% extends 'base.html' %}

{% block content %}

<hr>
<div class="flex-md-row">
  <div class="flex-md-column">
    {% if not expiry_date %}
    <h5><a class="text-dark" style="text-decoration: underline;" href="{% url 'profile_update' user.profile.pk %}">Click here to enter your medical certificate info for an expiration date reminder</a></h5>
    {% else %}
    <h5>Medical Certificate Issued - <span class="text-no-wrap">{{ user.profile.medical_issue_date|date:"M Y" }}</span></h5>
    {% if this_month == True %}
    <p>Your certificate expires this month - <span class="text-danger text-no-wrap">{{ expiry_date|date:"M Y" }}</span></p>
    {% else %}
    <p>Your certificate expires - <span class="text-success text-no-wrap">{{ expiry_date|date:"M Y" }}</span></p>
    {% endif %}
    {% endif %}
  </div>
</div>
<hr>
{% if flight_errors or aircraft_errors or tailnumber_errors or aircraft_needs_tailnumber %}
<div style="margin-top: 15px;" class="row flex-md-row">
  {% if flight_errors %}
  <div class="col flex-md-column">
    <table>
      <thead>
        <th class="text-nowrap">Flight Errors</th>
      </thead>
      <tbody>
        {% for flight in flight_errors %}
        <tr>
          <td><a href="{% url 'flight_detail' flight.pk %}" style="margin-top: 5px;" class="text-danger text-no-wrap">{{ flight.date }} | {{ flight.route }}</a></td><br />
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}

  {% endif %}



  {% if aircraft_needs_tailnumber %}
  <div class="col flex-md-column">
    <table>
      <thead>
        <th class="text-nowrap">Tailnumber Errors</th>
      </thead>
      <tbody>
        {% for aircraft in aircraft_needs_tailnumber %}
        <tr>
          <td><a href="{% url 'aircraft_detail' aircraft.pk %}" style="margin-top: 5px;" class="text-danger text-no-wrap">{{ aircraft }}</a></td><br />
        </tr>
        {% endfor %}
    </table>
  </div>
  {% else %}
  {% endif %}
</div>
{% else %}
<p class="text-success">No Errors</p>
{% endif %}
<hr>

<div style="margin-top: 15px;" class="row flex-md-row">
  <div class="col flex-md-column">
    <h5>Recent flights</h5>
    {% for flight in recent %}
    <a class="text-nowrap" href="{% url 'flight_detail' flight.pk %}">{{flight.date|date:"m-d-Y"}} | {{flight.route}}</a><br>
    {% endfor %}
  </div>
  <hr>
  <div class="col flex-md-column">
    <div>
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
          <th colspan="3" class="text-center text-nowrap" style="width:120px;">VFR Currency<br>
            <small>Currency based on UTC</small></th>
          <tr>
            <td></td>
            <td>Day</td>
            <td>Night</td>
          </tr>


        </thead>
        {% if asel_total.total_time > 0 %}
        <tr>
          <td>ASEL</td>
          {% if asel_vfr_day_current %}
          <td class="text-success">{{ asel_vfr_day }}/3</td>
          {% else %}
          <td class="text-danger">{{ asel_vfr_day }}/3</td>
          {% endif %}
          {% if asel_vfr_night_current %}
          <td class="text-success">{{ asel_vfr_night }}/3</td>
          {% else %}
          <td class="text-danger">{{ asel_vfr_night }}/3</td>
          {% endif %}
        </tr>
        {% else %}
        {% endif %}
        {% if amel_total.total_time > 0 %}
        <tr>
          <td>AMEL</td>
          {% if amel_vfr_day_current %}
          <td class="text-success">{{ amel_vfr_day }}/3</td>
          {% else %}
          <td class="text-danger">{{ amel_vfr_day }}/3</td>
          {% endif %}
          {% if amel_vfr_night_current %}
          <td class="text-success">{{ amel_vfr_night }}/3</td>
          {% else %}
          <td class="text-danger">{{ amel_vfr_night }}/3</td>
          {% endif %}
        </tr>
        {% else %}
        {% endif %}
        {% if asses_total.total_time > 0 %}
        <tr>
          <td>ASES</td>
          {% if ases_vfr_day_current %}
          <td class="text-success">{{ ases_vfr_day }}/3</td>
          {% else %}
          <td class="text-danger">{{ ases_vfr_day }}/3</td>
          {% endif %}
          {% if ases_vfr_night_current %}
          <td class="text-success">{{ ases_vfr_night }}/3</td>
          {% else %}
          <td class="text-danger">{{ ases_vfr_night }}/3</td>
          {% endif %}
        </tr>
        {% else %}
        {% endif %}
        {% if ames_total.total_time %}
        <tr>
          <td>AMES</td>
          {% if ames_vfr_day_current %}
          <td class="text-success">{{ ames_vfr_day }}/3</td>
          {% else %}
          <td class="text-danger">{{ ames_vfr_day }}/3</td>
          {% endif %}
          {% if ames_vfr_night_current %}
          <td class="text-success">{{ ames_vfr_night }}/3</td>
          {% else %}
          <td class="text-danger">{{ ames_vfr_night }}/3</td>
          {% endif %}
        </tr>
        {% else %}
        {% endif %}
        {% if helo_total.total__time > 0 %}
        <tr>
          <td>HELO</td>
          {% if helo_vfr_day_current %}
          <td class="text-success text-nowrap">{{ helo_vfr_day }}/3 Day</td>
          {% else %}
          <td class="text-danger text-nowrap">{{ helo_vfr_day }}/3 Day</td>
          {% endif %}
          {% if helo_vfr_night_current %}
          <td class="text-success text-nowrap">{{ helo_vfr_night }}/3 Night</td>
          {% else %}
          <td class="text-danger text-nowrap">{{ helo_vfr_night }}/3 Night</td>
          {% endif %}
        </tr>
        {% else %}
        {% endif %}
        {% if gyro_total.total_time %}
        <tr>
          <td>GYRO</td>
          {% if gyro_vfr_day_current %}
          <td class="text-success text-nowrap">{{ gyro_vfr_day }}/3 Day</td>
          {% else %}
          <td class="text-danger text-nowrap">{{ gyro_vfr_day }}/3 Day</td>
          {% endif %}
          {% if gyro_vfr_night_current %}
          <td class="text-success text-nowrap">{{ gyro_vfr_night }}/3 Night</td>
          {% else %}
          <td class="text-danger text-nowrap">{{ gyro_vfr_night }}/3 Night</td>
          {% endif %}
        </tr>
        {% else %}
        {% endif %}

        {% for k, v in type_currency_day.items %}
          {{ k }}, {{ v.0 }}, {{ v.1 }}
        {% endfor %}

        {% for k, v in type_currency_night.items %}
          {{ k }}, {{ v.0 }}, {{ v.1 }}
        {% endfor %}

      </table>
    </div>
  </div>
  <div class="col flex-md-column">
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <th colspan=2 class="text-center text-nowrap">IFR Currency<br>
          <small>Currency based on UTC</small></th>
      </thead>

      {% if appr_quantity < 6 %}
      <tr>
        <td>Approaches</td>
        <td class="text-danger text-nowrap">{{ appr_quantity }}/6 - {{ still_needed }} Still needed by {{ appr_current_date }}</td>
      </tr>
      {% elif appr_quantity >= 6 %}
      <tr>
        <td>Approaches</td>
        <td class="text-success text-nowrap">{{ appr_quantity }}/6 - Current until {{ appr_current_date }}</td>
      </tr>
      {% else %}
      <tr>
        <td>Approaches</td>
        <td class="text-danger text-nowrap">None in last 6 months</td>
      </tr>
      {% endif %}
      {% if not hold_quantity or hold_quantity == 0 %}
      <tr>
        <td>Holding</td>
        <td class="text-danger text-nowrap">None in last 6 months</td>
      </tr>
      {% else %}
      <tr>
        <td>Holding</td>
        <td class="text-success text-nowrap">{{ hold_quantity }}/1 - Current until {{ hold_current_date }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <ul id="clothing-nav" class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#totals" id="totals-tab" role="tab" data-toggle="tab" aria-controls="totals" aria-expanded="true">Totals</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#stats" role="tab" id="stats-tab" data-toggle="tab" aria-controls="stats">Stats</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#misc" role="tab" id="misc-tab" data-toggle="tab" aria-controls="misc">Misc</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#iacra" role="tab" id="iacra-tab" data-toggle="tab" aria-controls="iacra">IACRA</a>
      </li>
    </ul>

    <!-- Content Panel -->
    <div id="" class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="totals" aria-labelledby="totals-tab">
        <br>
        {% include 'home/table_totals.html' %}
      </div>

      <div role="tabpanel" class="tab-pane fade" id="stats" aria-labelledby="stats-tab">
        <br>
        {% include 'home/table_stats.html' %}
      </div>

      <div role="tabpanel" class="tab-pane fade" id="misc" aria-labelledby="misc-tab">
        <br>
        <div class="row flex-md-row">
          <div class="col flex-md-column" style="">
            {% include 'home/table_operation.html' %}
          </div>
          <div class="col flex-md-column2" style="">
            {% include 'home/table_weights.html' %}
          </div>
        </div>
        <div class="row flex-md-row">
          <div class="col flex-md-column" style="">
            {% include 'home/table_power.html' %}
          </div>
          <div class="col flex-md-column" style="">
            {% include 'home/table_endorsements.html' %}
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="iacra" aria-labelledby="iacra-tab">
        <br>
        <div class="scrolling-wrapper">
          <div class="card">
            {% include 'home/iacra.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include 'tablefixer.html' %}
  {% if new_user_flight or new_user_aircraft or new_user_tailnumber is True %}
  {% include 'new_user_modal.html' %}
  {% else %}
  {% endif %}

  <script>
    $("#pdf").click(function(){
      $.ajax({
        type: "GET",
        url: "{% url 'pdf' user.id %}",
        success: Swal.fire(
          'Your logbook will be sent to:',
          '{{ user.email }}',
          'success'),
      });
    });
  </script>


  {% endblock %}
