services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    image: myapp:web
    env_file: [docker.env]
    command: ["bash", "docker/entrypoint.web.sh"]
    depends_on:
      rabbit:
        condition: service_healthy
    expose:
      - "8000"
    volumes:
      - static_data:/app/staticfiles
      - media_data:/app/media
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import socket; s=socket.socket(); s.settimeout(2); s.connect(('127.0.0.1',8000)); print('ok')",
        ]
      interval: 30s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    depends_on:
      web:
        condition: service_healthy
    ports:
      - "80:80"
      # - "443:443"   # if terminating TLS here
    volumes:
      - static_data:/static:ro
      - media_data:/media:ro
      - ./docker/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    image: myapp:web
    env_file: [docker.env]
    command: ["bash", "docker/entrypoint.worker.sh"]
    depends_on:
      rabbit:
        condition: service_healthy
    restart: unless-stopped

  beat:
    build:
      context: .
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    image: myapp:web
    env_file: [docker.env]
    command: ["bash", "docker/entrypoint.beat.sh"]
    depends_on:
      rabbit:
        condition: service_healthy
    restart: unless-stopped

  rabbit:
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-guest}
    ports:
      - "15672:15672" # management UI
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 30
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-myapp}
      POSTGRES_USER: ${POSTGRES_USER:-myapp}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h 127.0.0.1 -p 5432",
        ]
      interval: 10s
      timeout: 5s
      retries: 30
    restart: unless-stopped

  # Optional: Flower for Celery monitoring
  flower:
    image: mher/flower:latest
    environment:
      FLOWER_PORT: 5555
      CELERY_BROKER_URL: amqp://${RABBITMQ_USER:-guest}:${RABBITMQ_PASS:-guest}@rabbit:5672//
    ports:
      - "5555:5555"
    depends_on:
      rabbit:
        condition: service_healthy
    restart: unless-stopped

volumes:
  pg_data:
  static_data:
  media_data:
