arrow==0.12.1
blessed==1.15.0
cairocffi==0.9.0
CairoSVG==2.2.1
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
click==6.7
cssselect2==0.2.1
defusedxml==0.5.0
Django==1.11.6
django-anymail==5.0
django-appconf==1.0.2
django-autocomplete-light==3.2.10
django-columns==0.1.0
django-compat==1.0.15
django-compressor==2.2
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-extensions==1.9.6
django-extra-views==0.12.0
django-picklefield==1.0.0
django-sass-processor==0.7.2
django-weasyprint==0.5.2
django-widget-tweaks==1.4.1
django-wkhtmltopdf==3.2.0
djangorestframework==3.7.1
drfdocs==0.0.11
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
libsass==0.17.0
mccabe==0.6.1
oauthlib==2.0.4
pdfrw==0.4
Pillow==5.0.0
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.5.0
PyPDF2==1.26.0
Pyphen==0.9.4
python-dateutil==2.7.3
python-decouple==3.1
python-memcached==1.59
python3-openid==3.1.0
pytz==2017.2
rcssmin==1.0.6
redis==2.10.6
reportlab==3.5.12
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
rq==0.12.0
six==1.11.0
sqlparse==0.2.4
tinycss2==0.6.1
urllib3==1.22
virtualenv==16.0.0
wcwidth==0.1.7
WeasyPrint==0.42.3
webencodings==0.5.1
Werkzeug==0.12.2
whitenoise==4.1.2
xhtml2pdf==0.2.2
