certifi==2019.3.9
chardet==3.0.4
Django==1.11.6
django-anymail==5.0
django-autocomplete-light==3.2.10
django-columns==0.1.0
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-extensions==1.9.6
django-extra-views==0.12.0
django-picklefield==1.0.0
django-widget-tweaks==1.4.1
djangorestframework==3.7.1
drfdocs==0.0.11
gunicorn==19.9.0
idna==2.8
Pillow==6.0.0
psycopg2-binary==2.8.1
python-decouple==3.1
pytz==2019.1
reportlab==3.5.12
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.1
whitenoise==4.1.2
