{% extends 'base.html'%}
{% block content%}

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <h4>Flight Error</h4>
      {% if not flight_aircraft_error %}
        <p>No aircraft errors</p>
      {% else %}
        <h5>Missing aircraft type</h5>
        {% for error in flight_aircraft_error %}
        <div  class="item">
          <a href ="{% url 'flight_detail' error.pk %}" class="btn btn-default btn-xs">
          {{error.date}} {{error.registration}} {{error.route}}</a>
        </div>
        {% endfor %}
      {% endif %}

    {% if not flight_tailnumber_error %}
      <p>No tailnumber errors</p>
      {% else %}
        <h5>Missing tailnumber</h5>
        {% for error in flight_tailnumber_error %}
        <div  class="item">
          <a href ="{% url 'flight_detail' error.pk %}" class="btn btn-default btn-xs">
          {{error.date}} {{error.aircraft_type}} {{error.route}}</a>
        </div>
      {% endfor %}
    {% endif %}

    {% if not flight_role_error %}
      <p>No role errors</p>
      {% else %}
      <h5>Missing role</h5>
        {% for error in flight_role_error %}
        <div  class="item">
          <a href ="{% url 'flight_detail' error.pk %}" class="btn btn-default btn-xs">
          {{error.date}} {{error.aircraft_type}} {{error.route}}</a>
        </div>
        {% endfor %}
      {% endif %}

    {% if not flight_cross_country_error %}
      <p>No duration errors</p>
      {% else %}
      <h5>Possibly missing cross country</h5>
        {% for error in flight_cross_country_error %}
        <div  class="item">
          <a href ="{% url 'flight_detail' error.pk %}" class="btn btn-default btn-xs">
          {{error.date}} {{error.aircraft_type}} {{error.route}} {{error.duration}}</a>
        </div>
        {% endfor %}
      {% endif %}
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3" id="weight">
    <h4>Map / Route Error</h4>
    <hr>
    {% if not map_identifier_error %}
      <p>No airport ID errors</p>
    {% else %}
        {% for key, values in map_identifier_error.items %}
            <h5>{{key}}</h5>
            {% for error in values %}
            <div  class="item">
              <a href ="{% url 'flight_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
                {{ error.route }}</a>
            </div>
            {% endfor %}
            <hr>
          {% endfor %}
    {% endif %}

    {% if not map_duplicate_error %}
      <p>No FAA / IATA errors</p>
    {% else %}
      <h5>FAA / IATA duplicate</h5>
      <hr>
      {% for key, values in map_duplicate_error.items %}
          <h5>{{key}}</h5>
          {% for error in values %}
          <div  class="item">
            <a href ="{% url 'flight_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
              {{ error.route }}</a>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

  </div>
</div>

{% endblock %}
