{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load math_filters %}

<link rel="stylesheet" type="text/css" href="{% static 'flights/scss/bootstrap/bootstrap.css' %}" />
<style>
  td{
    padding: 5px;
  }
  table{
    margin-top: 20px
  }
  .entry{
    .font-weight-bold;
    .text-center;
  }
</style>
<div class="container">
<div class="row">
	<table width="100%" border="1">
  <tbody>
    <tr>
      <th colspan="13" class="text-left">III RECORD OF PILOT TIME</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="text-center">Total</td>
      <td class="text-center">Instruction Recieved</td>
      <td class="text-center">Solo</td>
      <td class="text-center">PIC and SIC</td>
      <td class="text-center">Cross Country Instruction Recieved</td>
      <td class="text-center">Cross Country Solo</td>
      <td class="text-center">Cross Country PIC/SIC</td>
      <td class="text-center">Instrument</td>
      <td class="text-center">Night Instruction Recieved</td>
      <td class="text-center">Night Take-Off / Landing</td>
      <td class="text-center">Night PIC/SIC</td>
      <td class="text-center">Night Take-Off/Landing PIC/SIC</td>
    </tr>
    <tr>
      <td rowspan="4">Airplane</td>
      <td rowspan="4" class="text-center">{% addition ASEL.total_time AMEL.total_time ASES.total_time AMES.total_time %}</td>
      <td rowspan="4" class="text-center">{% addition ASEL.dual AMEL.dual ASES.dual AMES.dual %}</td>
      <td rowspan="4" class="text-center">{% addition ASEL.solo AMEL.solo ASES.solo AMES.solo %}</td>
      <td class="text-center">PIC</td>
      <td rowspan="4" class="text-center">{{ airplane_xc_dual }}</td>
      <td rowspan="4" class="text-center">{{ airplane_xc_solo }}</td>
      <td rowspan="4" class="text-center">{{ airplane_xc_pic_sic }}</td>
      <td rowspan="4" class="text-center">{% addition ASEL.instrument AMEL.instrument ASES.instrument AMES.instrument %}</td>
      <td rowspan="4" class="text-center">{{ airplane_night_dual }}</td>
      <td rowspan="4" class="text-center">{% addition ASEL.landings_night AMEL.landings_night ASES.landings_night AMES.landings_night %}</td>
      <td rowspan="4" class="text-center">{{ airplane_night_pic_sic }}</td>
      <td class="text-center">PIC</td>
    </tr>
    <tr>
      <td class="text-center">{% addition ASEL.pilot_in_command AMEL.pilot_in_command ASES.pilot_in_command AMES.pilot_in_command%}</td>
      <td class="text-center">{{ airplane_night_ldg_pic }}</td>
    </tr>
    <tr>
      <td class="text-center">SIC</td>
      <td class="text-center">SIC</td>

    </tr>
    <tr>
      <td class="text-center">{% addition ASEL.second_in_command AMEL.second_in_command ASES.second_in_command AMES.second_in_command%}</td>
      <td class="text-center">{{ airplane_night_ldg_sic }}</td>
    </tr>
    <tr>
      <td rowspan="4">Rotorcraft</td>
      <td rowspan="4" class="text-center">{% addition GYRO.total_time HELO.total_time %}</td>
      <td rowspan="4" class="text-center">{% addition GYRO.dual HELO.dual %}</td>
      <td rowspan="4" class="text-center">{% addition GYRO.solo HELO.solo %}</td>
      <td class="text-center">PIC</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_xc_dual }}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_xc_solo }}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_xc_pic_sic }}</td>
      <td rowspan="4" class="text-center">{% addition HELO.instrument GYRO.instrument %}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_night_dual }}</td>
      <td rowspan="4" class="text-center">{% addition HELO.landings_night GYRO.landings_night %}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_night_pic_sic }}</td>
      <td class="text-center">PIC</td>
    </tr>
    <tr>
      <td></td>
      <td class="text-center">{{ rotorcraft_night_ldg_pic }}</td>
    </tr>
    <tr>
      <td class="text-center">SIC</td>
      <td class="text-center">SIC</td>
    </tr>
    <tr>
      <td></td>
      <td class="text-center">{{ rotorcraft_night_ldg_sic }}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="row justify-content-center align-items-center">
	<table width="50%" border="1">
		<thead>
			<tr>
			  <th colspan="9" class="text-center">Class Totals</th>
			</tr>
		</thead>
  <tbody>
    <tr>
      <td rowspan="3" class="text-center">Airplane</td>
      <td colspan="2" class="text-center">SEL</td>
      <td colspan="2" class="text-center">MEL</td>
      <td colspan="2" class="text-center">SES</td>
      <td colspan="2" class="text-center">MES</td>
    </tr>
    <tr>
      <td class="text-center">PIC</td>
	    <td class="text-center">{{ ASEL.pilot_in_command }}</td>
      <td class="text-center">PIC</td>
      <td class="text-center">{{ AMEL.pilot_in_command }} </td>
	    <td class="text-center">PIC</td>
      <td class="text-center">{{ ASES.pilot_in_command }}</td>
	  <td class="text-center">PIC</td>
    <td class="text-center">{{ AMES.pilot_in_command }}</td>
    </tr>
        <tr>
          <td class="text-center">SIC</td>
          <td class="text-center">{{ ASEL.second_in_command }}</td>
          <td class="text-center">SIC</td>
          <td class="text-center">{{ AMEL.second_in_command }}</td>
          <td class="text-center">SIC</td>
          <td class="text-center">{{ ASES.second_in_command }}</td>
    	    <td class="text-center">SIC</td>
          <td class="text-center">{{ AMES.second_in_command }}</td>
        </tr>
        <tr>
          <td rowspan="2" class="text-center">Rotorcraft</td>
          <td colspan="4" class="text-center">Helicopter</td>
          <td colspan="4" class="text-center">Gyroplane</td>
        </tr>
     	  <td colspan="4" class="text-center">{{ HELO.total_time }}</td>
    	  <td colspan="4" class="text-center">{{ GYRO.total_time }}</td>
    	<tr>
    	  <td rowspan="2" class="text-center">FFS</td>
    	  <td colspan="2" class="text-center">SE</td>
    	  <td colspan="2" class="text-center">ME</td>
    	  <td colspan="4" class="text-center">Helicopter</td>
    	</tr>
    	<tr>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="4">&nbsp;</td>
    	</tr>
    	<tr>
    	  <td class="text-center">FTD</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="4">&nbsp;</td>
    	</tr>
    	<tr>
    	  <td class="text-center">ATD</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="4">&nbsp;</td>
    	</tr>
      </tbody>
    </table>

    </div>
  </div>
</div>

{% endblock %}
