{% load widget_tweaks %}

<div class="form-group row">
  <label for="id_aircraft_type" class="col-4 col-form-label">Aircraft Type<br></label>
  <div class="col-6">
    {{ form.aircraft_type |add_class:"form-control"}}
  </div>
</div>
<div class="form-group row">
  <label for="id_aircraft_category" class="col-4 col-form-label">Category<br></label>
  <div class="col-6">
    {{ form.aircraft_category |add_class:"form-control"}}
  </div>
</div>
<div class="form-group row">
  <label for="id_aircraft_class" class="col-4 col-form-label">Class<br></label>
  <div class="col-6">
    {{ form.aircraft_class |add_class:"form-control"}}
  </div>
</div>
<div class="form-group row">
  <label for="id_total_time" class="col-4 col-form-label">Total Time</label>
  <div class="col-6">
    {{ form.total_time |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_pilot_in_command" class="col-4 col-form-label">Pilot in Command</label>
  <div class="col-6">
    {{ form.pilot_in_command |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_second_in_command" class="col-4 col-form-label">Second in Command</label>
  <div class="col-6">
    {{ form.second_in_command |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label class="col-4 col-form-label" for="id_cross_country">Cross Country</label>
  <div class="col-6">
    {{ form.cross_country |add_class:"form-control" }}
</div>
</div>
<div class="form-group row">
  <label for="id_instructor" class="col-4 col-form-label">Instructor</label>
  <div class="col-6">
    {{ form.instructor |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_dual" class="col-4 col-form-label">Dual</label>
  <div class="col-6">
    {{ form.dual |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_solo" class="col-4 col-form-label">Solo</label>
  <div class="col-6">
    {{ form.solo |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_instrument" class="col-4 col-form-label">Instrument</label>
  <div class="col-6">
    {{ form.instrument |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_night" class="col-4 col-form-label">Night</label>
  <div class="col-6">
    {{ form.night |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_simulated_instrument" class="col-4 col-form-label">Simulated Instrument</label>
  <div class="col-6">
    {{ form.simulated_instrument |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_simulator" class="col-4 col-form-label">Simulator</label>
  <div class="col-6">
    {{ form.simulator |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_landings_day" class="col-4 col-form-label">Day Landings</label>
  <div class="col-6">
    {{ form.landings_day |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_landings_night" class="col-4 col-form-label">Night Landings</label>
  <div class="col-6">
    {{ form.landings_night |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_landings_total" class="col-4 col-form-label">Total Landings</label>
  <div class="col-6">
    {{ form.landings_total |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_date" class="col-4 col-form-label">Last Flown</label>
  <div class="col-6">
    {{ form.last_flown |attr:"id:id_date" |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_last_30" class="col-4 col-form-label">Last 30 days</label>
  <div class="col-6">
    {{ form.last_30 |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_last_60" class="col-4 col-form-label">Last 60 days</label>
  <div class="col-6">
    {{ form.last_60 |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="is_last_90" class="col-4 col-form-label">Last 90 days</label>
  <div class="col-6">
    {{ form.last_90 |add_class:"form-control" }}  </div>
</div>
<div class="form-group row">
  <label for="id_last_180" class="col-4 col-form-label">Last 6 months</label>
  <div class="col-6">
    {{ form.last_180 |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_last_year" class="col-4 col-form-label">Last 12 months</label>
  <div class="col-6">
    {{ form.last_yr |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_last_2yr" class="col-4 col-form-label">Last 24 months</label>
  <div class="col-6">
    {{ form.last_2yr |add_class:"form-control" }}
  </div>
</div>
<div class="form-group row">
  <label for="id_ytd" class="col-4 col-form-label">Year to date</label>
  <div class="col-6">
    {{ form.ytd |add_class:"form-control" }}
  </div>
</div>
