{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-12">
    <form action="" class="form-horizontal" method="post">
      {% csrf_token %}
        <div class="form-group">
          <h4>New Bulk Entry</h4>
          <p>Required *</p>
          {{ form.non_field_errors }}
        </div>
        <hr>
          {% include 'import_aircraft/import_aircraft_form.html' %}
        <hr>
      <button class="btn-shadow btn-shadow-dark btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>

{% include 'flights/datepicker.html' %}
{{ form.media }}
{% endblock %}
