{% extends 'base.html' %}

{% block content %}
<hr>
<div>

  <a class="btn btn-primary" href="{% url 'aircraft_create' %}">New Aircraft</a>
  <a class="btn btn-primary" href="{% url 'tailnumber_create' %}">New Tailnumber</a>
  <a class="btn btn-secondary" href="{% url 'imported_list' %}">Previous Aircraft</a>


</div>

<div class="mt-4">
  {% for aircraft in aircraft_needs_tailnumber %}
  <p><u><a class="text-danger" href="{% url 'aircraft_detail' aircraft.pk %}">{{ aircraft.aircraft_type }}</a></u> Has not been assigned a tailnumber. It will not be included in any calculations.</p>
  {% endfor %}
</div>
<hr>
{% if imported_aircraft %}
  <div class="mt-4">
    <h5>Imported aircraft</h5>
      {% for aircraft in imported_aircraft %}
        <a class="ml-4 text-dark" href="{% url 'aircraft_detail' aircraft.pk %}"><h6>{{ aircraft.aircraft_type }}</h6></a>
      {% endfor %}
  </div>
  <hr>
  {% else %}
{% endif %}


{% regroup tailnumbers by aircraft as aircraft_list %}
<div class="row">
  {% for aircraft in aircraft_list %}
  <div class="col-12"><u><a class="text-dark" href="{% url 'aircraft_detail' aircraft.grouper.pk %}">
        <h4>{{ aircraft.grouper }}</h4>
      </a></u>
    <div style="display: inline;">
      {% for tailnumber in aircraft.list %}
      <a href="{% url 'tailnumber_detail' tailnumber.pk %}">{{ tailnumber.registration }}</a>
      {% endfor %}
    </div>
    <hr>
  </div>
  {% endfor %}

</div>

{% if new_user_flight or new_user_aircraft or new_user_tailnumber is True %}
{% include 'new_user_modal.html' %}
{% else %}
{% endif %}

{% endblock %}
