{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="col-12">
  <div class="form-group">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <div class="form-group">
          <p><input type="email" class="form-control"{{ form.email }}</></p>
        </div>
        <div class="form-group">
        <p><input type="text" class="form-control"{{ form.username }}</></p>
        </div>
        <div class="form-group">
          <p><input placeholder="Password" type="password" class="form-control"{{ form.password1 }}</></p>
        </div>
        <div class="form-group">
          <p><input placeholder="Password (again)" type="password" class="form-control"{{ form.password2 }}</></p>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn-shadow btn-shadow-dark" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
</div>

{% endblock %}
