{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'flights/images/favicon.ico' %}"/>

    <title>{{ title }}</title>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- jqueryui -->
    <script src="{% static 'flights/jqueryui/jquery-ui.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'flights/jqueryui/jquery-ui.css' %}" />

    <script type="text/javascript" src="{% static 'flights/sweetalert2/sweetalert2.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'flights/sweetalert2/sweetalert2.css' %}">
  </head>


  <body>

  </body>


  <script>
    $( document ).ready(function() {
      swal({
        title: "Check your email.",
        text: "Thanks for being patient!",
        icon: "success",
        type: "success",
      });
     });
  </script>
</html>
