{% load widget_tweaks %}

<div class="form-group">
  <div class="input-group-sm">
    {{ form.aircraft_type.errors }}
    {{ form.aircraft_type |add_class:"" }}
    <label class="control-label text-muted">Aircraft Type</label>
  </div>
  <div class="input-group-sm">

    {{ form.total_time.errors }}
    {{ form.total_time |add_class:"" }}
    <label class="control-label text-muted">Total Time</label>
  </div>
  <div class="input-group-sm">
    {{ form.pilot_in_command.errors }}
    {{ form.pilot_in_command |add_class:"" }}
    <label class="text-muted">Pilot in Command</label>
  </div>
  <div class="input-group-sm">
    {{ form.second_in_command.errors }}
    {{ form.second_in_command |add_class:"" }}
    <label class="control-label text-muted">Second in Command</label>
  </div>
  <div class="input-group-sm">
    {{ form.cross_country.errors }}
    {{ form.cross_country |add_class:"" }}
    <label class="control-label text-muted">Cross Country</label>
  </div>
  <div class="input-group-sm">
    {{ form.instructor.errors }}
    {{ form.instructor |add_class:"" }}
    <label class="control-label text-muted">Instructor</label>
  </div>
  <div class="input-group-sm">
    {{ form.dual.errors }}
    {{ form.dual |add_class:"" }}
    <label class="control-label text-muted">Dual</label>
  </div>
  <div class="input-group-sm">
    {{ form.solo.errors }}
    {{ form.solo |add_class:"" }}
    <label class="control-label text-muted">Solo</label>
  </div>
  <div class="input-group-sm">
    {{ form.instrument.errors }}
    {{ form.instrument |add_class:"" }}
    <label class="control-label text-muted">Instrument</label>
  </div>
  <div class="input-group-sm">
    {{ form.night.errors }}
    {{ form.night |add_class:"" }}
    <label class="control-label text-muted">Night</label>
  </div>
  <div class="input-group-sm">
    {{ form.simulated_instrument.errors }}
    {{ form.simulated_instrument |add_class:"" }}
    <label class="control-label text-muted">Simulated Instrument</label>
  </div>
  <div class="input-group-sm">
    {{ form.simulator.errors }}
    {{ form.simulator |add_class:"" }}
    <label class="control-label text-muted">Simulator</label>
  </div>
  <div class="input-group-sm">
    {{ form.landings_day.errors }}
    {{ form.landings_day |add_class:"" }}
    <label class="control-label text-muted">Day Landings</label>
  </div>
  <div class="input-group-sm">
    {{ form.landings_night.errors }}
    {{ form.landings_night |add_class:"" }}
    <label class="control-label text-muted">Night Landings</label>
  </div>
  <div class="input-group-sm">
    {{ form.landings_total.errors }}
    {{ form.landings_total |add_class:"" }}
    <label class="control-label text-muted">Total Landings</label>
  </div>
  <div class="input-group-sm">
    {{ form.last_flown.errors }}
    {{ form.last_flown |attr:"id:id_date" |attr:"autocomplete:off" |attr:"placeholder:date" |add_class:""}}
    <label class="control-label text-muted">Last Flown</label>
  </div>
  <div class="input-group-sm">
    {{ form.last_30.errors }}
    {{ form.last_30 |add_class:"" }}
    <label class="control-label text-muted">Last 3 days</label>
  </div>
  <div class="input-group-sm">
    {{ form.last_60.errors }}
    {{ form.last_60 |add_class:"" }}
    <label class="control-label text-muted">Last 60 days</label>
  </div>
  <div class="input-group-sm">
    {{ form.last_90.errors |add_class:""}}
    {{ form.last_90 |add_class:"" }}
    <label class="control-label text-muted">Last 90 days</label>
  </div>
  <div class="input-group-sm">
    {{ form.last_180.errors }}
    {{ form.last_180 |add_class:"" }}
    <label class="control-label text-muted">Last 6 months</label>
  </div>
  <div class="input-group-sm">
    {{ form.last_yr.errors }}
    {{ form.last_yr |add_class:"" }}
    <label class="control-label text-muted">Last year</label>
  </div>
  <div class="input-group-sm">
    {{ form.last_2yr.errors }}
    {{ form.last_2yr |add_class:"" }}
    <label class="control-label text-muted">Last 2 years</label>
  </div>
  <div class="input-group-sm">
    {{ form.ytd.errors }}
    {{ form.ytd |add_class:"" }}
    <label class="control-label text-muted">Year to date</label>
  </div>
</div>
