<script type="text/javascript">
// exclusive checkbox selection
  $("#turbine").change(function() {
      var checked = $(this).is(':checked');
      $("#piston").prop('checked',false);
      if(checked) {
          $(this).prop('checked',true);
      }
  });
  $("#piston").change(function() {
      var checked = $(this).is(':checked');
      $("#turbine").prop('checked',false);
      if(checked) {
          $(this).prop('checked',true);
      }
  });
  $("#type").change(function() {
      var checked = $(this).is(':checked');
      $("#complex").prop('checked',true);
      if(checked) {
          $(this).prop('checked',true);
      }
      $("#high_perf").prop('checked',true);
      if(checked) {
          $(this).prop('checked',true);
      }
  });

  $("#complex").change(function() {
      var checked = $(this).is(':checked');
      $("#simple").prop('checked',false);
      if(checked) {
          $(this).prop('checked',true);
      }
  });
  $("#simple").change(function() {
      var checked = $(this).is(':checked');
      $("#complex").prop('checked',false);
      if(checked) {
          $(this).prop('checked',true);
      }
  });

  $('div .weights').click(function () {
     checkedState = $(this).attr('checked');
      $(this).parent('div').children('.checkbox:checked').each(function () {
          $(this).attr('checked', false);
      });
      $(this).attr('checked', checkedState);
  });

</script>
