{% extends 'base.html' %}
{% load static %}
{% load flights_filters %}
{% load columns %}
{% block content%}

<div class="row">
  <div class="col-3">
    <h3>{{ aircraft.aircraft_type }}</h3>
    <hr>
    <div class="btn-group">
      <a href ="{% url 'aircraft_update' aircraft.pk %}" class="btn btn-outline-secondary">Update</a>
      <a href ="{% url 'aircraft_delete' aircraft.pk %}" class="btn btn-outline-danger">Delete</a>
    </div>

      <hr>
      {% if aircraft.turbine %}
        <p>Turbine</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.piston %}
        <p>Piston</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.requires_type %}
        <p>Requires Type Rating</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.simple %}
        <p>Simple</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.tailwheel %}
        <p>Tailwheel</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.compleks %}
        <p>Complex</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.high_performance %}
        <p>High performance</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.super %}
        <p>Super</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.heavy %}
        <p>Heavy</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.large %}
        <p>Large</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.medium %}
        <p>Medium</p>
        <hr>
        {% else %}
      {% endif %}
      {% if aircraft.small %}
        <p>Small</p>
        <hr>
        {% else %}
      {% endif %}

    <p>Category - {{ aircraft.aircraft_category }}</p>
    <p>Class - {{ aircraft.aircraft_class }}</p>
  </div>

  <div class="col-4">
    <h3>Tailnumbers</h3>
    <hr>
    <a class="btn btn-outline-primary"target="new" href="{% url 'tailnumber_create' %}"> New Tailnumber</a>
    <hr>

    {% for tailnumber in tailnumbers %}

        <a class="" href ="{% url 'tailnumber_detail' tailnumber.pk %}">{{ tailnumber.registration }}</a>
    {% endfor %}

  </div>

  <div class="col-5">
    {% if aircraft.image %}
      <div><img alt="aircraft photo" class="ac-img image-shadow img-rounded img-fluid" src="{{ aircraft.image }}"></img></div>
    {% else %}
      <img alt="aircraft photo" class="ac-img image-shadow img-rounded img-fluid" src="{% static 'flights/images/aircraft-placeholder.png' %}"></img>
    {% endif %}
  </div>
</div>


{% if aircraft.power_error or aircraft.config_error %}

  <div class="modal fade" id="errors">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Please correct the following errors</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          {% if aircraft.power_error %}
            <p class"text-danger">{{ aircraft.power_error }}</p>
            <hr>
          {% endif %}
          {% if aircraft.config_error %}
            <p class"text-danger">{{ aircraft.config_error }}<p>
          <hr>
          {% endif %}
          {% if aircraft.weight_error %}
            <p class"text-danger">{{ aircraft.weight_error }}<p>
          <hr>
          {% endif %}
          {% if aircraft.weight_error %}
            <p class"text-danger">{{ aircraft.category_error }}<p>
          <hr>
          {% endif %}
          {% if aircraft.weight_error %}
            <p class"text-danger">{{ aircraft.class_error }}<p>
          <hr>
          {% endif %}
          <a href ="{% url 'aircraft_update' aircraft.pk %}" class="btn btn-outline-secondary">Update</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
{% endif %}

<script>
  $(function() {
   $("#errors").modal();
  });
</script>

{% endblock %}
