{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-12 col-sm-12">
    <form action="" class="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <h4>Update {{ aircraft.aircraft_type }}</h4>
        <p>Required *</p>
      </div>
      <hr>
      {% include 'aircraft/aircraft_form.html' %}
      <hr>
      <button class="btn-shadow btn-shadow-dark btn-block" type="submit">Update</button>
    </form>
  </div>
</div>
{% endblock %}
