{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <a href class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#new_aircraft_modal"> New Aircraft</a> -->
<div class="row">
  <a href="{% url 'aircraft_create' %}" class="btn btn-shadow btn-primary btn-sm"> New Aircraft</a>
</div>

  <hr>

<div class="row">
  {% for aircraft in object_list %}
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div style="margin-top: 10px;" class="card">
      {% if aircraft.image %}
        <img class="card-img-top img-fluid" src={{ aircraft.image }}>
        {% else %}
      {% endif %}
      <div class="card-body">
        {% if aircraft.config_error or aircraft.power_error or aircraft.weight_error or aircraft.category_error or aircraft.class_error %}
        <h4 class="card-title text-danger">{{ aircraft.aircraft_type }}</h4>
        <p class="card-text"></p>
        <a href ="{% url 'aircraft_detail' aircraft.pk %}" class="btn btn-outline-danger btn-sm">View</a>
        {% else %}
        <h4 class="card-title">{{ aircraft.aircraft_type }}</h4>
        <p class="card-text"></p>
        <a href ="{% url 'aircraft_detail' aircraft.pk %}" class="btn btn-outline-primary btn-sm">View</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div><!-- row -->

{% include 'aircraft/aircraft_create_form_modal.html' %}

{% endblock %}
