{% extends 'base.html' %}
{% block content %}

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3">
  <h4>Aircraft Error</h4>
  {% if not aircraft_power_error %}
    <p>No power errors</p>
  {% else %}
    <h5>Missing power type</h5>
      {% for error in aircraft_power_error %}
      <div  class="item">
        <a href ="{% url 'aircraft_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
        {{ error }}</a>
      </div>
      {% endfor %}
    {% endif %}

  {% if not aircraft_weight_error %}
    <p>No weight errors</p>
  {% else %}
    <h5>Missing aircraft weight</h5>
      {% for error in aircraft_weight_error %}
      <div  class="item">
        <a href ="{% url 'aircraft_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
        {{ error }}</a>
      </div>
      {% endfor %}
    {% endif %}

{% if not aircraft_endorsement_error %}
  <p>No endorsement errors</p>
{% else %}
  <h5>Missing endorsement</h5>
    {% for error in aircraft_endorsement_error %}
    <div  class="item">
      <a href ="{% url 'aircraft_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
      {{ error }}</a>
    </div>
    {% endfor %}
  {% endif %}

{% if not aircraft_category_error %}
  <p>None missing category</p>
{% else %}
  <h5>Missing category</h5>
    {% for error in aircraft_category_error %}
    <div  class="item">
      <a href ="{% url 'aircraft_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
      {{ error }}</a>
    </div>
    {% endfor %}
  {% endif %}

{% if not aircraft_class_error %}
  <p>None missing class</p>
{% else %}
  <h5>Missing class</h5>
  {% for error in aircraft_class_error %}
  <div  class="item">
    <div class="">
      <a href ="{% url 'aircraft_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
      {{ error }}</a>
    </div>
  </div>
  {% endfor %}
{% endif %}
</div>

<div class="col-lg-3 col-md-3 col-sm-3">
  <h4>Tailnumber Error</h4>
    {% if not tailnumber_reg_error %}
      <p>No FAR errors</p>
    {% else %}
      <h5>Missing FAR classification</h5>
      <hr>
      {% for error in tailnumber_reg_error %}
      <div  class="item">
        <a href ="{% url 'tailnumber_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
          {{ error }}</a>
      </div>
      {% endfor %}
    {% endif %}

    {% if not tailnumber_aircraft_error %}
      <p>No aircraft errors</p>
    {% else %}
      <h5>Missing aircraft assignment</h5>
      <hr>
      {% for error in tailnumber_aircraft_error %}
      <div  class="item">
        <a href ="{% url 'tailnumber_detail' error.pk %}" class="btn btn-outline-secondary btn-sm">
          {{ error }}</a>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
<div style="height: 280px; width: 100%;"></div>
{% endblock %}
