{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <a href class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#new_aircraft_modal"> New Aircraft</a> -->
<div class="row">
  <a href="{% url 'aircraft_create' %}" class="btn btn-outline-primary"> New Aircraft</a>
  <a href="{% url 'tailnumber_list' %}" class="btn btn-outline-secondary"> By Tailnumber</a>
</div>

  <hr>

<div class="row">
  {% regroup aircraft by tailnumber as aircraft_list %}
  <div class="row">
    {% for aircraft in aircraft_list %}
        <div class="col-12"><a style="text-decoration: underline;" class="text-dark" href="{% url 'aircraft_detail' aircraft.grouper.pk %}"><h4>{{ aircraft.grouper }}</h4></a>
            <div style="display: inline;">
              {% for tailnumber in aircraft.list %}
                <a href="{% url 'tailnumber_detail' tailnumber.pk %}">{{ tailnumber.registration }}</a>
              {% endfor %}
            </div>
            <hr>
        </div>
    {% endfor %}

  </div>
  </div>
</div><!-- row -->

{% endblock %}
