
<div class="modal fade" id="new_aircraft_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Aircraft</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body form-group">
        <p>Required *</p>
        <form action="{% url 'aircraft_create' %}" class="" method="post">
            {% csrf_token %}
            {% include 'aircraft/aircraft_form.html' %}
            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
