{% load widget_tweaks %}
<div class="form-group">
  <div class="input-group-sm">
  {{ form.aircraft_type |attr:"autocomplete:off" |attr:"placeholder:Aircraft Type *"|add_class:"form-control" }}
  </div>
</div>
<div class="form-check-inline">
  <div class="form-group row">
    <div class="m-4">
      {{ form.turbine |attr:"id:turbine" |add_class:"form-control"}} Turbine
    </div>
    <div class="m-4">
      {{ form.piston |attr:"id:piston" |add_class:"form-control"}} Piston
    </div>
    <div class="m-4">
      {{ form.requires_type |attr:"id:type" |add_class:"form-control"}} Requires Type Rating
    </div>
    <div class="m-4">
      {{ form.tailwheel |add_class:"form-control"}} Tailwheel
    </div>
    <div class="m-4">
      {{ form.simple |attr:"id:simple" |add_class:"form-control"}} Simple
    </div>
    <div class="m-4">
      {{ form.compleks |attr:"id:complex" |add_class:"form-control"}} Complex
    </div>
    <div class="m-4">
      {{ form.high_performance |attr:"id:high_perf" |add_class:"form-control"}} High Perfomance
    </div>
    <div class="m-4">
      {{ form.superr |add_class:"form-control"}} Super
    </div>
    <div class="m-4">
      {{ form.heavy |add_class:"form-control"}} Heavy
    </div>
    <div class="m-4">
      {{ form.large |add_class:"form-control"}} Large
    </div>
    <div class="m-4">
      {{ form.medium |add_class:"form-control"}} Medium
    </div>
    <div class="m-4">
      {{ form.small |add_class:"form-control"}} Small
    </div>
    <div class="m-4">
      {{ form.light_sport |add_class:"form-control"}} LSA
    </div>
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    {{ form.aircraft_category |add_class:"form-control"}} Category
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ form.aircraft_class |add_class:"form-control"}} Class
  </div>
</div>
<div class="form-group">
  <div class="form-control-file input-group-sm">
  {{ form.image |add_class:"form-control"}}
  </div>
</div>

{% include 'aircraft/aircraft_form_checkbox_logic.html' %}
