{% extends 'base.html' %}
{% block content %}

<form id="delete-form" action="" method="post">{% csrf_token %}
  <p>Are you sure you want to delete "{{ object }}"?</p>
  <p>This cannot be undone and may affect entries in other data models. If you need to change it, please <a href="{% url 'aircraft_update' object.pk %}">update</a> the entry instead.</p>

   <hr>
   <input onclick="swal()" class="btn-shadow btn-shadow-danger btn-block" type="submit" value="Delete" />
   {% include "confirm_delete.html" %}

</form>
{% endblock %}
