<script>
$('#delete-form').submit(function (e, params) {
       var localParams = params || {};

       if (!localParams.send) {
           e.preventDefault();
       }

          //additional input validations can be done hear

   swal({
               title: "Are you sure?",
               text: "",
               type: "warning",
               showCancelButton: true,
               confirmButtonColor: "#da3849",
               confirmButtonText: "Delete",
               cancelButtonText: "Cancel",
               closeOnConfirm: true
           }, function (isConfirm) {
               if (isConfirm) {
                   $(e.currentTarget).trigger(e.type, { 'send': true });
               } else {

             //additional run on cancel  functions can be done hear

           }
       });
});
</script>
