<script type="text/javascript">
// exclusive checkbox selection
$("#pic").change(function() {
    var checked = $(this).is(':checked');
    $("#sic").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#sic").change(function() {
    var checked = $(this).is(':checked');
    $("#pic").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#solo").change(function() {
    var checked = $(this).is(':checked');
    $("#pic").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
    $("#sic").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#dual").change(function() {
    var checked = $(this).is(':checked');
    $("#solo").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
    $("#sic").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#solo").change(function() {
    var checked = $(this).is(':checked');
    $("#dual").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#cfi").change(function() {
    var checked = $(this).is(':checked');
    $("#dual").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#dual").change(function() {
    var checked = $(this).is(':checked');
    $("#cfi").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#solo").change(function() {
    var checked = $(this).is(':checked');
    $("#cfi").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#cfi").change(function() {
    var checked = $(this).is(':checked');
    $("#solo").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
$("#sic").change(function() {
    var checked = $(this).is(':checked');
    $("#solo").prop('checked',false);
    if(checked) {
        $(this).prop('checked',true);
    }
});
</script>
