{% extends 'base.html' %}
{% block content %}

<style>
  th{text-align:left;}
  td{text-align:left;}
</style>

  <div class="row">
  <div style="padding-top:10px;" class="col-6">
    <h4><a href="{% url 'profile' %}"> {{ user.first_name }} {{ user.last_name }}</a></h4>
  </div>
</div>
<hr>
  <div class="row">
  <div style="margin-top:10px;" class="col-8">
    <a style="margin-top:5px;" class="btn btn-primary" href="{% url 'flight_create' %}">New Flight</a>
    <a style="margin-top:5px;" class="btn btn-secondary" href="{% url 'pdf' %}" target="_blank">Print Logbook</a>
    <a style="margin-top:5px;" class="btn btn-secondary" href="{% url 'iacra' %}" target="_blank">IACRA Format</a>
    <a style="margin-top:5px;" class="btn btn-secondary" href="#">Medical Format</a>
  </div>
  </div>
<hr>

<div style="margin-top: 15px;" class="row">
  <div class="col-12">
    <table>
      <th>Flight Errors</th>
        {% for flight in flight_errors %}
          {% if flight.map_error or flight.duplicate_error or flight.aircraft_type_error or flight.registration_error or flight.crew_error or flight.duration < .1 %}
            <tr><td><a href ="{% url 'flight_detail' flight.pk %}" style="margin-top: 5px;" class="btn btn-sm btn-outline-danger">{{ flight.date }} | {{ flight.route }}</a></td></tr>
    </table>
          {% else %}
      {% endif %}
    {% endfor %}
    <table>
      <th>Aircraft Errors</th>
        {% for aircraft in aircraft_errors %}
          {% if aircraft.config_error or aircraft.power_error or aircraft.category_error or aircraft.class_error or aircraft.weight_error %}
            <tr><td><a href ="{% url 'aircraft_detail' aircraft.pk %}" style="margin-top: 5px;" class="btn btn-sm btn-outline-danger">{{ aircraft }}</a></td></tr>
        {% else %}
      {% endif %}
    {% endfor %}
    <table>
      <table>
        <th>Tailnumber Errors</th>
          {% for tailnumber in tailnumber_errors %}
            {% if tailnumber.reg_error %}
              <tr><td><a href ="{% url 'tailnumber_detail' tailnumber.pk %}" style="margin-top: 5px;" class="btn btn-sm btn-outline-danger">{{ tailnumber }}</a></td></tr>
        {% else %}
      {% endif %}
    {% endfor %}
    </table>
    <hr>
  </div>
</div>

    <div style="margin-top: 15px;" class="row">
      <div class="col-6">
        <div>
          <table class="table table-bordered table-sm">
            <thead class="thead-default">
              <th class="" style="width:120px;">VFR Currency</th><th style="width:75px;">Day</th><th style="width:75px;">Night</th>
            </thead>
                {% if not asel_total.total_time or asel_total.total_time < .1 %}
                {% else %}
                <tr>
                  <td>ASEL</td>{% if asel_vfr_day >= 3 %}<td class="bg-success"></td>
                               {% elif asel_vfr_day < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                               {% if asel_vfr_night >= 3 %}<td class="bg-success"></td>
                               {% elif asel_vfr_night < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                </tr>
                {% endif %}

                {% if not amel_total.total_time or amel_total.total_time < .1 %}
                {% else %}
                <tr>
                  <td>AMEL</td>{% if amel_vfr_day >= 3 %}<td class="bg-success"></td>
                               {% elif amel_vfr_day < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                               {% if amel_vfr_night >= 3 %}<td class="bg-success"></td>
                               {% elif amel_vfr_night < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                </tr>
                {% endif %}

                {% if not ases_total.total_time or ases_total.total_time < .1 %}
                {% else %}
                <tr>
                  <td>ASES</td>{% if ases_vfr_day >= 3 %}<td class="bg-success"></td>
                               {% elif ases_vfr_day < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                               {% if ases_vfr_night >= 3 %}<td class="bg-success"></td>
                               {% elif ases_vfr_night < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                </tr>
                {% endif %}

                {% if not ames_total.total_time or ames_total.total_time < .1 %}
                {% else %}
                <tr>
                  <td>AMES</td>{% if ames_vfr_day >= 3 %}<td class="bg-success"></td>
                               {% elif ames_vfr_day < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                               {% if ames_vfr_night >= 3 %}<td class="bg-success"></td>
                               {% elif ames_vfr_night < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                </tr>
                {% endif %}

                {% if not helo_total.total_time or helo_total.total_time < .1 %}
                {% else %}
                <tr>
                  <td>HELO</td>{% if helo_vfr_day >= 3 %}<td class="bg-success"></td>
                               {% elif helo_vfr_day < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                               {% if helo_vfr_night >= 3 %}<td class="bg-success"></td>
                               {% elif helo_vfr_night < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                </tr>
                {% endif %}

                {% if not gyro_total.total_time or gyro_total.total_time < .1 %}
                {% else %}
                <tr>
                  <td>GYRO</td>{% if gyro_vfr_day >= 3 %}<td class="bg-success"></td>
                               {% elif gyro_vfr_day < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                               {% if gyro_vfr_night >= 3 %}<td class="bg-success"></td>
                               {% elif gyro_vfr_night < 3 %}<td class="bg-danger"></td>
                               {% endif %}
                </tr>
                {% endif %}
          </table>
        </div>
      </div>
      <div class="col-6">
        more stuff
      </div>
    </div>

    <div  class="row">
      <div class="col-12">
        <div id="accordion">
          <div style="" class="card">
            <div class="card-header" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion" href="#total">
                  <h5>Totals</h5>
                </a>
            </div>
            <div id="total" class="collapse show">
                {% include 'table_totals.html' %}
            </div>
          </div>

          <div style="" class="card">
            <div class="card-header" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#stats">
                  <h5>Aircraft Stats</h5>
                </a>
            </div>
            <div id="stats" class="collapse">
                {% include 'table_stats.html' %}
            </div>
          </div>

          <div style="" class="card">
            <div class="card-header" id="headingThree">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#misc">
                  <h5>Misc Totals</h5>
                </a>
            </div>

            <div id="misc" class="collapse">
                <div class="row">
                  <div class="col-6 col-xs-12" style="">
                    {% include 'table_operation.html' %}
                  </div>
                  <div class="col-6 col-xs-12" style="">
                    {% include 'table_weights.html' %}
                  </div>
                  <div class="col-6 col-xs-12" style="">
                    {% include 'table_power.html' %}
                  </div>
                  <div class="col-6 col-xs-12" style="">
                    {% include 'table_endorsements.html' %}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'tablefixer.html' %}

{% endblock %}
