{% load static %}

<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="crossorigin=""></script>
<!-- leaflet cache tiles -->
<script src="https://unpkg.com/pouchdb@^5.2.0/dist/pouchdb.js"></script>
<script src="https://unpkg.com/leaflet.tilelayer.pouchdbcached@latest/L.TileLayer.PouchDBCached.js"></script>
<!-- leaflet-geodesic -->
<script src="{% static 'js/leaflet-geodesic.js' %}"></script>

<script type="text/javascript">

  // map init
  var mymap = L.map('mapid', {minZoom: 2.1, maxZoom: 18, zoomSnap: 0.50, useCache: true, crossOrigin: true});
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 15,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoicGlnYXJrbGUiLCJhIjoiY2o3bGZ3Z2txMnB0cDJxbHhndjJkbnRvciJ9.IytedDwzW9skTCe_7d_gdQ'
    }).addTo(mymap);

    // map draw airports
    $.ajax({
      type: "GET",
      url: "/geojson/airports",
      dataType: 'json',
      async: true,
      success: function (data) {
        var airportsLayer = L.geoJSON(data, {
          onEachFeature: function (feature, layer) {
            layer.bindPopup('<h5>'+feature.properties.icao+'</h5>'+'<h6>'+feature.properties.iata+'</h5>'+'<p>'+feature.properties.name+'</p>'+'<p>'+feature.properties.city+', '+feature.properties.state+', '+feature.properties.country+'</p>'+'<p>'+feature.properties.elevation+' ft</p>');
            }
          }).addTo(mymap);
          mymap.fitBounds(airportsLayer.getBounds(), {paddingTopLeft: [40, 40]});
        }
      });

  function filterSuccessiveDuplicatePositions(latlngs) {
    var result = [];

    if (latlngs.length > 0) {
      result.push(latlngs[0]);
    }

    for (var i = 1; i < latlngs.length; i += 1) {
      if (!L.latLng(latlngs[i]).equals(latlngs[i - 1])) {
        result.push(latlngs[i]);
      }
    }
    return result;
  }

    // map draw routes with shadows
    $.ajax({
      type: "GET",
      url: "/geojson/routes",
      dataType: 'json',
      async: true,
      success: function(latlngs) {
        // console.log(latlngs);
        var filtered = filterSuccessiveDuplicatePositions(latlngs);
        var Geodesic = L.geodesic([filtered], {
          weight: 3,
          opacity: 1,
          color: 'navy',
          steps: 300,
        }).addTo(mymap);
      }
    });
  // reload on back button
  if(!!window.performance && window.performance.navigation.type == 2)
{
    window.location.reload();
}
</script>
