{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}


<div style="margin-bottom:40px" class="row image-shadow">
  <div class="card">
    <div class="card-header">
      <h4>Category and Class</h4>
    </div>
    <div class="card-body">
      {% render_table total_table %}
    </div>
  </div>
</div>

<div style="margin-bottom:40px" class="row card-deck">
  <div class="card image-shadow">
    <div class="card-header">
      <h4>Power Type</h4>
    </div>
    <div class="card-body">
      {% render_table power_table %}
    </div>
  </div>
  <div class="card image-shadow">
    <div class="card-header">
      <h4>Operation Type</h4>
    </div>
    <div class="card-body">
    {% render_table regs_table %}
    </div>
  </div>
  <div class="card image-shadow">
    <div class="card-header">
      <h4>Endorsement</h4>
    </div>
    <div class="card-body">
      {% render_table endorsement_table %}
    </div>
  </div>
  <div class="card image-shadow">
    <div class="card-header">
      <h4>By Weight</h4>
    </div>
    <div class="card-body">
      {% render_table weight_table %}
    </div>
  </div>
</div> <!-- row -->

<div class="row image-shadow">
  <div class="card">
    <div class="card-header">
      <h4>Aircraft Type</h4>
    </div>
    <div class="card-body">
      {% render_table stat_table %}
  </div>
</div><!-- row -->

{% include 'tablefixer.html' %}

{% endblock %}
