{% load static %}

<table id="stat" class="table custom-table table-hover">
  <thead class="thead-default">
    <tr>
      <th scope="row">Aircraft Type</th>
      <th class="text-right">Time</th>
      <th class="text-right">PIC</th>
      <th class="text-right">SIC</th>
      <th class="text-right">XC</th>
      <th class="text-right">CFI</th>
      <th class="text-right">Dual</th>
      <th class="text-right">Solo</th>
      <th class="text-right">Inst</th>
      <th class="text-right">Night</th>
      <th class="text-right">Sim Inst</th>
      <th class="text-right">Sim</th>
      <th class="text-right">Day Ldg</th>
      <th class="text-right">Night Ldg</th>
      <th class="text-right">Last Flown</th>
      <th class="text-right">30</th>
      <th class="text-right">60</th>
      <th class="text-right">90</th>
      <th class="text-right">6mo</th>
      <th class="text-right">12mo</th>
      <th class="text-right">24mo</th>
      <th class="text-right">YTD</th>
    </tr>
  </thead>
  {% for stat in stats %}
  <tr>
    <td>{{ stat.aircraft_type }}</td>
    <td class="text-right">{{ stat.total_time }}</td>
    <td class="text-right">{{ stat.pilot_in_command }}</td>
    <td class="text-right">{{ stat.second_in_command }}</td>
    <td class="text-right">{{ stat.cross_country }}</td>
    <td class="text-right">{{ stat.instructor }}</td>
    <td class="text-right">{{ stat.dual }}</td>
    <td class="text-right">{{ stat.solo }}</td>
    <td class="text-right">{{ stat.instrument }}</td>
    <td class="text-right">{{ stat.night }}</td>
    <td class="text-right">{{ stat.simulated_instrument }}</td>
    <td class="text-right">{{ stat.simulator }}</td>
    <td class="text-right">{{ stat.landings_day }}</td>
    <td class="text-right">{{ stat.landings_night }}</td>
    <td class="text-right">{{ stat.last_flown }}</td>
    <td class="text-right">{{ stat.last_30 }}</td>
    <td class="text-right">{{ stat.last_60 }}</td>
    <td class="text-right">{{ stat.last_90 }}</td>
    <td class="text-right">{{ stat.last_180 }}</td>
    <td class="text-right">{{ stat.last_yr }}</td>
    <td class="text-right">{{ stat.last_2yr }}</td>
    <td class="text-right">{{ stat.ytd }}</td>
  </tr>
  {% endfor %}
</table>
