<table id="total" class="table custom-table table table-hover table-sm">
  <thead class="thead-default">
    <tr>
      <th scope="row">Total</th><th>Time</th><th>PIC</th><th>SIC</th><th>XC</th><th>CFI</th>
      <th>Dual</th><th>Solo</th><th>Inst</th><th>Night</th><th>Sim Inst</th>
      <th>Sim</th><th>Day Ldg</th><th>Night Ldg</th><th>Total Ldg</th><th>Last Flown</th>
      <th>30</th><th>60</th><th>90</th><th>6mo</th><th>12mo</th><th>24mo</th><th>YDT</th>
    </tr>
  </thead>
  {% for total in totals %}
  <tr>
    <td>{{ total.total }}</td><td>{{ total.total_time }}</td><td>{{ total.pilot_in_command }}</td>
    <td>{{ total.second_in_command }}</td><td>{{ total.cross_country }}</td>
    <td>{{ total.instructor }}</td><td>{{ total.dual }}</td><td>{{ total.solo }}</td>
    <td>{{ total.instrument }}</td><td>{{ total.night }}</td><td>{{ total.simulated_instrument }}</td>
    <td>{{ total.simulator }}</td><td>{{ total.landings_day }}</td><td>{{ total.landings_night }}</td>
    <td>{{ total.landings_total }}</td><td>{{ total.last_flown }}</td><td>{{ total.last_30 }}</td>
    <td>{{ total.last_60 }}</td><td>{{ total.last_90 }}</td><td>{{ total.last_180 }}</td>
    <td>{{ total.last_yr }}</td><td>{{ total.last_2yr }}</td><td>{{ total.ytd }}</td>
  </tr>
  {% endfor %}
</table>
