{% load static %}
<style>
  ion-icon {
    font-size: 56px;
  }
</style>
<div class="spacial-features">
    <section class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center text-info">
              Completely OS independent.
            </h3>
            <p class="text-center">
              Direct2Logbook lives on the web, so you can useyour favorite operating system to keep track of your data.
              Responsive design to accomodate a wide variety of devices.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="logo-chrome"></ion-icon>
              <ion-icon name="logo-android"></ion-icon>
              <ion-icon name="logo-apple"></ion-icon>
              <ion-icon name="logo-windows"></ion-icon>
              <ion-icon name="logo-tux"></ion-icon>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center text-info">
              No reports to run.
            </h3>
            <p class="text-center">
              All of the data you need for IACRA, Medicals, Applications, and Insurance are all automatically and constanly updated.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="sync"></ion-icon>
              <ion-icon name="stats"></ion-icon>
              <ion-icon name="thumbs-up"></ion-icon>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center text-info">
              Built in error checking and alerts.
            </h3>
            <p class="text-center">
              Direct2Logbook knows if something isn't quite right and shows you where to fix it quickly and easily.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="done-all"></ion-icon>
              <ion-icon name="alert"></ion-icon>
              <ion-icon name="checkmark"></ion-icon>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center text-info">
              Easy to switch over.
            </h3>
            <p class="text-center">
              Uploading .csv files from several well known logbook programs makes switching to Direct2Logbook easy.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="document"></ion-icon>
              <ion-icon name="return-right"></ion-icon>
              <ion-icon name="laptop"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </section>
  </div>
