{% extends 'registration/base.html' %}
{% load widget_tweaks %}

{% block account_content %}


{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

    <h3>Login</h3>
    <hr>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <p>
        <div>
          <p>{{ form.username |attr:"placeholder:Username" |add_class:"form-control"}}</p>
          <p>{{ form.password |attr:"placeholder:Password" |add_class:"form-control"}}</p>
        </div>
      </p>
      <hr>
      <p>
        <div>
          <input class="btn-shadow btn-shadow-dark" type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </p>
    </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <hr>
  <p><a class="btn-shadow btn-shadow-dark" href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
