{% extends "registration/base.html" %}

{% block account_content %}
<div class="card">
  <div class="card-body">
    <div class="card-title"><h3>Password reset instructions</h3></div>
    <hr>
      <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>
      <hr>
      <p><a class="btn-shadow btn-shadow-dark" href="{% url 'password_reset' %}">Try Again</a></p>

    </div>
  </div>

{% endblock %}
