{% extends "registration/base.html" %}
{% load widget_tweaks %}

{% block account_content %}
<div class="card">
  <div class="card-body">
  <div class="card-title"><h3>Reset Password</h3></div>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form.email |attr:"placeholder:Email you used to register" |add_class:"form-control"}}
    <small class="form-text text-muted">We'll send a reset link.</small>

    <hr>
    <button class="btn-shadow btn-shadow-dark" type="submit">Submit</button>
  </form>
  </div>
</div>

{% endblock %}
