{% extends "registration/base.html" %}
{% load widget_tweaks %}

{% block account_content %}
  {% if validlink %}
    <h3>Change password</h3>
    <hr>
    <form method="post">
      {% csrf_token %}
      <p>
      <div>
        {{ form.new_password1 |attr:"placeholder:Password" |add_class:"form-control" }}
        <small id="passwordHelp" class="form-text text-muted">Your password must contain at least 8 characters.</small>
      </div>
    </p>
    <p>
      <div>
      {{ form.new_password2 |attr:"placeholder:Password again" |add_class:"form-control" }}
    </div>
    </p>
    <hr>
      <button class="btn-shadow btn-shadow-dark" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
