<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="NONE,NOARCHIVE">
  <title>AttributeError
          at /stripe_webhook/</title>
  <style type="text/css">
    html * { padding:0; margin:0; }
    body * { padding:10px 20px; }
    body * * { padding:0; }
    body { font:small sans-serif; background-color:#fff; color:#000; }
    body>div { border-bottom:1px solid #ddd; }
    h1 { font-weight:normal; }
    h2 { margin-bottom:.8em; }
    h3 { margin:1em 0 .5em 0; }
    h4 { margin:0 0 .5em 0; font-weight: normal; }
    code, pre { font-size: 100%; white-space: pre-wrap; }
    table { border:1px solid #ccc; border-collapse: collapse; width:100%; background:white; }
    tbody td, tbody th { vertical-align:top; padding:2px 3px; }
    thead th {
      padding:1px 6px 1px 3px; background:#fefefe; text-align:left;
      font-weight:normal; font-size:11px; border:1px solid #ddd;
    }
    tbody th { width:12em; text-align:right; color:#666; padding-right:.5em; }
    table.vars { margin:5px 0 2px 40px; }
    table.vars td, table.req td { font-family:monospace; }
    table td.code { width:100%; }
    table td.code pre { overflow:hidden; }
    table.source th { color:#666; }
    table.source td { font-family:monospace; white-space:pre; border-bottom:1px solid #eee; }
    ul.traceback { list-style-type:none; color: #222; }
    ul.traceback li.frame { padding-bottom:1em; color:#4f4f4f; }
    ul.traceback li.user { background-color:#e0e0e0; color:#000 }
    div.context { padding:10px 0; overflow:hidden; }
    div.context ol { padding-left:30px; margin:0 10px; list-style-position: inside; }
    div.context ol li { font-family:monospace; white-space:pre; color:#777; cursor:pointer; padding-left: 2px; }
    div.context ol li pre { display:inline; }
    div.context ol.context-line li { color:#464646; background-color:#dfdfdf; padding: 3px 2px; }
    div.context ol.context-line li span { position:absolute; right:32px; }
    .user div.context ol.context-line li { background-color:#bbb; color:#000; }
    .user div.context ol li { color:#666; }
    div.commands { margin-left: 40px; }
    div.commands a { color:#555; text-decoration:none; }
    .user div.commands a { color: black; }
    #summary { background: #ffc; }
    #summary h2 { font-weight: normal; color: #666; }
    #explanation { background:#eee; }
    #template, #template-not-exist { background:#f6f6f6; }
    #template-not-exist ul { margin: 0 0 10px 20px; }
    #template-not-exist .postmortem-section { margin-bottom: 3px; }
    #unicode-hint { background:#eee; }
    #traceback { background:#eee; }
    #requestinfo { background:#f6f6f6; padding-left:120px; }
    #summary table { border:none; background:transparent; }
    #requestinfo h2, #requestinfo h3 { position:relative; margin-left:-100px; }
    #requestinfo h3 { margin-bottom:-1em; }
    .error { background: #ffc; }
    .specific { color:#cc3300; font-weight:bold; }
    h2 span.commands { font-size:.7em; font-weight:normal; }
    span.commands a:link {color:#5E5694;}
    pre.exception_value { font-family: sans-serif; color: #575757; font-size: 1.5em; margin: 10px 0 10px 0; }
    .append-bottom { margin-bottom: 10px; }
  </style>

  <script type="text/javascript">
    function hideAll(elems) {
      for (var e = 0; e < elems.length; e++) {
        elems[e].style.display = 'none';
      }
    }
    window.onload = function() {
      hideAll(document.querySelectorAll('table.vars'));
      hideAll(document.querySelectorAll('ol.pre-context'));
      hideAll(document.querySelectorAll('ol.post-context'));
      hideAll(document.querySelectorAll('div.pastebin'));
    }
    function toggle() {
      for (var i = 0; i < arguments.length; i++) {
        var e = document.getElementById(arguments[i]);
        if (e) {
          e.style.display = e.style.display == 'none' ? 'block': 'none';
        }
      }
      return false;
    }
    function varToggle(link, id) {
      toggle('v' + id);
      var s = link.getElementsByTagName('span')[0];
      var uarr = String.fromCharCode(0x25b6);
      var darr = String.fromCharCode(0x25bc);
      s.textContent = s.textContent == uarr ? darr : uarr;
      return false;
    }
    function switchPastebinFriendly(link) {
      s1 = "Switch to copy-and-paste view";
      s2 = "Switch back to interactive view";
      link.textContent = link.textContent.trim() == s1 ? s2: s1;
      toggle('browserTraceback', 'pastebinTraceback');
      return false;
    }
  </script>

</head>
<body>
<div id="summary">
  <h1>AttributeError
       at /stripe_webhook/</h1>
  <pre class="exception_value">tye</pre>
  <table class="meta">

    <tr>
      <th>Request Method:</th>
      <td>POST</td>
    </tr>
    <tr>
      <th>Request URL:</th>
      <td>http://4064e3c0.ngrok.io/stripe_webhook/</td>
    </tr>

    <tr>
      <th>Django Version:</th>
      <td>2.2.4</td>
    </tr>

    <tr>
      <th>Exception Type:</th>
      <td>AttributeError</td>
    </tr>


    <tr>
      <th>Exception Value:</th>
      <td><pre>tye</pre></td>
    </tr>


    <tr>
      <th>Exception Location:</th>
      <td>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/stripe/stripe_object.py in __getattr__, line 92</td>
    </tr>

    <tr>
      <th>Python Executable:</th>
      <td>/Users/blakepowell/_django/venv/bin/python</td>
    </tr>
    <tr>
      <th>Python Version:</th>
      <td>3.6.7</td>
    </tr>
    <tr>
      <th>Python Path:</th>
      <td><pre>[&#39;/Users/blakepowell/_django/direct2logbook&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python36.zip&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6/lib-dynload&#39;,
 &#39;/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6/site-packages&#39;]</pre></td>
    </tr>
    <tr>
      <th>Server time:</th>
      <td>Thu, 22 Aug 2019 23:45:39 +0000</td>
    </tr>
  </table>
</div>




<div id="traceback">
  <h2>Traceback <span class="commands"><a href="#" onclick="return switchPastebinFriendly(this);">
    Switch to copy-and-paste view</a></span>
  </h2>
  <div id="browserTraceback">
    <ul class="traceback">


        <li class="frame user">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/stripe/stripe_object.py</code> in <code>__getattr__</code>


            <div class="context" id="c4488120712">

                <ol start="83" class="pre-context" id="pre4488120712">

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>        return None</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre></pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>    def __getattr__(self, k):</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>        if k[0] == &quot;_&quot;:</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>            raise AttributeError(k)</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre></pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>        try:</pre></li>

                </ol>

              <ol start="90" class="context-line">
                <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>            return self[k]</pre> <span>…</span></li>
              </ol>

                <ol start='91' class="post-context" id="post4488120712">

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>        except KeyError as err:</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>            raise AttributeError(*err.args)</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre></pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>    def __delattr__(self, k):</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>        if k[0] == &quot;_&quot; or k in self.__dict__:</pre></li>

                  <li onclick="toggle('pre4488120712', 'post4488120712')"><pre>            return super(StripeObject, self).__delattr__(k)</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488120712')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488120712">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>k</td>
                    <td class="code"><pre>&#39;tye&#39;</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>{&#39;api_version&#39;: &#39;2019-05-16&#39;,
 &#39;created&#39;: 1326853478,
 &#39;data&#39;: {&#39;object&#39;: {&#39;account_balance&#39;: 0,
                     &#39;address&#39;: None,
                     &#39;balance&#39;: 0,
                     &#39;created&#39;: 1566517539,
                     &#39;currency&#39;: &#39;usd&#39;,
                     &#39;default_source&#39;: None,
                     &#39;delinquent&#39;: False,
                     &#39;description&#39;: None,
                     &#39;discount&#39;: None,
                     &#39;email&#39;: None,
                     &#39;id&#39;: &#39;cus_00000000000000&#39;,
                     &#39;invoice_prefix&#39;: &#39;1EC31AF&#39;,
                     &#39;invoice_settings&#39;: {&#39;custom_fields&#39;: None,
                                          &#39;default_payment_method&#39;: None,
                                          &#39;footer&#39;: None},
                     &#39;livemode&#39;: False,
                     &#39;metadata&#39;: &lt;StripeObject at 0x10b6de830&gt; JSON: {},
                     &#39;name&#39;: None,
                     &#39;object&#39;: &#39;customer&#39;,
                     &#39;phone&#39;: None,
                     &#39;preferred_locales&#39;: [],
                     &#39;shipping&#39;: None,
                     &#39;sources&#39;: {},
                     &#39;subscriptions&#39;: {},
                     &#39;tax_exempt&#39;: &#39;none&#39;,
                     &#39;tax_ids&#39;: {},
                     &#39;tax_info&#39;: None,
                     &#39;tax_info_verification&#39;: None}},
 &#39;id&#39;: &#39;evt_00000000000000&#39;,
 &#39;livemode&#39;: False,
 &#39;object&#39;: &#39;event&#39;,
 &#39;pending_webhooks&#39;: 1,
 &#39;request&#39;: None,
 &#39;type&#39;: &#39;customer.created&#39;}</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame user">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/stripe/stripe_object.py</code> in <code>__getitem__</code>


            <div class="context" id="c4488119048">

                <ol start="124" class="pre-context" id="pre4488119048">

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>                    &quot;It was then wiped when refreshing the object with &quot;</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>                    &quot;the result returned by Stripe&#39;s API, probably as a &quot;</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>                    &quot;result of a save().  The attributes currently &quot;</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>                    &quot;available on this object are: %s&quot;</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>                    % (k, k, &quot;, &quot;.join(list(self.keys())))</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>                )</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>            else:</pre></li>

                </ol>

              <ol start="131" class="context-line">
                <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>                raise err</pre> <span>…</span></li>
              </ol>

                <ol start='132' class="post-context" id="post4488119048">

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre></pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>    def __delitem__(self, k):</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>        super(StripeObject, self).__delitem__(k)</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre></pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>        # Allows for unpickling in Python 3.x</pre></li>

                  <li onclick="toggle('pre4488119048', 'post4488119048')"><pre>        if hasattr(self, &quot;_unsaved_values&quot;) and k in self._unsaved_values:</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488119048')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488119048">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>__class__</td>
                    <td class="code"><pre>&lt;class &#39;stripe.stripe_object.StripeObject&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>k</td>
                    <td class="code"><pre>&#39;tye&#39;</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>{&#39;api_version&#39;: &#39;2019-05-16&#39;,
 &#39;created&#39;: 1326853478,
 &#39;data&#39;: {&#39;object&#39;: {&#39;account_balance&#39;: 0,
                     &#39;address&#39;: None,
                     &#39;balance&#39;: 0,
                     &#39;created&#39;: 1566517539,
                     &#39;currency&#39;: &#39;usd&#39;,
                     &#39;default_source&#39;: None,
                     &#39;delinquent&#39;: False,
                     &#39;description&#39;: None,
                     &#39;discount&#39;: None,
                     &#39;email&#39;: None,
                     &#39;id&#39;: &#39;cus_00000000000000&#39;,
                     &#39;invoice_prefix&#39;: &#39;1EC31AF&#39;,
                     &#39;invoice_settings&#39;: {&#39;custom_fields&#39;: None,
                                          &#39;default_payment_method&#39;: None,
                                          &#39;footer&#39;: None},
                     &#39;livemode&#39;: False,
                     &#39;metadata&#39;: &lt;StripeObject at 0x10b6de830&gt; JSON: {},
                     &#39;name&#39;: None,
                     &#39;object&#39;: &#39;customer&#39;,
                     &#39;phone&#39;: None,
                     &#39;preferred_locales&#39;: [],
                     &#39;shipping&#39;: None,
                     &#39;sources&#39;: {},
                     &#39;subscriptions&#39;: {},
                     &#39;tax_exempt&#39;: &#39;none&#39;,
                     &#39;tax_ids&#39;: {},
                     &#39;tax_info&#39;: None,
                     &#39;tax_info_verification&#39;: None}},
 &#39;id&#39;: &#39;evt_00000000000000&#39;,
 &#39;livemode&#39;: False,
 &#39;object&#39;: &#39;event&#39;,
 &#39;pending_webhooks&#39;: 1,
 &#39;request&#39;: None,
 &#39;type&#39;: &#39;customer.created&#39;}</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame user">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/stripe/stripe_object.py</code> in <code>__getitem__</code>


            <div class="context" id="c4488122184">

                <ol start="112" class="pre-context" id="pre4488122184">

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre></pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>        self._unsaved_values.add(k)</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre></pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>        super(StripeObject, self).__setitem__(k, v)</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre></pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>    def __getitem__(self, k):</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>        try:</pre></li>

                </ol>

              <ol start="119" class="context-line">
                <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>            return super(StripeObject, self).__getitem__(k)</pre> <span>…</span></li>
              </ol>

                <ol start='120' class="post-context" id="post4488122184">

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>        except KeyError as err:</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>            if k in self._transient_values:</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>                raise KeyError(</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>                    &quot;%r.  HINT: The %r attribute was set in the past.&quot;</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>                    &quot;It was then wiped when refreshing the object with &quot;</pre></li>

                  <li onclick="toggle('pre4488122184', 'post4488122184')"><pre>                    &quot;the result returned by Stripe&#39;s API, probably as a &quot;</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488122184')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488122184">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>__class__</td>
                    <td class="code"><pre>&lt;class &#39;stripe.stripe_object.StripeObject&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>k</td>
                    <td class="code"><pre>&#39;tye&#39;</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>{&#39;api_version&#39;: &#39;2019-05-16&#39;,
 &#39;created&#39;: 1326853478,
 &#39;data&#39;: {&#39;object&#39;: {&#39;account_balance&#39;: 0,
                     &#39;address&#39;: None,
                     &#39;balance&#39;: 0,
                     &#39;created&#39;: 1566517539,
                     &#39;currency&#39;: &#39;usd&#39;,
                     &#39;default_source&#39;: None,
                     &#39;delinquent&#39;: False,
                     &#39;description&#39;: None,
                     &#39;discount&#39;: None,
                     &#39;email&#39;: None,
                     &#39;id&#39;: &#39;cus_00000000000000&#39;,
                     &#39;invoice_prefix&#39;: &#39;1EC31AF&#39;,
                     &#39;invoice_settings&#39;: {&#39;custom_fields&#39;: None,
                                          &#39;default_payment_method&#39;: None,
                                          &#39;footer&#39;: None},
                     &#39;livemode&#39;: False,
                     &#39;metadata&#39;: &lt;StripeObject at 0x10b6de830&gt; JSON: {},
                     &#39;name&#39;: None,
                     &#39;object&#39;: &#39;customer&#39;,
                     &#39;phone&#39;: None,
                     &#39;preferred_locales&#39;: [],
                     &#39;shipping&#39;: None,
                     &#39;sources&#39;: {},
                     &#39;subscriptions&#39;: {},
                     &#39;tax_exempt&#39;: &#39;none&#39;,
                     &#39;tax_ids&#39;: {},
                     &#39;tax_info&#39;: None,
                     &#39;tax_info_verification&#39;: None}},
 &#39;id&#39;: &#39;evt_00000000000000&#39;,
 &#39;livemode&#39;: False,
 &#39;object&#39;: &#39;event&#39;,
 &#39;pending_webhooks&#39;: 1,
 &#39;request&#39;: None,
 &#39;type&#39;: &#39;customer.created&#39;}</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


          <li><h3>

            During handling of the above exception (&#39;tye&#39;), another exception occurred:

        </h3></li>

        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/exception.py</code> in <code>inner</code>


            <div class="context" id="c4488119304">

                <ol start="27" class="pre-context" id="pre4488119304">

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>    This decorator is automatically applied to all middleware to ensure that</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>    no middleware leaks an exception and that the next middleware in the stack</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>    can rely on getting a response instead of an exception.</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>    &quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>    @wraps(get_response)</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>    def inner(request):</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>        try:</pre></li>

                </ol>

              <ol start="34" class="context-line">
                <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>            response = get_response(request)</pre> <span>…</span></li>
              </ol>

                <ol start='35' class="post-context" id="post4488119304">

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>        except Exception as exc:</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>            response = response_for_exception(request, exc)</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>        return response</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre>    return inner</pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre></pre></li>

                  <li onclick="toggle('pre4488119304', 'post4488119304')"><pre></pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488119304')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488119304">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>exc</td>
                    <td class="code"><pre>AttributeError(&#39;tye&#39;,)</pre></td>
                  </tr>

                  <tr>
                    <td>get_response</td>
                    <td class="code"><pre>&lt;bound method BaseHandler._get_response of &lt;django.core.handlers.wsgi.WSGIHandler object at 0x1092b8080&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py</code> in <code>_get_response</code>


            <div class="context" id="c4488118472">

                <ol start="108" class="pre-context" id="pre4488118472">

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>                break</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre></pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>            wrapped_callback = self.make_view_atomic(callback)</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>            try:</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>                response = wrapped_callback(request, *callback_args, **callback_kwargs)</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>            except Exception as e:</pre></li>

                </ol>

              <ol start="115" class="context-line">
                <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>                response = self.process_exception_by_middleware(e, request)</pre> <span>…</span></li>
              </ol>

                <ol start='116' class="post-context" id="post4488118472">

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre></pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>        # Complain if the view returned None (a common error).</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>            if isinstance(callback, types.FunctionType):    # FBV</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>                view_name = callback.__name__</pre></li>

                  <li onclick="toggle('pre4488118472', 'post4488118472')"><pre>            else:                                           # CBV</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488118472')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488118472">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x10aff1e18&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>callback_args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>callback_kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>middleware_method</td>
                    <td class="code"><pre>&lt;bound method DebugToolbarMiddleware.process_view of &lt;debug_toolbar.middleware.DebugToolbarMiddleware object at 0x10b325b00&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver</td>
                    <td class="code"><pre>&lt;URLResolver &#39;logbook.urls&#39; (None:None) &#39;^/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver_match</td>
                    <td class="code"><pre>ResolverMatch(func=payments.views.stripe_webhook_view, args=(), kwargs={}, url_name=stripe_webhook, app_names=[], namespaces=[], route=^stripe_webhook/$)</pre></td>
                  </tr>

                  <tr>
                    <td>response</td>
                    <td class="code"><pre>None</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.core.handlers.wsgi.WSGIHandler object at 0x1092b8080&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>wrapped_callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x10aff1e18&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py</code> in <code>_get_response</code>


            <div class="context" id="c4488122312">

                <ol start="106" class="pre-context" id="pre4488122312">

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>            response = middleware_method(request, callback, callback_args, callback_kwargs)</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>            if response:</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>                break</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre></pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>            wrapped_callback = self.make_view_atomic(callback)</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>            try:</pre></li>

                </ol>

              <ol start="113" class="context-line">
                <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>                response = wrapped_callback(request, *callback_args, **callback_kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='114' class="post-context" id="post4488122312">

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>            except Exception as e:</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>                response = self.process_exception_by_middleware(e, request)</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre></pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>        # Complain if the view returned None (a common error).</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4488122312', 'post4488122312')"><pre>            if isinstance(callback, types.FunctionType):    # FBV</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488122312')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488122312">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x10aff1e18&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>callback_args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>callback_kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>middleware_method</td>
                    <td class="code"><pre>&lt;bound method DebugToolbarMiddleware.process_view of &lt;debug_toolbar.middleware.DebugToolbarMiddleware object at 0x10b325b00&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver</td>
                    <td class="code"><pre>&lt;URLResolver &#39;logbook.urls&#39; (None:None) &#39;^/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver_match</td>
                    <td class="code"><pre>ResolverMatch(func=payments.views.stripe_webhook_view, args=(), kwargs={}, url_name=stripe_webhook, app_names=[], namespaces=[], route=^stripe_webhook/$)</pre></td>
                  </tr>

                  <tr>
                    <td>response</td>
                    <td class="code"><pre>None</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.core.handlers.wsgi.WSGIHandler object at 0x1092b8080&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>wrapped_callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x10aff1e18&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/views/decorators/csrf.py</code> in <code>wrapped_view</code>


            <div class="context" id="c4488118728">

                <ol start="47" class="pre-context" id="pre4488118728">

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre></pre></li>

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre></pre></li>

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>def csrf_exempt(view_func):</pre></li>

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>    &quot;&quot;&quot;Mark a view function as being exempt from the CSRF view protection.&quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>    # view_func.csrf_exempt = True would also work, but decorators are nicer</pre></li>

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>    # if they don&#39;t have side effects, so return a new function.</pre></li>

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>    def wrapped_view(*args, **kwargs):</pre></li>

                </ol>

              <ol start="54" class="context-line">
                <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>        return view_func(*args, **kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='55' class="post-context" id="post4488118728">

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>    wrapped_view.csrf_exempt = True</pre></li>

                  <li onclick="toggle('pre4488118728', 'post4488118728')"><pre>    return wraps(view_func)(wrapped_view)</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488118728')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488118728">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>(&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;,)</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>view_func</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x10aff1c80&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame user">
          <code>/Users/blakepowell/_django/direct2logbook/payments/views.py</code> in <code>stripe_webhook_view</code>


            <div class="context" id="c4488120584">

                <ol start="26" class="pre-context" id="pre4488120584">

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>        payment_intent = event.data.object # contains a stripe.PaymentIntent</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    # handle_payment_intent_succeeded(payment_intent)</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    # elif event.type == &#39;payment_method.attached&#39;:</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    #   payment_method = event.data.object # contains a stripe.PaymentMethod</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    #   handle_payment_method_attached(payment_method)</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    # ... handle other event types</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    if event.type == &#39;customer.created&#39;:</pre></li>

                </ol>

              <ol start="33" class="context-line">
                <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>        print(event.type)</pre> <span>…</span></li>
              </ol>

                <ol start='34' class="post-context" id="post4488120584">

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>        #add customer id to profile</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    if event.type == &#39;customer.source.created&#39;:</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>        print(event.type)</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    if event.type == &#39;customer.subscription.created&#39;:</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>        print(event.type)</pre></li>

                  <li onclick="toggle('pre4488120584', 'post4488120584')"><pre>    if event.type == &#39;customer.subscription.deleted&#39;:</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4488120584')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4488120584">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>event</td>
                    <td class="code"><pre>{&#39;api_version&#39;: &#39;2019-05-16&#39;,
 &#39;created&#39;: 1326853478,
 &#39;data&#39;: {&#39;object&#39;: {&#39;account_balance&#39;: 0,
                     &#39;address&#39;: None,
                     &#39;balance&#39;: 0,
                     &#39;created&#39;: 1566517539,
                     &#39;currency&#39;: &#39;usd&#39;,
                     &#39;default_source&#39;: None,
                     &#39;delinquent&#39;: False,
                     &#39;description&#39;: None,
                     &#39;discount&#39;: None,
                     &#39;email&#39;: None,
                     &#39;id&#39;: &#39;cus_00000000000000&#39;,
                     &#39;invoice_prefix&#39;: &#39;1EC31AF&#39;,
                     &#39;invoice_settings&#39;: {&#39;custom_fields&#39;: None,
                                          &#39;default_payment_method&#39;: None,
                                          &#39;footer&#39;: None},
                     &#39;livemode&#39;: False,
                     &#39;metadata&#39;: &lt;StripeObject at 0x10b6de830&gt; JSON: {},
                     &#39;name&#39;: None,
                     &#39;object&#39;: &#39;customer&#39;,
                     &#39;phone&#39;: None,
                     &#39;preferred_locales&#39;: [],
                     &#39;shipping&#39;: None,
                     &#39;sources&#39;: {},
                     &#39;subscriptions&#39;: {},
                     &#39;tax_exempt&#39;: &#39;none&#39;,
                     &#39;tax_ids&#39;: {},
                     &#39;tax_info&#39;: None,
                     &#39;tax_info_verification&#39;: None}},
 &#39;id&#39;: &#39;evt_00000000000000&#39;,
 &#39;livemode&#39;: False,
 &#39;object&#39;: &#39;event&#39;,
 &#39;pending_webhooks&#39;: 1,
 &#39;request&#39;: None,
 &#39;type&#39;: &#39;customer.created&#39;}</pre></td>
                  </tr>

                  <tr>
                    <td>payload</td>
                    <td class="code"><pre>(b&#39;{\n  &quot;created&quot;: 1326853478,\n  &quot;livemode&quot;: false,\n  &quot;id&quot;: &quot;evt_00000000000&#39;
 b&#39;000&quot;,\n  &quot;type&quot;: &quot;customer.created&quot;,\n  &quot;object&quot;: &quot;event&quot;,\n  &quot;request&quot;: nu&#39;
 b&#39;ll,\n  &quot;pending_webhooks&quot;: 1,\n  &quot;api_version&quot;: &quot;2019-05-16&quot;,\n  &quot;data&quot;: {\n&#39;
 b&#39;    &quot;object&quot;: {\n      &quot;id&quot;: &quot;cus_00000000000000&quot;,\n      &quot;object&quot;: &quot;custo&#39;
 b&#39;mer&quot;,\n      &quot;account_balance&quot;: 0,\n      &quot;address&quot;: null,\n      &quot;balance&quot;&#39;
 b&#39;: 0,\n      &quot;created&quot;: 1566517539,\n      &quot;currency&quot;: &quot;usd&quot;,\n      &quot;defaul&#39;
 b&#39;t_source&quot;: null,\n      &quot;delinquent&quot;: false,\n      &quot;description&quot;: null,\n &#39;
 b&#39;     &quot;discount&quot;: null,\n      &quot;email&quot;: null,\n      &quot;invoice_prefix&quot;: &quot;1EC&#39;
 b&#39;31AF&quot;,\n      &quot;invoice_settings&quot;: {\n        &quot;custom_fields&quot;: null,\n      &#39;
 b&#39;  &quot;default_payment_method&quot;: null,\n        &quot;footer&quot;: null\n      },\n      &#39;
 b&#39;&quot;livemode&quot;: false,\n      &quot;metadata&quot;: {\n      },\n      &quot;name&quot;: null,\n    &#39;
 b&#39;  &quot;phone&quot;: null,\n      &quot;preferred_locales&quot;: [\n\n      ],\n      &quot;shipping&quot;&#39;
 b&#39;: null,\n      &quot;sources&quot;: {\n        &quot;object&quot;: &quot;list&quot;,\n        &quot;data&quot;:&#39;
 b&#39; [\n\n        ],\n        &quot;has_more&quot;: false,\n        &quot;total_count&quot;: 0,\n&#39;
 b&#39;        &quot;url&quot;: &quot;/v1/customers/cus_FflVotxPSqyFPH/sources&quot;\n      },\n     &#39;
 b&#39; &quot;subscriptions&quot;: {\n        &quot;object&quot;: &quot;list&quot;,\n        &quot;data&quot;: [\n\n       &#39;
 b&#39; ],\n        &quot;has_more&quot;: false,\n        &quot;total_count&quot;: 0,\n        &quot;url&quot;: &#39;
 b&#39;&quot;/v1/customers/cus_FflVotxPSqyFPH/subscriptions&quot;\n      },\n      &quot;tax_exe&#39;
 b&#39;mpt&quot;: &quot;none&quot;,\n      &quot;tax_ids&quot;: {\n        &quot;object&quot;: &quot;list&quot;,\n        &quot;data&#39;
 b&#39;&quot;: [\n\n        ],\n        &quot;has_more&quot;: false,\n        &quot;total_count&quot;: 0&#39;
 b&#39;,\n        &quot;url&quot;: &quot;/v1/customers/cus_FflVotxPSqyFPH/tax_ids&quot;\n      },\n   &#39;
 b&#39;   &quot;tax_info&quot;: null,\n      &quot;tax_info_verification&quot;: null\n    }\n  }\n}&#39;)</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame user">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/stripe/stripe_object.py</code> in <code>__getattr__</code>


            <div class="context" id="c4488119496">

                <ol start="85" class="pre-context" id="pre4488119496">

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>    def __getattr__(self, k):</pre></li>

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>        if k[0] == &quot;_&quot;:</pre></li>

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>            raise AttributeError(k)</pre></li>

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre></pre></li>

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>        try:</pre></li>

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>            return self[k]</pre></li>

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>        except KeyError as err:</pre></li>

                </ol>

              <ol start="92" class="context-line">
                <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>            raise AttributeError(*err.args)</pre> <span>…</span></li>
              </ol>

                <ol start='93' class="post-context" id="post4488119496">

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre></pre></li>

                  <li onclick="toggle('pre4488119496', 'post4488119496')"><pre>    def __delattr__(self, k):</pre></li>

                 ...
Cancel
Send test webhook
