<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="NONE,NOARCHIVE">
  <title>TypeError
          at /stripe_webhook/</title>
  <style type="text/css">
    html * { padding:0; margin:0; }
    body * { padding:10px 20px; }
    body * * { padding:0; }
    body { font:small sans-serif; background-color:#fff; color:#000; }
    body>div { border-bottom:1px solid #ddd; }
    h1 { font-weight:normal; }
    h2 { margin-bottom:.8em; }
    h3 { margin:1em 0 .5em 0; }
    h4 { margin:0 0 .5em 0; font-weight: normal; }
    code, pre { font-size: 100%; white-space: pre-wrap; }
    table { border:1px solid #ccc; border-collapse: collapse; width:100%; background:white; }
    tbody td, tbody th { vertical-align:top; padding:2px 3px; }
    thead th {
      padding:1px 6px 1px 3px; background:#fefefe; text-align:left;
      font-weight:normal; font-size:11px; border:1px solid #ddd;
    }
    tbody th { width:12em; text-align:right; color:#666; padding-right:.5em; }
    table.vars { margin:5px 0 2px 40px; }
    table.vars td, table.req td { font-family:monospace; }
    table td.code { width:100%; }
    table td.code pre { overflow:hidden; }
    table.source th { color:#666; }
    table.source td { font-family:monospace; white-space:pre; border-bottom:1px solid #eee; }
    ul.traceback { list-style-type:none; color: #222; }
    ul.traceback li.frame { padding-bottom:1em; color:#4f4f4f; }
    ul.traceback li.user { background-color:#e0e0e0; color:#000 }
    div.context { padding:10px 0; overflow:hidden; }
    div.context ol { padding-left:30px; margin:0 10px; list-style-position: inside; }
    div.context ol li { font-family:monospace; white-space:pre; color:#777; cursor:pointer; padding-left: 2px; }
    div.context ol li pre { display:inline; }
    div.context ol.context-line li { color:#464646; background-color:#dfdfdf; padding: 3px 2px; }
    div.context ol.context-line li span { position:absolute; right:32px; }
    .user div.context ol.context-line li { background-color:#bbb; color:#000; }
    .user div.context ol li { color:#666; }
    div.commands { margin-left: 40px; }
    div.commands a { color:#555; text-decoration:none; }
    .user div.commands a { color: black; }
    #summary { background: #ffc; }
    #summary h2 { font-weight: normal; color: #666; }
    #explanation { background:#eee; }
    #template, #template-not-exist { background:#f6f6f6; }
    #template-not-exist ul { margin: 0 0 10px 20px; }
    #template-not-exist .postmortem-section { margin-bottom: 3px; }
    #unicode-hint { background:#eee; }
    #traceback { background:#eee; }
    #requestinfo { background:#f6f6f6; padding-left:120px; }
    #summary table { border:none; background:transparent; }
    #requestinfo h2, #requestinfo h3 { position:relative; margin-left:-100px; }
    #requestinfo h3 { margin-bottom:-1em; }
    .error { background: #ffc; }
    .specific { color:#cc3300; font-weight:bold; }
    h2 span.commands { font-size:.7em; font-weight:normal; }
    span.commands a:link {color:#5E5694;}
    pre.exception_value { font-family: sans-serif; color: #575757; font-size: 1.5em; margin: 10px 0 10px 0; }
    .append-bottom { margin-bottom: 10px; }
  </style>

  <script type="text/javascript">
    function hideAll(elems) {
      for (var e = 0; e < elems.length; e++) {
        elems[e].style.display = 'none';
      }
    }
    window.onload = function() {
      hideAll(document.querySelectorAll('table.vars'));
      hideAll(document.querySelectorAll('ol.pre-context'));
      hideAll(document.querySelectorAll('ol.post-context'));
      hideAll(document.querySelectorAll('div.pastebin'));
    }
    function toggle() {
      for (var i = 0; i < arguments.length; i++) {
        var e = document.getElementById(arguments[i]);
        if (e) {
          e.style.display = e.style.display == 'none' ? 'block': 'none';
        }
      }
      return false;
    }
    function varToggle(link, id) {
      toggle('v' + id);
      var s = link.getElementsByTagName('span')[0];
      var uarr = String.fromCharCode(0x25b6);
      var darr = String.fromCharCode(0x25bc);
      s.textContent = s.textContent == uarr ? darr : uarr;
      return false;
    }
    function switchPastebinFriendly(link) {
      s1 = "Switch to copy-and-paste view";
      s2 = "Switch back to interactive view";
      link.textContent = link.textContent.trim() == s1 ? s2: s1;
      toggle('browserTraceback', 'pastebinTraceback');
      return false;
    }
  </script>

</head>
<body>
<div id="summary">
  <h1>TypeError
       at /stripe_webhook/</h1>
  <pre class="exception_value">&#39;AnonymousUser&#39; object is not iterable</pre>
  <table class="meta">

    <tr>
      <th>Request Method:</th>
      <td>POST</td>
    </tr>
    <tr>
      <th>Request URL:</th>
      <td>http://2cfe92cf.ngrok.io/stripe_webhook/</td>
    </tr>

    <tr>
      <th>Django Version:</th>
      <td>2.2.4</td>
    </tr>

    <tr>
      <th>Exception Type:</th>
      <td>TypeError</td>
    </tr>


    <tr>
      <th>Exception Value:</th>
      <td><pre>&#39;AnonymousUser&#39; object is not iterable</pre></td>
    </tr>


    <tr>
      <th>Exception Location:</th>
      <td>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/utils/functional.py in inner, line 257</td>
    </tr>

    <tr>
      <th>Python Executable:</th>
      <td>/Users/blakepowell/_django/venv/bin/python</td>
    </tr>
    <tr>
      <th>Python Version:</th>
      <td>3.6.7</td>
    </tr>
    <tr>
      <th>Python Path:</th>
      <td><pre>[&#39;/Users/blakepowell/_django/direct2logbook&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python36.zip&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6/lib-dynload&#39;,
 &#39;/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6/site-packages&#39;]</pre></td>
    </tr>
    <tr>
      <th>Server time:</th>
      <td>Sun, 25 Aug 2019 22:57:44 +0000</td>
    </tr>
  </table>
</div>




<div id="traceback">
  <h2>Traceback <span class="commands"><a href="#" onclick="return switchPastebinFriendly(this);">
    Switch to copy-and-paste view</a></span>
  </h2>
  <div id="browserTraceback">
    <ul class="traceback">


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/exception.py</code> in <code>inner</code>


            <div class="context" id="c4423996744">

                <ol start="27" class="pre-context" id="pre4423996744">

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>    This decorator is automatically applied to all middleware to ensure that</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>    no middleware leaks an exception and that the next middleware in the stack</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>    can rely on getting a response instead of an exception.</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>    &quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>    @wraps(get_response)</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>    def inner(request):</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>        try:</pre></li>

                </ol>

              <ol start="34" class="context-line">
                <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>            response = get_response(request)</pre> <span>…</span></li>
              </ol>

                <ol start='35' class="post-context" id="post4423996744">

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>        except Exception as exc:</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>            response = response_for_exception(request, exc)</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>        return response</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre>    return inner</pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre></pre></li>

                  <li onclick="toggle('pre4423996744', 'post4423996744')"><pre></pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423996744')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423996744">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>exc</td>
                    <td class="code"><pre>TypeError(&quot;&#39;AnonymousUser&#39; object is not iterable&quot;,)</pre></td>
                  </tr>

                  <tr>
                    <td>get_response</td>
                    <td class="code"><pre>&lt;bound method BaseHandler._get_response of &lt;django.core.handlers.wsgi.WSGIHandler object at 0x104f900b8&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py</code> in <code>_get_response</code>


            <div class="context" id="c4423997128">

                <ol start="108" class="pre-context" id="pre4423997128">

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>                break</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre></pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>            wrapped_callback = self.make_view_atomic(callback)</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>            try:</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>                response = wrapped_callback(request, *callback_args, **callback_kwargs)</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>            except Exception as e:</pre></li>

                </ol>

              <ol start="115" class="context-line">
                <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>                response = self.process_exception_by_middleware(e, request)</pre> <span>…</span></li>
              </ol>

                <ol start='116' class="post-context" id="post4423997128">

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre></pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>        # Complain if the view returned None (a common error).</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>            if isinstance(callback, types.FunctionType):    # FBV</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>                view_name = callback.__name__</pre></li>

                  <li onclick="toggle('pre4423997128', 'post4423997128')"><pre>            else:                                           # CBV</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423997128')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423997128">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x106f54048&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>callback_args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>callback_kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>middleware_method</td>
                    <td class="code"><pre>&lt;bound method DebugToolbarMiddleware.process_view of &lt;debug_toolbar.middleware.DebugToolbarMiddleware object at 0x107104358&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver</td>
                    <td class="code"><pre>&lt;URLResolver &#39;logbook.urls&#39; (None:None) &#39;^/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver_match</td>
                    <td class="code"><pre>ResolverMatch(func=payments.views.stripe_webhook_view, args=(), kwargs={}, url_name=stripe_webhook, app_names=[], namespaces=[], route=^stripe_webhook/$)</pre></td>
                  </tr>

                  <tr>
                    <td>response</td>
                    <td class="code"><pre>None</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.core.handlers.wsgi.WSGIHandler object at 0x104f900b8&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>wrapped_callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x106f54048&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py</code> in <code>_get_response</code>


            <div class="context" id="c4423996296">

                <ol start="106" class="pre-context" id="pre4423996296">

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>            response = middleware_method(request, callback, callback_args, callback_kwargs)</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>            if response:</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>                break</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre></pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>            wrapped_callback = self.make_view_atomic(callback)</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>            try:</pre></li>

                </ol>

              <ol start="113" class="context-line">
                <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>                response = wrapped_callback(request, *callback_args, **callback_kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='114' class="post-context" id="post4423996296">

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>            except Exception as e:</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>                response = self.process_exception_by_middleware(e, request)</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre></pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>        # Complain if the view returned None (a common error).</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4423996296', 'post4423996296')"><pre>            if isinstance(callback, types.FunctionType):    # FBV</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423996296')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423996296">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x106f54048&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>callback_args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>callback_kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>middleware_method</td>
                    <td class="code"><pre>&lt;bound method DebugToolbarMiddleware.process_view of &lt;debug_toolbar.middleware.DebugToolbarMiddleware object at 0x107104358&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver</td>
                    <td class="code"><pre>&lt;URLResolver &#39;logbook.urls&#39; (None:None) &#39;^/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver_match</td>
                    <td class="code"><pre>ResolverMatch(func=payments.views.stripe_webhook_view, args=(), kwargs={}, url_name=stripe_webhook, app_names=[], namespaces=[], route=^stripe_webhook/$)</pre></td>
                  </tr>

                  <tr>
                    <td>response</td>
                    <td class="code"><pre>None</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.core.handlers.wsgi.WSGIHandler object at 0x104f900b8&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>wrapped_callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x106f54048&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/views/decorators/csrf.py</code> in <code>wrapped_view</code>


            <div class="context" id="c4423998088">

                <ol start="47" class="pre-context" id="pre4423998088">

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre></pre></li>

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre></pre></li>

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>def csrf_exempt(view_func):</pre></li>

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>    &quot;&quot;&quot;Mark a view function as being exempt from the CSRF view protection.&quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>    # view_func.csrf_exempt = True would also work, but decorators are nicer</pre></li>

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>    # if they don&#39;t have side effects, so return a new function.</pre></li>

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>    def wrapped_view(*args, **kwargs):</pre></li>

                </ol>

              <ol start="54" class="context-line">
                <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>        return view_func(*args, **kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='55' class="post-context" id="post4423998088">

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>    wrapped_view.csrf_exempt = True</pre></li>

                  <li onclick="toggle('pre4423998088', 'post4423998088')"><pre>    return wraps(view_func)(wrapped_view)</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423998088')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423998088">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>(&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;,)</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>view_func</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x106f4bf28&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame user">
          <code>/Users/blakepowell/_django/direct2logbook/payments/views.py</code> in <code>stripe_webhook_view</code>


            <div class="context" id="c4423997384">

                <ol start="9" class="pre-context" id="pre4423997384">

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>from datetime import date</pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre></pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>stripe.api_key = config(&#39;STRIPE_TEST_SECRET_KEY&#39;)</pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre></pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>@csrf_exempt</pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>def stripe_webhook_view(request):</pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>    user = request.user</pre></li>

                </ol>

              <ol start="16" class="context-line">
                <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>    profile = Profile.objects.get(user=user)</pre> <span>…</span></li>
              </ol>

                <ol start='17' class="post-context" id="post4423997384">

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre></pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>    payload = request.body</pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>    event = None</pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre></pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>    try:</pre></li>

                  <li onclick="toggle('pre4423997384', 'post4423997384')"><pre>        event = stripe.Event.construct_from(</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423997384')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423997384">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>user</td>
                    <td class="code"><pre>&lt;SimpleLazyObject: &lt;django.contrib.auth.models.AnonymousUser object at 0x107bbd048&gt;&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/manager.py</code> in <code>manager_method</code>


            <div class="context" id="c4423996360">

                <ol start="75" class="pre-context" id="pre4423996360">

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>    def check(self, **kwargs):</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>        return []</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre></pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>    @classmethod</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>    def _get_queryset_methods(cls, queryset_class):</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>        def create_method(name, method):</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>            def manager_method(self, *args, **kwargs):</pre></li>

                </ol>

              <ol start="82" class="context-line">
                <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>                return getattr(self.get_queryset(), name)(*args, **kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='83' class="post-context" id="post4423996360">

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>            manager_method.__name__ = method.__name__</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>            manager_method.__doc__ = method.__doc__</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>            return manager_method</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre></pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>        new_methods = {}</pre></li>

                  <li onclick="toggle('pre4423996360', 'post4423996360')"><pre>        for name, method in inspect.getmembers(queryset_class, predicate=inspect.isfunction):</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423996360')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423996360">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{&#39;user&#39;: &lt;SimpleLazyObject: &lt;django.contrib.auth.models.AnonymousUser object at 0x107bbd048&gt;&gt;}</pre></td>
                  </tr>

                  <tr>
                    <td>name</td>
                    <td class="code"><pre>&#39;get&#39;</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.db.models.manager.Manager object at 0x10663f438&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/query.py</code> in <code>get</code>


            <div class="context" id="c4423996168">

                <ol start="392" class="pre-context" id="pre4423996168">

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        return self.query.get_count(using=self.db)</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre></pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>    def get(self, *args, **kwargs):</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        &quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        Perform the query and return a single object matching the given</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        keyword arguments.</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        &quot;&quot;&quot;</pre></li>

                </ol>

              <ol start="399" class="context-line">
                <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        clone = self.filter(*args, **kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='400' class="post-context" id="post4423996168">

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        if self.query.can_filter() and not self.query.distinct_fields:</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>            clone = clone.order_by()</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        num = len(clone)</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        if num == 1:</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>            return clone._result_cache[0]</pre></li>

                  <li onclick="toggle('pre4423996168', 'post4423996168')"><pre>        if not num:</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423996168')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423996168">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{&#39;user&#39;: &lt;SimpleLazyObject: &lt;django.contrib.auth.models.AnonymousUser object at 0x107bbd048&gt;&gt;}</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;QuerySet [&lt;Profile: lsowers1 6&gt;, &lt;Profile: trapier 5&gt;, &lt;Profile: admin 1&gt;, &lt;Profile: pigarkle 2&gt;, &lt;Profile: fake 13&gt;]&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/query.py</code> in <code>filter</code>


            <div class="context" id="c4423999112">

                <ol start="885" class="pre-context" id="pre4423999112">

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        return self._chain()</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre></pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>    def filter(self, *args, **kwargs):</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        &quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        Return a new QuerySet instance with the args ANDed to the existing</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        set.</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        &quot;&quot;&quot;</pre></li>

                </ol>

              <ol start="892" class="context-line">
                <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        return self._filter_or_exclude(False, *args, **kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='893' class="post-context" id="post4423999112">

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre></pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>    def exclude(self, *args, **kwargs):</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        &quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        Return a new QuerySet instance with NOT (args) ANDed to the existing</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        set.</pre></li>

                  <li onclick="toggle('pre4423999112', 'post4423999112')"><pre>        &quot;&quot;&quot;</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423999112')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423999112">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{&#39;user&#39;: &lt;SimpleLazyObject: &lt;django.contrib.auth.models.AnonymousUser object at 0x107bbd048&gt;&gt;}</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;QuerySet [&lt;Profile: lsowers1 6&gt;, &lt;Profile: trapier 5&gt;, &lt;Profile: admin 1&gt;, &lt;Profile: pigarkle 2&gt;, &lt;Profile: fake 13&gt;]&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/query.py</code> in <code>_filter_or_exclude</code>


            <div class="context" id="c4423998920">

                <ol start="903" class="pre-context" id="pre4423998920">

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>            assert self.query.can_filter(), \</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>                &quot;Cannot filter a query once a slice has been taken.&quot;</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre></pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>        clone = self._chain()</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>        if negate:</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>            clone.query.add_q(~Q(*args, **kwargs))</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>        else:</pre></li>

                </ol>

              <ol start="910" class="context-line">
                <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>            clone.query.add_q(Q(*args, **kwargs))</pre> <span>…</span></li>
              </ol>

                <ol start='911' class="post-context" id="post4423998920">

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>        return clone</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre></pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>    def complex_filter(self, filter_obj):</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>        &quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre>        Return a new QuerySet instance with filter_obj added to the filters.</pre></li>

                  <li onclick="toggle('pre4423998920', 'post4423998920')"><pre></pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423998920')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423998920">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>clone</td>
                    <td class="code"><pre>&lt;QuerySet [&lt;Profile: lsowers1 6&gt;, &lt;Profile: trapier 5&gt;, &lt;Profile: admin 1&gt;, &lt;Profile: pigarkle 2&gt;, &lt;Profile: fake 13&gt;]&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{&#39;user&#39;: &lt;SimpleLazyObject: &lt;django.contrib.auth.models.AnonymousUser object at 0x107bbd048&gt;&gt;}</pre></td>
                  </tr>

                  <tr>
                    <td>negate</td>
                    <td class="code"><pre>False</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;QuerySet [&lt;Profile: lsowers1 6&gt;, &lt;Profile: trapier 5&gt;, &lt;Profile: admin 1&gt;, &lt;Profile: pigarkle 2&gt;, &lt;Profile: fake 13&gt;]&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/sql/query.py</code> in <code>add_q</code>


            <div class="context" id="c4423996232">

                <ol start="1283" class="pre-context" id="pre4423996232">

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        # For join promotion this case is doing an AND for the added q_object</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        # and existing conditions. So, any existing inner join forces the join</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        # type to remain inner. Existing outer joins can however be demoted.</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        # (Consider case where rel_a is LOUTER and rel_a__col=1 is added - if</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        # rel_a doesn&#39;t produce any rows, then the whole condition must fail.</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        # So, demotion is OK.</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        existing_inner = {a for a in self.alias_map if self.alias_map[a].join_type == INNER}</pre></li>

                </ol>

              <ol start="1290" class="context-line">
                <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        clause, _ = self._add_q(q_object, self.used_aliases)</pre> <span>…</span></li>
              </ol>

                <ol start='1291' class="post-context" id="post4423996232">

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        if clause:</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>            self.where.add(clause, AND)</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        self.demote_joins(existing_inner)</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre></pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>    def build_where(self, q_object):</pre></li>

                  <li onclick="toggle('pre4423996232', 'post4423996232')"><pre>        return self._add_q(q_object, used_aliases=set(), allow_joins=False, simple_col=True)[0]</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423996232')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4423996232">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>existing_inner</td>
                    <td class="code"><pre>set()</pre></td>
                  </tr>

                  <tr>
                    <td>q_object</td>
                    <td class="code"><pre>&lt;Q: (AND: (&#39;user&#39;, &lt;SimpleLazyObject: &lt;django.contrib.auth.models.AnonymousUser object at 0x107bbd048&gt;&gt;))&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.db.models.sql.query.Query object at 0x107bbd2b0&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/sql/query.py</code> in <code>_add_q</code>


            <div class="context" id="c4423995528">

                <ol start="1311" class="pre-context" id="pre4423995528">

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                    child, used_aliases, branch_negated,</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                    current_negated, allow_joins, split_subq, simple_col)</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                joinpromoter.add_votes(needed_inner)</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>            else:</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                child_clause, needed_inner = self.build_filter(</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                    child, can_reuse=used_aliases, branch_negated=branch_negated,</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                    current_negated=current_negated, allow_joins=allow_joins,</pre></li>

                </ol>

              <ol start="1318" class="context-line">
                <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                    split_subq=split_subq, simple_col=simple_col,</pre> <span>…</span></li>
              </ol>

                <ol start='1319' class="post-context" id="post4423995528">

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                )</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                joinpromoter.add_votes(needed_inner)</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>            if child_clause:</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>                target_clause.add(child_clause, connector)</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>        needed_inner = joinpromoter.update_join_types(self)</pre></li>

                  <li onclick="toggle('pre4423995528', 'post4423995528')"><pre>        return target_clause, needed_inner</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4423995528')"><span>&#x25b6;</span> Local vars</a>

            </di...
