<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="NONE,NOARCHIVE">
  <title>DoesNotExist
          at /stripe_webhook/</title>
  <style type="text/css">
    html * { padding:0; margin:0; }
    body * { padding:10px 20px; }
    body * * { padding:0; }
    body { font:small sans-serif; background-color:#fff; color:#000; }
    body>div { border-bottom:1px solid #ddd; }
    h1 { font-weight:normal; }
    h2 { margin-bottom:.8em; }
    h3 { margin:1em 0 .5em 0; }
    h4 { margin:0 0 .5em 0; font-weight: normal; }
    code, pre { font-size: 100%; white-space: pre-wrap; }
    table { border:1px solid #ccc; border-collapse: collapse; width:100%; background:white; }
    tbody td, tbody th { vertical-align:top; padding:2px 3px; }
    thead th {
      padding:1px 6px 1px 3px; background:#fefefe; text-align:left;
      font-weight:normal; font-size:11px; border:1px solid #ddd;
    }
    tbody th { width:12em; text-align:right; color:#666; padding-right:.5em; }
    table.vars { margin:5px 0 2px 40px; }
    table.vars td, table.req td { font-family:monospace; }
    table td.code { width:100%; }
    table td.code pre { overflow:hidden; }
    table.source th { color:#666; }
    table.source td { font-family:monospace; white-space:pre; border-bottom:1px solid #eee; }
    ul.traceback { list-style-type:none; color: #222; }
    ul.traceback li.frame { padding-bottom:1em; color:#4f4f4f; }
    ul.traceback li.user { background-color:#e0e0e0; color:#000 }
    div.context { padding:10px 0; overflow:hidden; }
    div.context ol { padding-left:30px; margin:0 10px; list-style-position: inside; }
    div.context ol li { font-family:monospace; white-space:pre; color:#777; cursor:pointer; padding-left: 2px; }
    div.context ol li pre { display:inline; }
    div.context ol.context-line li { color:#464646; background-color:#dfdfdf; padding: 3px 2px; }
    div.context ol.context-line li span { position:absolute; right:32px; }
    .user div.context ol.context-line li { background-color:#bbb; color:#000; }
    .user div.context ol li { color:#666; }
    div.commands { margin-left: 40px; }
    div.commands a { color:#555; text-decoration:none; }
    .user div.commands a { color: black; }
    #summary { background: #ffc; }
    #summary h2 { font-weight: normal; color: #666; }
    #explanation { background:#eee; }
    #template, #template-not-exist { background:#f6f6f6; }
    #template-not-exist ul { margin: 0 0 10px 20px; }
    #template-not-exist .postmortem-section { margin-bottom: 3px; }
    #unicode-hint { background:#eee; }
    #traceback { background:#eee; }
    #requestinfo { background:#f6f6f6; padding-left:120px; }
    #summary table { border:none; background:transparent; }
    #requestinfo h2, #requestinfo h3 { position:relative; margin-left:-100px; }
    #requestinfo h3 { margin-bottom:-1em; }
    .error { background: #ffc; }
    .specific { color:#cc3300; font-weight:bold; }
    h2 span.commands { font-size:.7em; font-weight:normal; }
    span.commands a:link {color:#5E5694;}
    pre.exception_value { font-family: sans-serif; color: #575757; font-size: 1.5em; margin: 10px 0 10px 0; }
    .append-bottom { margin-bottom: 10px; }
  </style>

  <script type="text/javascript">
    function hideAll(elems) {
      for (var e = 0; e < elems.length; e++) {
        elems[e].style.display = 'none';
      }
    }
    window.onload = function() {
      hideAll(document.querySelectorAll('table.vars'));
      hideAll(document.querySelectorAll('ol.pre-context'));
      hideAll(document.querySelectorAll('ol.post-context'));
      hideAll(document.querySelectorAll('div.pastebin'));
    }
    function toggle() {
      for (var i = 0; i < arguments.length; i++) {
        var e = document.getElementById(arguments[i]);
        if (e) {
          e.style.display = e.style.display == 'none' ? 'block': 'none';
        }
      }
      return false;
    }
    function varToggle(link, id) {
      toggle('v' + id);
      var s = link.getElementsByTagName('span')[0];
      var uarr = String.fromCharCode(0x25b6);
      var darr = String.fromCharCode(0x25bc);
      s.textContent = s.textContent == uarr ? darr : uarr;
      return false;
    }
    function switchPastebinFriendly(link) {
      s1 = "Switch to copy-and-paste view";
      s2 = "Switch back to interactive view";
      link.textContent = link.textContent.trim() == s1 ? s2: s1;
      toggle('browserTraceback', 'pastebinTraceback');
      return false;
    }
  </script>

</head>
<body>
<div id="summary">
  <h1>DoesNotExist
       at /stripe_webhook/</h1>
  <pre class="exception_value">Profile matching query does not exist.</pre>
  <table class="meta">

    <tr>
      <th>Request Method:</th>
      <td>POST</td>
    </tr>
    <tr>
      <th>Request URL:</th>
      <td>http://ced4518d.ngrok.io/stripe_webhook/</td>
    </tr>

    <tr>
      <th>Django Version:</th>
      <td>2.2.4</td>
    </tr>

    <tr>
      <th>Exception Type:</th>
      <td>DoesNotExist</td>
    </tr>


    <tr>
      <th>Exception Value:</th>
      <td><pre>Profile matching query does not exist.</pre></td>
    </tr>


    <tr>
      <th>Exception Location:</th>
      <td>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/query.py in get, line 408</td>
    </tr>

    <tr>
      <th>Python Executable:</th>
      <td>/Users/blakepowell/_django/venv/bin/python</td>
    </tr>
    <tr>
      <th>Python Version:</th>
      <td>3.6.7</td>
    </tr>
    <tr>
      <th>Python Path:</th>
      <td><pre>[&#39;/Users/blakepowell/_django/direct2logbook&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python36.zip&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6/lib-dynload&#39;,
 &#39;/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6&#39;,
 &#39;/Users/blakepowell/_django/venv/lib/python3.6/site-packages&#39;]</pre></td>
    </tr>
    <tr>
      <th>Server time:</th>
      <td>Tue, 27 Aug 2019 21:35:54 +0000</td>
    </tr>
  </table>
</div>




<div id="traceback">
  <h2>Traceback <span class="commands"><a href="#" onclick="return switchPastebinFriendly(this);">
    Switch to copy-and-paste view</a></span>
  </h2>
  <div id="browserTraceback">
    <ul class="traceback">


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/exception.py</code> in <code>inner</code>


            <div class="context" id="c4368883528">

                <ol start="27" class="pre-context" id="pre4368883528">

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>    This decorator is automatically applied to all middleware to ensure that</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>    no middleware leaks an exception and that the next middleware in the stack</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>    can rely on getting a response instead of an exception.</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>    &quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>    @wraps(get_response)</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>    def inner(request):</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>        try:</pre></li>

                </ol>

              <ol start="34" class="context-line">
                <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>            response = get_response(request)</pre> <span>…</span></li>
              </ol>

                <ol start='35' class="post-context" id="post4368883528">

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>        except Exception as exc:</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>            response = response_for_exception(request, exc)</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>        return response</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre>    return inner</pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre></pre></li>

                  <li onclick="toggle('pre4368883528', 'post4368883528')"><pre></pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4368883528')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4368883528">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>exc</td>
                    <td class="code"><pre>DoesNotExist(&#39;Profile matching query does not exist.&#39;,)</pre></td>
                  </tr>

                  <tr>
                    <td>get_response</td>
                    <td class="code"><pre>&lt;bound method BaseHandler._get_response of &lt;django.core.handlers.wsgi.WSGIHandler object at 0x1020b20b8&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py</code> in <code>_get_response</code>


            <div class="context" id="c4368881480">

                <ol start="108" class="pre-context" id="pre4368881480">

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>                break</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre></pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>            wrapped_callback = self.make_view_atomic(callback)</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>            try:</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>                response = wrapped_callback(request, *callback_args, **callback_kwargs)</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>            except Exception as e:</pre></li>

                </ol>

              <ol start="115" class="context-line">
                <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>                response = self.process_exception_by_middleware(e, request)</pre> <span>…</span></li>
              </ol>

                <ol start='116' class="post-context" id="post4368881480">

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre></pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>        # Complain if the view returned None (a common error).</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>            if isinstance(callback, types.FunctionType):    # FBV</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>                view_name = callback.__name__</pre></li>

                  <li onclick="toggle('pre4368881480', 'post4368881480')"><pre>            else:                                           # CBV</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4368881480')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4368881480">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x103eb5a60&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>callback_args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>callback_kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>middleware_method</td>
                    <td class="code"><pre>&lt;bound method DebugToolbarMiddleware.process_view of &lt;debug_toolbar.middleware.DebugToolbarMiddleware object at 0x10419e208&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver</td>
                    <td class="code"><pre>&lt;URLResolver &#39;logbook.urls&#39; (None:None) &#39;^/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver_match</td>
                    <td class="code"><pre>ResolverMatch(func=payments.views.stripe_webhook_view, args=(), kwargs={}, url_name=stripe_webhook, app_names=[], namespaces=[], route=^stripe_webhook/$)</pre></td>
                  </tr>

                  <tr>
                    <td>response</td>
                    <td class="code"><pre>None</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.core.handlers.wsgi.WSGIHandler object at 0x1020b20b8&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>wrapped_callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x103eb5a60&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py</code> in <code>_get_response</code>


            <div class="context" id="c4368881736">

                <ol start="106" class="pre-context" id="pre4368881736">

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>            response = middleware_method(request, callback, callback_args, callback_kwargs)</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>            if response:</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>                break</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre></pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>            wrapped_callback = self.make_view_atomic(callback)</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>            try:</pre></li>

                </ol>

              <ol start="113" class="context-line">
                <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>                response = wrapped_callback(request, *callback_args, **callback_kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='114' class="post-context" id="post4368881736">

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>            except Exception as e:</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>                response = self.process_exception_by_middleware(e, request)</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre></pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>        # Complain if the view returned None (a common error).</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>        if response is None:</pre></li>

                  <li onclick="toggle('pre4368881736', 'post4368881736')"><pre>            if isinstance(callback, types.FunctionType):    # FBV</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4368881736')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4368881736">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x103eb5a60&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>callback_args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>callback_kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>middleware_method</td>
                    <td class="code"><pre>&lt;bound method DebugToolbarMiddleware.process_view of &lt;debug_toolbar.middleware.DebugToolbarMiddleware object at 0x10419e208&gt;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver</td>
                    <td class="code"><pre>&lt;URLResolver &#39;logbook.urls&#39; (None:None) &#39;^/&#39;&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>resolver_match</td>
                    <td class="code"><pre>ResolverMatch(func=payments.views.stripe_webhook_view, args=(), kwargs={}, url_name=stripe_webhook, app_names=[], namespaces=[], route=^stripe_webhook/$)</pre></td>
                  </tr>

                  <tr>
                    <td>response</td>
                    <td class="code"><pre>None</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.core.handlers.wsgi.WSGIHandler object at 0x1020b20b8&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>wrapped_callback</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x103eb5a60&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/views/decorators/csrf.py</code> in <code>wrapped_view</code>


            <div class="context" id="c4368883336">

                <ol start="47" class="pre-context" id="pre4368883336">

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre></pre></li>

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre></pre></li>

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>def csrf_exempt(view_func):</pre></li>

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>    &quot;&quot;&quot;Mark a view function as being exempt from the CSRF view protection.&quot;&quot;&quot;</pre></li>

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>    # view_func.csrf_exempt = True would also work, but decorators are nicer</pre></li>

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>    # if they don&#39;t have side effects, so return a new function.</pre></li>

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>    def wrapped_view(*args, **kwargs):</pre></li>

                </ol>

              <ol start="54" class="context-line">
                <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>        return view_func(*args, **kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='55' class="post-context" id="post4368883336">

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>    wrapped_view.csrf_exempt = True</pre></li>

                  <li onclick="toggle('pre4368883336', 'post4368883336')"><pre>    return wraps(view_func)(wrapped_view)</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4368883336')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4368883336">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>(&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;,)</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{}</pre></td>
                  </tr>

                  <tr>
                    <td>view_func</td>
                    <td class="code"><pre>&lt;function stripe_webhook_view at 0x103eb59d8&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame user">
          <code>/Users/blakepowell/_django/direct2logbook/payments/views.py</code> in <code>stripe_webhook_view</code>


            <div class="context" id="c4368880392">

                <ol start="22" class="pre-context" id="pre4368880392">

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        event = stripe.Event.construct_from(</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        json.loads(payload), stripe.api_key</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        )</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>    except ValueError as e:</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        # Invalid payload</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        return HttpResponse(status=400)</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre></pre></li>

                </ol>

              <ol start="29" class="context-line">
                <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>    profile = Profile.objects.get(customer_id = event.data.object.customer)</pre> <span>…</span></li>
              </ol>

                <ol start='30' class="post-context" id="post4368880392">

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre></pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>    print(profile)</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        # Handle the event</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>    if event.type == &#39;checkout.session.completed&#39;:</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        payment_intent = event.data.object # contains a stripe.PaymentIntent</pre></li>

                  <li onclick="toggle('pre4368880392', 'post4368880392')"><pre>        print(&#39;checkout.session.completed&#39;)</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4368880392')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4368880392">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>event</td>
                    <td class="code"><pre>{&#39;api_version&#39;: &#39;2019-05-16&#39;,
 &#39;created&#39;: 1326853478,
 &#39;data&#39;: {&#39;object&#39;: {&#39;billing_address_collection&#39;: None,
                     &#39;cancel_url&#39;: &#39;https://example.com/cancel&#39;,
                     &#39;client_reference_id&#39;: None,
                     &#39;customer&#39;: None,
                     &#39;customer_email&#39;: None,
                     &#39;display_items&#39;: [{&#39;amount&#39;: 1500,
                                        &#39;currency&#39;: &#39;usd&#39;,
                                        &#39;custom&#39;: {&#39;description&#39;: &#39;Comfortable &#39;
                                                                  &#39;cotton &#39;
                                                                  &#39;t-shirt&#39;,
                                                   &#39;images&#39;: None,
                                                   &#39;name&#39;: &#39;T-shirt&#39;},
                                        &#39;quantity&#39;: 2,
                                        &#39;type&#39;: &#39;custom&#39;}],
                     &#39;id&#39;: &#39;cs_00000000000000&#39;,
                     &#39;livemode&#39;: False,
                     &#39;locale&#39;: None,
                     &#39;mode&#39;: None,
                     &#39;object&#39;: &#39;checkout.session&#39;,
                     &#39;payment_intent&#39;: &#39;pi_00000000000000&#39;,
                     &#39;payment_method_types&#39;: [&#39;card&#39;],
                     &#39;setup_intent&#39;: None,
                     &#39;submit_type&#39;: None,
                     &#39;subscription&#39;: None,
                     &#39;success_url&#39;: &#39;https://example.com/success&#39;}},
 &#39;id&#39;: &#39;evt_00000000000000&#39;,
 &#39;livemode&#39;: False,
 &#39;object&#39;: &#39;event&#39;,
 &#39;pending_webhooks&#39;: 1,
 &#39;request&#39;: None,
 &#39;type&#39;: &#39;checkout.session.completed&#39;}</pre></td>
                  </tr>

                  <tr>
                    <td>payload</td>
                    <td class="code"><pre>(b&#39;{\n  &quot;created&quot;: 1326853478,\n  &quot;livemode&quot;: false,\n  &quot;id&quot;: &quot;evt_00000000000&#39;
 b&#39;000&quot;,\n  &quot;type&quot;: &quot;checkout.session.completed&quot;,\n  &quot;object&quot;: &quot;event&quot;,\n  &quot;re&#39;
 b&#39;quest&quot;: null,\n  &quot;pending_webhooks&quot;: 1,\n  &quot;api_version&quot;: &quot;2019-05-16&quot;,\n  &#39;
 b&#39;&quot;data&quot;: {\n    &quot;object&quot;: {\n      &quot;id&quot;: &quot;cs_00000000000000&quot;,\n      &quot;object&#39;
 b&#39;&quot;: &quot;checkout.session&quot;,\n      &quot;billing_address_collection&quot;: null,\n      &quot;&#39;
 b&#39;cancel_url&quot;: &quot;https://example.com/cancel&quot;,\n      &quot;client_reference_id&quot;: &#39;
 b&#39;null,\n      &quot;customer&quot;: null,\n      &quot;customer_email&quot;: null,\n      &quot;displ&#39;
 b&#39;ay_items&quot;: [\n        {\n          &quot;amount&quot;: 1500,\n          &quot;currency&quot;: &quot;&#39;
 b&#39;usd&quot;,\n          &quot;custom&quot;: {\n            &quot;description&quot;: &quot;Comfortable cott&#39;
 b&#39;on t-shirt&quot;,\n            &quot;images&quot;: null,\n            &quot;name&quot;: &quot;T-shirt&quot;\n &#39;
 b&#39;         },\n          &quot;quantity&quot;: 2,\n          &quot;type&quot;: &quot;custom&quot;\n        &#39;
 b&#39;}\n      ],\n      &quot;livemode&quot;: false,\n      &quot;locale&quot;: null,\n      &quot;mode&quot;: &#39;
 b&#39;null,\n      &quot;payment_intent&quot;: &quot;pi_00000000000000&quot;,\n      &quot;payment_method&#39;
 b&#39;_types&quot;: [\n        &quot;card&quot;\n      ],\n      &quot;setup_intent&quot;: null,\n      &quot;su&#39;
 b&#39;bmit_type&quot;: null,\n      &quot;subscription&quot;: null,\n      &quot;success_url&quot;: &quot;http&#39;
 b&#39;s://example.com/success&quot;\n    }\n  }\n}&#39;)</pre></td>
                  </tr>

                  <tr>
                    <td>request</td>
                    <td class="code"><pre>&lt;WSGIRequest: POST &#39;/stripe_webhook/&#39;&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/manager.py</code> in <code>manager_method</code>


            <div class="context" id="c4364451656">

                <ol start="75" class="pre-context" id="pre4364451656">

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>    def check(self, **kwargs):</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>        return []</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre></pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>    @classmethod</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>    def _get_queryset_methods(cls, queryset_class):</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>        def create_method(name, method):</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>            def manager_method(self, *args, **kwargs):</pre></li>

                </ol>

              <ol start="82" class="context-line">
                <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>                return getattr(self.get_queryset(), name)(*args, **kwargs)</pre> <span>…</span></li>
              </ol>

                <ol start='83' class="post-context" id="post4364451656">

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>            manager_method.__name__ = method.__name__</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>            manager_method.__doc__ = method.__doc__</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>            return manager_method</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre></pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>        new_methods = {}</pre></li>

                  <li onclick="toggle('pre4364451656', 'post4364451656')"><pre>        for name, method in inspect.getmembers(queryset_class, predicate=inspect.isfunction):</pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4364451656')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4364451656">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{&#39;customer_id&#39;: None}</pre></td>
                  </tr>

                  <tr>
                    <td>name</td>
                    <td class="code"><pre>&#39;get&#39;</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;django.db.models.manager.Manager object at 0x1036a9550&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>


        <li class="frame django">
          <code>/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/query.py</code> in <code>get</code>


            <div class="context" id="c4363932488">

                <ol start="401" class="pre-context" id="pre4363932488">

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>            clone = clone.order_by()</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>        num = len(clone)</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>        if num == 1:</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>            return clone._result_cache[0]</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>        if not num:</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>            raise self.model.DoesNotExist(</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>                &quot;%s matching query does not exist.&quot; %</pre></li>

                </ol>

              <ol start="408" class="context-line">
                <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>                self.model._meta.object_name</pre> <span>…</span></li>
              </ol>

                <ol start='409' class="post-context" id="post4363932488">

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>            )</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>        raise self.model.MultipleObjectsReturned(</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>            &quot;get() returned more than one %s -- it returned %s!&quot; %</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>            (self.model._meta.object_name, num)</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre>        )</pre></li>

                  <li onclick="toggle('pre4363932488', 'post4363932488')"><pre></pre></li>

              </ol>

            </div>



            <div class="commands">

                    <a href="#" onclick="return varToggle(this, '4363932488')"><span>&#x25b6;</span> Local vars</a>

            </div>
            <table class="vars" id="v4363932488">
              <thead>
                <tr>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                    <td>args</td>
                    <td class="code"><pre>()</pre></td>
                  </tr>

                  <tr>
                    <td>clone</td>
                    <td class="code"><pre>&lt;QuerySet []&gt;</pre></td>
                  </tr>

                  <tr>
                    <td>kwargs</td>
                    <td class="code"><pre>{&#39;customer_id&#39;: None}</pre></td>
                  </tr>

                  <tr>
                    <td>num</td>
                    <td class="code"><pre>0</pre></td>
                  </tr>

                  <tr>
                    <td>self</td>
                    <td class="code"><pre>&lt;QuerySet [&lt;Profile: lsowers1 6&gt;, &lt;Profile: trapier 5&gt;, &lt;Profile: fake 49&gt;, &lt;Profile: pigarkle 2&gt;, &lt;Profile: admin 1&gt;]&gt;</pre></td>
                  </tr>

              </tbody>
            </table>

        </li>

    </ul>
  </div>
  <form action="http://dpaste.com/" name="pasteform" id="pasteform" method="post">

  <div id="pastebinTraceback" class="pastebin">
    <input type="hidden" name="language" value="PythonConsole">
    <input type="hidden" name="title"
      value="DoesNotExist at /stripe_webhook/">
    <input type="hidden" name="source" value="Django Dpaste Agent">
    <input type="hidden" name="poster" value="Django">
    <textarea name="content" id="traceback_area" cols="140" rows="25">
Environment:


Request Method: POST
Request URL: http://ced4518d.ngrok.io/stripe_webhook/

Django Version: 2.2.4
Python Version: 3.6.7
Installed Applications:
[&#39;whitenoise.runserver_nostatic&#39;,
 &#39;dal&#39;,
 &#39;dal_select2&#39;,
 &#39;django.contrib.contenttypes&#39;,
 &#39;django.contrib.auth&#39;,
 &#39;allauth&#39;,
 &#39;allauth.account&#39;,
 &#39;allauth.socialaccount&#39;,
 &#39;allauth.socialaccount.providers.facebook&#39;,
 &#39;allauth.socialaccount.providers.google&#39;,
 &#39;django.contrib.sessions&#39;,
 &#39;django.contrib.sites&#39;,
 &#39;django.contrib.admin&#39;,
 &#39;django.contrib.messages&#39;,
 &#39;django.contrib.staticfiles&#39;,
 &#39;accounts&#39;,
 &#39;flights&#39;,
 &#39;pdf_output&#39;,
 &#39;rest_framework&#39;,
 &#39;rest_framework_docs&#39;,
 &#39;django_extensions&#39;,
 &#39;corsheaders&#39;,
 &#39;debug_toolbar&#39;,
 &#39;picklefield&#39;,
 &#39;widget_tweaks&#39;,
 &#39;columns&#39;,
 &#39;extra_views&#39;,
 &#39;anymail&#39;]
Installed Middleware:
[&#39;django.middleware.security.SecurityMiddleware&#39;,
 &#39;whitenoise.middleware.WhiteNoiseMiddleware&#39;,
 &#39;django.contrib.sessions.middleware.SessionMiddleware&#39;,
 &#39;corsheaders.middleware.CorsMiddleware&#39;,
 &#39;django.middleware.common.CommonMiddleware&#39;,
 &#39;django.middleware.csrf.CsrfViewMiddleware&#39;,
 &#39;django.contrib.auth.middleware.AuthenticationMiddleware&#39;,
 &#39;debug_toolbar.middleware.DebugToolbarMiddleware&#39;,
 &#39;django.contrib.messages.middleware.MessageMiddleware&#39;,
 &#39;django.middleware.clickjacking.XFrameOptionsMiddleware&#39;]



Traceback:

File "/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/exception.py" in inner
  34.             response = get_response(request)

File "/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py" in _get_response
  115.                 response = self.process_exception_by_middleware(e, request)

File "/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/core/handlers/base.py" in _get_response
  113.                 response = wrapped_callback(request, *callback_args, **callback_kwargs)

File "/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/views/decorators/csrf.py" in wrapped_view
  54.         return view_func(*args, **kwargs)

File "/Users/blakepowell/_django/direct2logbook/payments/views.py" in stripe_webhook_view
  29.     profile = Profile.objects.get(customer_id = event.data.object.customer)

File "/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/manager.py" in manager_method
  82.                 return getattr(self.get_queryset(), name)(*args, **kwargs)

File "/Users/blakepowell/_django/venv/lib/python3.6/site-packages/django/db/models/query.py" in get
  408.                 self.model._meta.object_name

Exception Type: DoesNotExist at /stripe_webhook/
Exception Value: Profile matching query does not exist.
</textarea>
  <br><br>
  <input type="submit" value="Share this traceback on a public website">
  </div>
</form>
</div>



<div id="requestinfo">
  <h2>Request information</h2>



    <h3 id="user-info">USER</h3>
    <p>AnonymousUser</p>


  <h3 id="get-info">GET</h3>

    <p>No GET data</p>


  <h3 id="post-info">POST</h3>

    <p>No POST data</p>

  <h3 id="files-info">FILES</h3>

    <p>No FILES data</p>



  <h3 id="cookie-info">COOKIES</h3>

    <p>No cookie data</p>


  <h3 id="meta-info">META</h3>
  <table class="req">
    <thead>
      <tr>
        <th>Variable</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td>Apple_PubSub_Socket_Render</td>
          <td class="code"><pre>&#39;/private/tmp/com.apple.launchd.vPYtZyy5Nn/Render&#39;</pre></td>
        </tr>

        <tr>
          <td>CONTENT_LENGTH</td>
          <td class="code"><pre>&#39;1116&#39;</pre></td>
        </tr>

        <tr>
          <td>CONTENT_TYPE</td>
          <td class="code"><pre>&#39;application/json; charset=utf-8&#39;</pre></td>
        </tr>

        <tr>
          <td>DISPLAY</td>
          <td class="code"><pre>&#39;/private/tmp/com.apple.launchd.Do440SkrC9/org.macosforge.xquartz:0&#39;</pre></td>
        </tr>

        <tr>
          <td>DJANGO_DEVELOPMENT_SETTINGS</td>
          <td class="code"><pre>&#39;True&#39;</pre></td>
        </tr>

        <tr>
          <td>DJANGO_SETTINGS_MODULE</td>
          <td class="code"><pre>&#39;logbook.settings&#39;</pre></td>
        </tr>

        <tr>
          <td>GATEWAY_INTERFACE</td>
          <td class="code"><pre>&#39;CGI/1.1&#39;</pre></td>
        </tr>

        <tr>
          <td>HOME</td>
          <td class="code"><pre>&#39;/Users/blakepowell&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_ACCEPT</td>
          <td class="code"><pre>&#39;*/*; q=0.5, application/xml&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_CACHE_CONTROL</td>
          <td class="code"><pre>&#39;no-cache&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_CONNECTION</td>
          <td class="code"><pre>&#39;close&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_HOST</td>
          <td class="code"><pre>&#39;ced4518d.ngrok.io&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_STRIPE_SIGNATURE</td>
          <td class="code"><pre>&#39;t=1566941753,v1=c9a41729f01656d0b910dfe6fa85c66a83a98f91116c6287d5baa24666b9ee85,v0=3fce05f031f733813decbf3a21aa66d941c7b3e4b359d5a068d686cdbd809552&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_USER_AGENT</td>
          <td class="code"><pre>&#39;Stripe/1.0 (+https://stripe.com/docs/webhooks)&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_X_FORWARDED_FOR</td>
          <td class="code"><pre>&#39;54.187.205.235&#39;</pre></td>
        </tr>

        <tr>
          <td>HTTP_X_FORWARDED_PROTO</td>
          <td class="code"><pre>&#39;https&#39;</pre></td>
        </tr>

        <tr>
          <td>LANG</td>
          <td class="code"><pre>&#39;en_US.UTF-8&#39;</pre></td>
        </tr>

        <tr>
          <td>LOGNAME</td>
          <td class="code"><pre>&#39;blakepowell&#39;</pre></td>
        </tr>

        <tr>
          <td>OLDPWD</td>
          <td class="code"><pre>&#39;/Users/blakepowell/_django&#39;</pre></td>
        </tr>

        <tr>
          <td>PATH</td>
          <td class="code"><pre>&#39;/Users/blakepowell/_django/venv/bin:/usr/local/opt/icu4c/sbin:/usr/local/opt/icu4c/bin:/usr/local/opt/icu4c/sbin:/usr/local/opt/icu4c/bin:/usr/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/Applications/Postgres.app/Contents/Versions/latest/bin&#39;</pre></td>
        </tr>

        <tr>
          <td>PATH_INFO</td>
          <td class="code"><pre>&#39;/stripe_webhook/&#39;</pre></td>
        </tr>

        <tr>
          <td>PS1</td>
          <td class="code"><pre>&#39;(venv) \\h:\\W \\u\\$ &#39;</pre></td>
        </tr>

        <tr>
          <td>PWD</td>
          <td class="code"><pre>&#39;/Users/blakepowell/_django/direct2logbook&#39;</pre></td>
        </tr>

        <tr>
          <td>QUERY_STRING</td>
          <td class="code"><pre>&#39;&#39;</pre></td>
        </tr>

        <tr>
          <td>REMOTE_ADDR</td>
          <td class="code"><pre>&#39;127.0.0.1&#39;</pre></td>
        </tr>

        <tr>
          <td>REMOTE_HOST</td>
          <td class="code"><pre>&#39;&#39;</pre></td>
        </tr>

        <tr>
          <td>REQUEST_METHOD</td>
          <td class="code"><pre>&#39;POST&#39;</pre></td>
        </tr>

        <tr>
          <td>RUN_MAIN</td>
          <td class="code"><pre>&#39;true&#39;</pre></td>
        </tr>

        <tr>
          <td>SCRIPT_NAME</td>
          <td class="code"><pre>&#39;&#39;</pre></td>
        </tr>

        <tr>
          <td>SECURITYSESSIONID</td>
          <td class="code"><pre>&#39;186a7&#39;</pre></td>
        </tr>

        <tr>
          <td>SERVER_NAME</td>
          <td class="code"><pre>&#39;1.0.0.127.in-addr.arpa&#39;</pre></td>
        </tr>

        <tr>
          <td>SERVER_PORT</td>
          <td class="code"><pre>&#39;8000&#39;</pre></td>
        </tr>

        <tr>
          <td>SERVER_PROTOCOL</td>
          <td class="code"><pre>&#39;HTTP/1.1&#39;</pre></td>
        </tr>

        <tr>
          <td>SERVER_SOFTWARE</td>
          <td class="code"><pre>&#39;WSGIServer/0.2&#39;</pre></td>
        </tr>

        <tr>
          <td>SHELL</td>
          <td class="code"><pre>&#39;/bin/bash&#39;</pre></td>
        </tr>

        <tr>
          <td>SHLVL</td>
          <td class="code"><pre>&#39;1&#39;</pre></td>
        </tr>

        <tr>
          <td>SSH_AUTH_SOCK</td>
          <td class="code"><pre>&#39;/private/tmp/com.apple.launchd.gbyq02lzaM/Listeners&#39;</pre></td>
        </tr>

        <tr>
          <td>TERM</td>
          <td class="code"><pre>&#39;xterm-256color&#39;</pre></td>
        </tr>

        <tr>
          <td>TERM_PROGRAM</td>
          <td class="code"><pre>&#39;Apple_Terminal&#39;</pre></td>
        </tr>

        <tr>
          <td>TERM_PROGRAM_VERSION</td>
          <td class="code"><pre>&#39;421.2&#39;</pre></td>
        </tr>

        <tr>
          <td>TERM_SESSION_ID</td>
          <td class="code"><pre>&#39;436561E9-F17D-44C6-AA96-246D8902FC60&#39;</pre></td>
        </tr>

        <tr>
          <td>TMPDIR</td>
          <td class="code"><pre>&#39;/var/folders/cl/fx_jlr_x6mb0dqgx7w3wv68c0000gn/T/&#39;</pre></td>
        </tr>

        <tr>
          <td>TZ</td>
          <td class="code"><pre>&#39;UTC&#39;</pre></td>
        </tr>

        <tr>
          <td>USER</td>
          <td class="code"><pre>&#39;blakepowell&#39;</pre></td>
        </tr>

        <tr>
          <td>VIRTUAL_ENV</td>
          <td class="code"><pre>&#39;/Users/blakepowell/_django/venv&#39;</pre></td>
        </tr>

        <tr>
          <td>XPC_FLAGS</td>
          <td class="code"><pre>&#39;0x0&#39;</pre></td>
        </tr>

        <tr>
          <td>XPC_SERVICE_NAME</td>
          <td class="code"><pre>&#39;0&#39;</pre></td>
        </tr>

        <tr>
          <td>_</td>
          <td class="code"><pre>&#39;/Users/blakepowell/_django/venv/bin/python&#39;</pre></td>
        </tr>

        <tr>
          <td>__CF_USER_TEXT_ENCODING</td>
          <td class="code"><pre>&#39;0x1F5:0x0:0x0&#39;</pre></td>
       ...
