{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-12 col-sm-12">

    {{ user.username }}

    <form action="" class="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <h4>New Aircraft</h4>
        <p>Required *</p>
        <p class="text-danger">{{ form.non_field_errors }}</p>
      </div>
      <hr>
      {% include 'aircraft/aircraft_form.html' %}
      <hr>
      <button class="btn-shadow btn-shadow-dark btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
