@page {
    size: legal landscape;
    margin-left: 2cm;
    margin-top: 1cm;
}

.number{
  text-align: right;
}
.text{
  text-align: left;
}

html {
  font-family: sans-serif;
}

.remarks{
  font-size: auto;
}

table{
  width: 95%;
}

th{
  border-bottom: 2px solid black;
  width: auto;
  font-size: 14px;
}

td {
  font-size: 12px;
  padding-left: 3px;
  padding-right: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
