{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<hr>
<div class="row justify-content-center">
  <div class="col-12">
    <form action="" class="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <h4>Update Signature</h4>
        <hr>
        <p>Currently:</p>
        <p><img height="60px" src="{{ signature.signature.url }}"></p>
        <p><input type="file" name="signature" accept="image/*" id="id_signature"></p>
        <hr>
        <button class="btn-shadow btn-shadow-dark btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
