<div class="spacial-features">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h1><a  class="zoomInDown text-primary" href="{% url 'signup' %}">Sign up</a></h1>

            <div><h2>Truly a better logbook -  try us and see!</h2></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <h3>
              Completely OS independent.
            </h3>
            <p>
              Direct2Logbook lives on the web, so you can use Apple, Microsoft or your favorite Linux distro.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <h3>
              No reports to run.
            </h3>
            <p>
              All of the data you need for IACRA, Medicals, Applications, and Insurance are all automatically and constanly updated!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <h3>
              Built in error checking and alerts.

              {# <span class="badge-new"></span> #}
            </h3>
            <p>
              Direct2Logbook knows if something isn't quite right and shows you where to fix it quickly and easily!
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <h3>
              Easy to switch over.
            </h3>
            <p>
              Uploading .csv files from several well known logbook programs makes switching to Direct2Logbook easy!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
