{% load static %}
<style>
  ion-icon {
    font-size: 56px;
  }
</style>
<div class="spacial-features">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h1><a  class="zoomInDown text-primary" href="{% url 'signup' %}">Sign up</a></h1>

            <div><h2>Truly a better logbook -  try us and see!</h2></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center">
              Completely OS independent.
            </h3>
            <p>
              Direct2Logbook lives on the web, so you can use Apple, Microsoft or your favorite Linux distro.
              Responsive design to accomodate a wide variety of devices.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="logo-chrome"></ion-icon>
              <ion-icon name="logo-android"></ion-icon>
              <ion-icon name="logo-apple"></ion-icon>
              <ion-icon name="logo-windows"></ion-icon>
              <ion-icon name="logo-tux"></ion-icon>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center">
              No reports to run.
            </h3>
            <p>
              All of the data you need for IACRA, Medicals, Applications, and Insurance are all automatically and constanly updated.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="sync"></ion-icon>
              <ion-icon name="stats"></ion-icon>
              <ion-icon name="thumbs-up"></ion-icon>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center">
              Built in error checking and alerts.
            </h3>
            <p>
              Direct2Logbook knows if something isn't quite right and shows you where to fix it quickly and easily.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="done-all"></ion-icon>
              <ion-icon name="alert"></ion-icon>
              <ion-icon name="checkmark"></ion-icon>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <h3 class="text-center">
              Easy to switch over.
            </h3>
            <p>
              Uploading .csv files from several well known logbook programs makes switching to Direct2Logbook easy.
            </p>
            <div class="d-flex justify-content-center">
              <ion-icon name="document"></ion-icon>
              <ion-icon name="return-right"></ion-icon>
              <ion-icon name="laptop"></ion-icon>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </section>
  </div>
