<hr>
<div class="row">
  <div class="col">
    <a href="{% url 'flight_create' %}">New Flight</a> |
    <a href="{% url 'aircraft_list' %}">Aircraft</a> |
    <a href="{% url 'flight_by_date' %}">Maps</a>

  </div>
</div>
<hr>
<div class="row breadcrumb">
  <div class="col-12">
    {% if home_link %}
      <a href="{{ home_link }}">Home</a> /
    {% endif %}
    {% if parent_link %}
      <a href="{{ parent_link }}">{{ parent_name }}</a> / {{ page_title }}{% if is_paginated %} / Page {{ page_obj.number }} {% endif %}
    {% else %}
      {{ page_title }}
    {% endif %}
  </div>
  <div class="col">
    {# <div class="float-right">{{ zulu_time }}</div> #}
  </div>
</div>
