{% load math_filters %}

	<table class="table-sm" width="100%" border="1">
  <tbody>
    <tr>
      <th colspan="13" class="text-left">III RECORD OF PILOT TIME</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="text-center">Total</td>
      <td class="text-center">Instruction Recieved</td>
      <td class="text-center">Solo</td>
      <td class="text-center">PIC and SIC</td>
      <td class="text-center">Cross Country Instruction Recieved</td>
      <td class="text-center">Cross Country Solo</td>
      <td class="text-center">Cross Country PIC/SIC</td>
      <td class="text-center">Instrument</td>
      <td class="text-center">Night Instruction Recieved</td>
      <td class="text-center">Night Take-Off / Landing</td>
      <td class="text-center">Night PIC/SIC</td>
      <td class="text-center">Night Take-Off/Landing PIC/SIC</td>
    </tr>
    <tr>
      <td rowspan="4">Airplane</td>
      <td rowspan="4" class="text-center">{{ airplane_total }}</td>
      <td rowspan="4" class="text-center">{{ airplane_dual }}</td>
      <td rowspan="4" class="text-center">{{ airplane_solo }}</td>
      <td class="text-center">PIC</td>
      <td rowspan="4" class="text-center">{{ airplane_xc_dual }}</td>
      <td rowspan="4" class="text-center">{{ airplane_xc_solo }}</td>
      <td rowspan="4" class="text-center">{{ airplane_xc_pic_sic }}</td>
      <td rowspan="4" class="text-center">{{ airplane_ifr }}</td>
      <td rowspan="4" class="text-center">{{ airplane_night_dual }}</td>
      <td rowspan="4" class="text-center">{{ airplane_ldg_night }}</td>
      <td rowspan="4" class="text-center">{{ airplane_night_pic_sic }}</td>
      <td class="text-center">PIC</td>
    </tr>
    <tr>
      <td class="text-center">{{ airplane_pic }}</td>
      <td class="text-center">{{ airplane_night_ldg_pic }}</td>
    </tr>
    <tr>
      <td class="text-center">SIC</td>
      <td class="text-center">SIC</td>

    </tr>
    <tr>
      <td class="text-center">{{ airplane_sic }}</td>
      <td class="text-center">{{ airplane_night_ldg_sic }}</td>
    </tr>
    <tr>
      <td rowspan="4">Rotorcraft</td>
      <td rowspan="4" class="text-center">{{ rotor_total }}</td>
      <td rowspan="4" class="text-center">{{ rotor_dual }}</td>
      <td rowspan="4" class="text-center">{{ rotor_solo }}</td>
      <td class="text-center">PIC</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_xc_dual }}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_xc_solo }}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_xc_pic_sic }}</td>
      <td rowspan="4" class="text-center">{{ rotor_ifr }}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_night_dual }}</td>
      <td rowspan="4" class="text-center">{{ rotor_ldg_night }}</td>
      <td rowspan="4" class="text-center">{{ rotorcraft_night_pic_sic }}</td>
      <td class="text-center">PIC</td>
    </tr>
    <tr>
      <td class="text-center">{{ rotor_pic }}</td>
      <td class="text-center">{{ rotorcraft_night_ldg_pic }}</td>
    </tr>
    <tr>
      <td class="text-center">SIC</td>
      <td class="text-center">SIC</td>
    </tr>
    <tr>
      <td class="text-center">{{ rotor_sic }}</td>
      <td class="text-center">{{ rotorcraft_night_ldg_sic }}</td>
    </tr>
  </tbody>
</table>
<br>
<div class="row justify-content-center align-items-center">
	<table class="table-sm" width="50%" border="1">
		<thead>
			<tr>
			  <th colspan="9" class="text-center">Class Totals</th>
			</tr>
		</thead>
  <tbody>
    <tr>
      <td rowspan="3" class="text-center">Airplane</td>
      <td colspan="2" class="text-center">SEL</td>
      <td colspan="2" class="text-center">MEL</td>
      <td colspan="2" class="text-center">SES</td>
      <td colspan="2" class="text-center">MES</td>
    </tr>
    <tr>
      <td class="text-center">PIC</td>
	    <td class="text-center">{{ ASEL.pilot_in_command }}</td>
      <td class="text-center">PIC</td>
      <td class="text-center">{{ AMEL.pilot_in_command }} </td>
	    <td class="text-center">PIC</td>
      <td class="text-center">{{ ASES.pilot_in_command }}</td>
	  <td class="text-center">PIC</td>
    <td class="text-center">{{ AMES.pilot_in_command }}</td>
    </tr>
        <tr>
          <td class="text-center">SIC</td>
          <td class="text-center">{{ ASEL.second_in_command }}</td>
          <td class="text-center">SIC</td>
          <td class="text-center">{{ AMEL.second_in_command }}</td>
          <td class="text-center">SIC</td>
          <td class="text-center">{{ ASES.second_in_command }}</td>
    	    <td class="text-center">SIC</td>
          <td class="text-center">{{ AMES.second_in_command }}</td>
        </tr>
        <tr>
          <td rowspan="2" class="text-center">Rotorcraft</td>
          <td colspan="4" class="text-center">Helicopter</td>
          <td colspan="4" class="text-center">Gyroplane</td>
        </tr>
     	  <td colspan="4" class="text-center">{{ HELO.total_time }}</td>
    	  <td colspan="4" class="text-center">{{ GYRO.total_time }}</td>
    	<tr>
    	  <td rowspan="2" class="text-center">FFS</td>
    	  <td colspan="2" class="text-center">SE</td>
    	  <td colspan="2" class="text-center">ME</td>
    	  <td colspan="4" class="text-center">Helicopter</td>
    	</tr>
    	<tr>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="4">&nbsp;</td>
    	</tr>
    	<tr>
    	  <td class="text-center">FTD</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="4">&nbsp;</td>
    	</tr>
    	<tr>
    	  <td class="text-center">ATD</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="2">&nbsp;</td>
    	  <td colspan="4">&nbsp;</td>
    	</tr>
      </tbody>
    </table>

    </div>
