{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" type="image/png" href="{% static 'theme/images/favicon.ico' %}"/>

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'theme/dist/theme.css' %}" />

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{% static 'theme/dist/theme.min.js' %}"></script>
</head>
<body>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

{% include 'blocks/navbar.html' %}

  <script type="text/javascript">
    $(function () {
      if (!window.utils.isMobile()) {
        // parallax header
        $(window).scroll(function() {
          var scroll = $(window).scrollTop(),
          slowScroll = scroll/4,
          slowBg = slowScroll;

          $('.index-app-hero').css("background-position", "center " + -slowBg + "px");
        });
      }
    });
  </script>

  <div class="index-app-hero">
      <div class="container">
        <h2 class="customFadeInUp">
          <img class="img-fluid" width="600" src="{% static 'theme/images/D2LB_LOGO_White_LtoR.png'%}"></img>
          <br>
        </h2>
        <p class="customFadeInUp">
          <h5 style="font-family: Lexend Exa;" class="text-white">No memory items, no limitations.</h5>
          <p class="text-white">OS independent online pilot's logbook.</p>

        </p>

        <a href="{% url 'account_signup' %}" class="btn-pill btn-pill-success btn-pill-lg customFadeInUp">Sign Up</a>
        <!-- <a href="#" class="btn-pill btn-pill-success btn-pill-lg customFadeInUp">Public access coming soon</a> -->

      </div>
    </div>

    <div class="index-app-news">
    <div class="container">
      <span>A mobile app is coming soon!.</span>
    </div>
  </div>

  <div class="index-app-features">
    <section class="clearfix">
        <img src="{% static '/theme/images/devices/devices-4.png' %}" class="browser" />

      <div class="info">
        <h3>Stats at a glance</h3>
        <h4>
          Direct2Logbook calculates everything you need as you enter new data.
        </h4>
        <p>
          Your information is easily readable on a variety of devices.
        </p>
      </div>
      <hr>
    </section>
  </div>

  <div class="index-features-files index-app clearfix">
    <div class="container2">
      <div class="container1">
        <div class="col col-left">

          <div class="features">
            <div class="feature clearfix">
              <div class="image">
                <img src="{% static 'theme/images/icons/features-icon-upload.png' %}" />
              </div>
              <div class="info">
                <strong>
                  Import your current logbook.
                </strong>
                <p>
                  Easy upload from a variety of popular logbook programs via .csv
                </p>
              </div>
            </div>
            <div class="feature clearfix">
              <div class="image">
                <img src="{% static 'theme/images/icons/features-icon-world.png' %}" />
              </div>
              <div class="info">
                <strong>
                  This is the central storage space across all of your devices.
                </strong>
                <p>
                  OS independent cloud storage for your logbook data with secure backups across the United States.
                </p>
              </div>
            </div>
            <div class="feature clearfix">
              <div class="image">
                <img src="{% static 'theme/images/icons/features-icon-repeat.png' %}" />
              </div>
              <div class="info">
                <strong>
                  Every data point is automatically updated as you enter a new flight. No reports to run.
                </strong>
                <p>
                  Four responsive tables provide all of the information you need for applications, insurance forms, and IACRA. Currency is divided between Category/Class as well as aircraft type. Your data is also separated between weight, power type, and command position.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="col col-right">
          <div class="info">
            <h3>Simple</h3>
            <h4>
              All the numbers at a glance with minimal navigation.
            </h4>
            <p>No cumbersome menus. Clean and simple.</p>
          </div>
          <div class="info">
            <h3>Secure</h3>
            <h3>
              Written with <a class= "text-dark" target="new" href="https://www.python.org/"><u>Python.</u></a><br>
              Powered by <a class= "text-dark" target="new" href="https://www.djangoproject.com/"><u>Django.</u></a><br>
              Runs on <a class= "text-dark" target="new" href="https://www.heroku.com/"><u>Heroku.</u></a><br>
              Payments with <a class= "text-dark" target="new" href="https://www.stripe.com/"><u>Stripe.</u></a><br>
            </h3>
            <p>Multiple backups across the US.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="index-features-user">
    <header>
      <h3>Cloud storage across all of your devices</h3>
      <h4>
        Don't let another application keep you tied to an OS ecosystem.
      </h4>
    </header>
    <section class="clearfix">
      <img src="{% static 'theme/images/devices/ipad-1.png' %}" class="devices float-right" />

      <h4>Responsive design looks great and works great on several device categories.</h4>
      <p>
        <!-- placeholder -->
      </p>
      <div class="icons">
        <i class="ion-monitor"></i>
        <i class="ion-ipad"></i>
        <i class="ion-iphone"></i>
      </div>
    </section>
  </div>

  <div class="business-single-client index-app">
    <div class="quote-wrapper">
      <p>
        "We created this app because the current options are too expensive
        and limit you to a particular operating system while making you pay
        extra for features such as a map view and cloud syncing."</p>
        <p>"Direct2Logbook won't do any of that."</p>
      <div class="author">
        - Direct2Logbook Team
      </div>
    </div>
  </div>

  <div class="index-app-devices">
    <div class="container">
      <img src="{% static 'theme/images/devices/devices-4-2.png' %}" class="img-fluid d-block mx-auto">

      <div class="cta">
        <h3>
          Try Direct2Logbook.com
        </h3>
        <p>30 day free trial no credit card required.</p>
        <p>$3.00/month or $33/year</p>
        <a href="{% url 'account_signup' %}">
          Create an account
        </a>
      </div>
    </div>
  </div>

{% include 'blocks/footer.html' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156431149-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156431149-1');
</script>

</body>
</html>
