{% extends 'base.html' %}

{% block content %}
<hr>
<div>
  <a class="btn btn-primary" href="{% url 'aircraft_create' %}">New Aircraft</a>
  <hr>
</div>
<div class="">
  {% regroup tailnumbers by aircraft as aircraft_list %}
  <div class="row">
    {% for aircraft in aircraft_list %}
        <div class="col-12"><a style="text-decoration: underline;" class="text-dark" href="{% url 'aircraft_detail' aircraft.grouper.pk %}"><h4>{{ aircraft.grouper }}</h4></a>
            <div style="display: inline;">
              {% for tailnumber in aircraft.list %}
              <a href="{% url 'tailnumber_detail' tailnumber.pk %}">{{ tailnumber.registration }}</a>
            {% endfor %}
            </div>
            <hr>
        </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
