{% extends 'base.html' %}

{% block content%}
{% load static %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="crossorigin=""/>
<script src="https://unpkg.com/leaflet@^1.0.0/dist/leaflet-src.js"></script>

<div class="row">
  <div class="col-4">
    <h3>{{ tailnumber.registration }}</h3>
    <hr>
    <div class="btn-group">
      <a href ="{% url 'tailnumber_update' tailnumber.pk %}" class="btn btn-shadow btn-secondary btn-sm">Update</a>
      <a href ="{% url 'tailnumber_delete' tailnumber.pk %}" class="btn btn-shadow btn-danger btn-sm">Delete</a>
    </div>
    <hr>
    <h4>{{ tailnumber.aircraft }}</h4>
    <hr>
    {% if tailnumber.is_121 %}
        <h5>121</h5>
      {% else %}
    {% endif %}
    {% if tailnumber.is_135 %}
        <h5>135</h5>
      {% else %}
    {% endif %}
    {% if tailnumber.is_91 %}
        <h5>91</h5>
      {% else %}
    {% endif %}
    <hr>


    <h3>Routes</h3>
    
    {% for flight in flights %}
      <a href ="{% url 'flight_detail' flight.pk %}" class="btn btn-outline-secondary btn-sm">{{ flight.date }} {{ flight.route }} {{ flight.aircraft_type}}</a>
    {% endfor %}
  </div>


<div class="col-8">
  <div style="margin-top: 10px;" id="mapid" class="col-4image-shadow custom-popup">
    <script src="{% static 'flights/leaflet-geodesic.js' %}"></script>
      {% include 'leaflet.html' %}

  </div>
</div>


{% endblock %}
