{% extends 'base.html' %}
{% load static %}
{% block content %}

<hr>
<div class="row">
  <div class="col">
    {% if not years %}
      <h1 class="text-center">No Data</h1>
    {% else %}
        {% for year in years reversed %}
          <a href="/flights/by_date/{{ year|date:'Y' }}">{{ year|date:"Y" }}</a>
        {% endfor %}
    {% endif %}
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <div id="mapid" class="col image-shadow custom-popup">
      {% include 'leaflet.html' %}
    </div>
  </div>
</div>

{% endblock %}
