{% extends 'base.html' %}
{% load flights_filters %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="crossorigin=""/>
<script src="https://unpkg.com/leaflet@^1.0.0/dist/leaflet-src.js"></script>

<div class="row">
  <div class="col-12">
    <p><h4>{{ flight.date }} {{ flight.aircraft_type }} | {{ flight.registration }}</h4><p>
    <p><h6>{{ flight.route }}</h6></p>
    <p><h6>
      {% if flight.pilot_in_command %}PIC |{% endif %}
      {% if flight.second_in_command %}SIC |{% endif %}
      {% if flight.cross_country %}XC |{% endif %}
      {% if flight.night %}Night |{{flight.night}}{% endif %}
      {% if flight.instrument %}IFR {{flight.instrument}} |{% endif %}
      {% for approach in flight.approach_set.all %}
        {{ approach.approach_type }}-{{ approach.number }} |
      {% endfor %}
      {% for holding in flight.holding_set.all %}
        {% if holding.hold %}| Hold-{{ holding.hold_number }} {% endif %}
      {% endfor %}
      {% if flight.landings_day %}{{flight.landings_day}}D |{% endif %}
      {% if flight.landings_night %}{{flight.landings_night}}N |{% endif %}
      {% if flight.simulated_instrument %}Hood |{{flight.simulated_instrument}}{% endif %}
      {% if flight.instructor %}CFI |{{flight.instructor}}{% endif %}
      {% if flight.dual %}Dual |{% endif %}
      {% if flight.solo %}Solo |{% endif %}
    </h6></p>
    <p><h6>
      {% if flight.remarks %}Remarks:<p><h7>{{flight.remarks}}</h7></p>{% endif %}
    </h6></p>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <a href ="{% url 'flight_update' flight.pk %}" class="btn btn-outline-secondary">Update</a>
      <a href ="{% url 'flight_delete' flight.pk %}" class="btn btn-outline-danger">Delete</a>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <a href ="{% url 'flight_detail' previous_flight.pk %}" class="btn btn-sm btn-outline-secondary">Previous Flight</a>
      <a href ="{% url 'flight_detail'  next_flight.pk %}" class="btn btn-sm btn-outline-secondary">Next Flight</a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
  <div style="margin-top: 10px;" id="mapid" class="col image-shadow custom-popup">
    <script src="{% static 'flights/leaflet-geodesic.js' %}"></script>
  </div>
</div>
</div>


{% if flight.map_error or flight.duplicate_error or flight.aircraft_type_error or flight.registration_error or flight.crew_error or flight.duration < .1 %}

  <div class="modal fade" id="errors">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Please correct the folowing errors.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          {% if flight.map_error %}
            <p class="text-danger">{{ flight.map_error }}</p>
            <small class="text-muted">Please double check your route entries</small>
            <hr>
          {% endif %}
          {% if flight.duplicate_error %}
            <p class="text-danger">{{ flight.duplicate_error }}<p>
            <small class="text-muted">Try using ICAO instead of FAA identifiers</small>
            <hr>
          {% endif %}
          {% if flight.aircraft_type_error %}
            <p class="text-danger">{{ flight.aircraft_type_error }}<p>
            <hr>
          {% endif %}
          {% if flight.registration_error %}
            <p class="text-danger">{{ flight.registration_error }}<p>
            <hr>
          {% endif %}
          {% if flight.crew_error %}
            <p class="text-danger">{{ flight.crew_error }}<p>
            <hr>
          {% endif %}
          {% if not flight.duration or flight.duration < .1 %}
            <p class="text-danger">Please check the duration of this flight<p>
            <hr>
          {% endif %}
          <a href ="{% url 'flight_update' flight.pk %}" class="btn btn-sm btn-shadow btn-secondary">Update</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
{% endif %}

<script>
  $(function() {
   $("#errors").modal();
  });
</script>
{% include 'tablefixer.html' %}

{% endblock %}
