{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<!-- control_loading -->
<script src="{% static 'flights/control_loading.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'flights/control_loading.css' %}">
<!-- conditionalLayer -->
<script src="{% static 'flights/leaflet-conditionalLayer.js' %}"></script>

<div class="row">
  <div class="col-4">
      <a class="btn btn-outline-secondary btn-sm" href="{% url 'flight_by_date' %}" >All Years</a>
    <hr>
      <div class="btn-group">
        {% if previous_month %}
            <a href='/flights/by_date/{{ previous_month|date:"Y" }}/{{ previous_month|date:"b" }}' class="btn btn-outline-secondary btn-sm">- Month</a>
        {% endif %}
        {% if next_month %}
            <a href='/flights/by_date/{{ next_month|date:"Y" }}/{{ next_month|date:"b" }}' class="btn btn-outline-secondary btn-sm">Month +</a>
        {% endif %}
      </div>
    <div><hr></div>
    <div style="overflow:auto;" >
      {% for flight in object_list %}
          <li class=list-unstyled><a href ="{% url 'flight_detail' flight.pk %}" class="btn btn-outline-secondary btn-sm">
                      {{ flight.date }} |
      				{{ flight.registration }} |
      				{{ flight.route }}</a></li>
      {% endfor %}
    </div>
  </div>

  <div id="mapid" class="col-8 image-shadow custom-popup">
      {% include 'leaflet.html' %}
  </div>
</div>


<!-- leaflet-geodesic -->
<script src="{% static 'flights/leaflet-geodesic.js' %}"></script>



{% endblock %}
