{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="crossorigin=""/>
<script src="https://unpkg.com/leaflet@^1.0.0/dist/leaflet-src.js"></script>

<div class="row">
  <div class="col-2">
      <a class="btn btn-outline-secondary btn-sm" href="{% url 'flight_by_date' %}">All Years</a>
      <hr>
    	<div class="btn-group">
    		{% if previous_year %}
    		    <a href='/flights/by_date/{{ previous_year|date:"Y" }}' class="btn btn-outline-secondary btn-sm">- Year</a>
    		{% endif %}
    		{% if next_year %}
    				<a href='/flights/by_date/{{ next_year|date:"Y" }}' class="btn btn-outline-secondary btn-sm">Year +</a>
    		{% endif %}
    	</div>
    <div><hr></div>
			{% for date in date_list %}
    		<li class=list-unstyled>
          <a href='/flights/by_date/{{ year|date:"Y" }}/{{ date|date:"b" }}'class="btn btn-outline-secondary btn-sm">
    		      {{ date|date }}</a></li>
			{% endfor %}
  </div>
  <div id="mapid" class="col-10 image-shadow custom-popup">
      {% include 'leaflet.html' %}
  </div>
</div>

<!-- leaflet-geodesic -->
<script src="{% static 'flights/leaflet-geodesic.js' %}"></script>


{% endblock %}
