{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col col-xl-3 col-lg-2 col-md-2 col-sm-2">
      <a class="btn btn-outline-secondary btn-sm" href="{% url 'flight_by_date' %}">All Years</a>
      <hr>
    	<div class="btn-group">
    		{% if previous_year %}
    		    <a href='/flights/by_date/{{ previous_year|date:"Y" }}' class="btn btn-outline-secondary btn-sm">- Year</a>
    		{% endif %}
    		{% if next_year %}
    				<a href='/flights/by_date/{{ next_year|date:"Y" }}' class="btn btn-outline-secondary btn-sm">Year +</a>
    		{% endif %}
    	</div>
    <div><hr></div>
			{% for date in date_list %}
    		<li class=list-unstyled>
          <a href='/flights/by_date/{{ year|date:"Y" }}/{{ date|date:"b" }}'class="btn btn-outline-secondary btn-sm">
    		      {{ date|date }}</a></li>
			{% endfor %}
  </div>
  <div id="mapid" class="col col-xl-8 col-lg-8 col-md-6 col-sm-6 image-shadow custom-popup">
      {% include 'leaflet.html' %}
  </div>
</div>

{% endblock %}
