{% extends 'base.html' %}
{% load flights_filters %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <h3>{{ flight.date }} | {{ flight.aircraft_type }} | {{ flight.registration }} | {{ flight.route }}</h3>
    <table class="">
      <thead class="">
        <tr class="">
          {% if flight.pilot_in_command %}<th>PIC</th>{% endif %}
          {% if flight.second_in_command %}<th>SIC</th>{% endif %}
          {% if flight.cross_country %}<th>XC</th>{% endif %}
          {% if flight.night %}<th>Night</th>{% endif %}
          {% if flight.instrument %}<th>IFR</th>{% endif %}
          {% if flight.approach_type %}<th>Approaches</th>{% endif %}
          {% if holding.hold %}<th>Holding</th>{% endif %}
          {% if flight.landings_day %}<th>Day Landing</th>{% endif %}
          {% if flight.landings_night %}<th>Night Landing</th>{% endif %}
          {% if flight.simulated_instrument %}<th>Sim Instrument</th>{% endif %}
          {% if flight.instructor %}<th>CFI</th>{% endif %}
          {% if flight.dual %}<th>Dual</th>{% endif %}
          {% if flight.solo %}<th>Solo</th>{% endif %}
          {% if flight.simulator %}<th>Sim</th>{% endif %}
          {% if flight.remarks %}<th>Remarks</th>{% endif %}
        </tr>
      </thead>
      <tbody>
          <tr>
            {% if flight.pilot_in_command %}<td>{{ flight.pilot_in_command|iconbool }}</td>{% endif %}
            {% if flight.secondary_in_command %}<td>{{ flight.second_in_command|iconbool }}</td>{% endif %}
            {% if flight.cross_country %}<td>{{ flight.cross_country|iconbool }}</td>{% endif %}
            {% if flight.night %}<td>{{ flight.night }}</td>{% endif %}
            {% if flight.instrument %}<td>{{ flight.instrument }}</td>{% endif %}
            {% if flight.approach_type %}<td>{{ flight.approach_type }}-{{ approach.number }}</td>{% endif %}
            {% if holding.hold %}<td>{{ holding.hold|iconbool }}-{{ holding.hold_number }}</td>{% endif %}
            {% if flight.landings_day %}<td>{{ flight.landings_day }}</td>{% endif %}
            {% if flight.landings_night %}<td>{{ flight.landings_night }}</td>{% endif %}
            {% if flight.simulated_instrument %}<td>{{ flight.simulated_instrument }}</td>{% endif %}
            {% if flight.instructor %}<td>{{ flight.instructor|iconbool }}</td>{% endif %}
            {% if flight.dual %}<td>{{ flight.dual|iconbool }}</td>{% endif %}
            {% if flight.solo %}<td>{{ flight.solo|iconbool }}</td>{% endif %}
            {% if flight.simulator %}<td>{{ flight.simulator|iconbool }}</td>{% endif %}
            {% if flight.remarks %}<td>{{ flight.remarks }}</td>{% endif %}
          </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <a href ="{% url 'flight_update' flight.pk %}" class="btn btn-outline-secondary">Update</a>
      <a href ="{% url 'flight_delete' flight.pk %}" class="btn btn-outline-danger ">Delete</a>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="btn-group">
          <a href ="{% url 'flight_detail' previous_flight.pk %}" class="btn btn-sm btn-outline-secondary">Previous Flight</a>
          <a href ="{% url 'flight_detail'  next_flight.pk %}" class="btn btn-sm btn-outline-secondary">Next Flight</a>
        </div>

  </div>
</div>
<hr>
  <div class="row">
    <div class="col-12">
      <div id="mapid" class="img-responsive image-shadow custom-popup">

    </div>
    </div>
  </div>
</div>

{% if flight.map_error or flight.duplicate_error or flight.aircraft_type_error or flight.registration_error or flight.crew_error or flight.duration < .1 %}

  <div class="modal fade" id="errors">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Please correct the folowing errors.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          {% if flight.map_error %}
            <p class="text-danger">{{ flight.map_error }}</p>
            <small class="text-muted">Please double check your route entries</small>
            <hr>
          {% endif %}
          {% if flight.duplicate_error %}
            <p class="text-danger">{{ flight.duplicate_error }}<p>
            <small class="text-muted">Try using ICAO instead of FAA identifiers</small>
            <hr>
          {% endif %}
          {% if flight.aircraft_type_error %}
            <p class="text-danger">{{ flight.aircraft_type_error }}<p>
            <hr>
          {% endif %}
          {% if flight.registration_error %}
            <p class="text-danger">{{ flight.registration_error }}<p>
            <hr>
          {% endif %}
          {% if flight.crew_error %}
            <p class="text-danger">{{ flight.crew_error }}<p>
            <hr>
          {% endif %}
          {% if not flight.duration or flight.duration < .1 %}
            <p class="text-danger">Please check the duration of this flight<p>
            <hr>
          {% endif %}
          <a href ="{% url 'flight_update' flight.pk %}" class="btn btn-sm btn-shadow btn-secondary">Update</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
{% endif %}

<script>
  $(function() {
   $("#errors").modal();
  });
</script>

{% endblock %}
