{% extends 'base.html' %}
{% load static %}
{% load columns %}
{% block content %}

<hr>
<div class="row">
  <div class="col">
    {% for year in years reversed %}
      <a href="/flights/by_date/{{ year|date:'Y' }}">{{ year|date:"Y" }}</a>
    {% endfor %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
      <div class="">
        {% if previous_month %}
            <a href='/flights/by_date/{{ previous_month|date:"Y" }}/{{ previous_month|date:"b" }}' class="">- {{ previous_month|date:"F" }}, {{ next_month|date:"Y" }}</a>
        {% endif %}
        <span class="font-weight-bold">| {{ month|date:"F" }}, {{ month|date:"Y" }} |</span>
        {% if next_month %}
            <a href='/flights/by_date/{{ next_month|date:"Y" }}/{{ next_month|date:"b" }}' class="">{{ next_month|date:"F" }}, {{ next_month|date:"Y" }} +</a>
        {% endif %}
      </div>
  </div>
</div>
<hr>
<div class="row flex-sm-row">
    {% for col in object_list|columns:2 reversed %}
      <div class="justify-content-left">
        <div class="col flex-md-column">
            {% for flight in col reversed %}
              <a href="{% url 'flight_detail' flight.pk %}">
                {{ flight.date }} {{ flight.registration }} |
                <span class="text-nowrap">{{ flight.route }}</span>
                <hr style="margin: 0px;">
              </a>
            {% endfor %}
          </div>
      </div>
    {% endfor %}
</div>
<br>
<div class="row">
  <div id="mapid" class="col image-shadow custom-popup">
    {% include 'leaflet.html' %}
  </div>
</div>







{% endblock %}
