{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="crossorigin=""/>
<script src="https://unpkg.com/leaflet@^1.0.0/dist/leaflet-src.js"></script>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
  <h3>{{ flight.date }} | {{ flight.aircraft_type }} | {{ flight.registration }} | {{ flight.route }}</h3>

  <hr>
</div>
</div>

<div class="row">
  <div class="col-3">
    <div class="btn-group">
      <a href ="{% url 'flight_detail' previous_flight.pk %}" class="btn btn-sm btn-outline-secondary">Previous Day</a>
      <a href ="{% url 'flight_detail'  next_flight.pk %}" class="btn btn-sm btn-outline-secondary">Next Day</a>
    </div>
    <hr>
    <div class="btn-group">
      <a href ="{% url 'flight_update' flight.pk %}" class="btn btn-outline-secondary">Update</a>
      <a href ="{% url 'flight_delete' flight.pk %}" class="btn btn-outline-danger ">Delete</a>
    </div>

      <hr>
      <p>Aircraft {{ flight.aircraft_type }}</p>
      <p>Registration {{ flight.registration }}</p>
      <hr>
      <p>Duration {{ flight.duration }}</p>
      <hr>
      {% if flight.pilot_in_command %}
        <p>PIC</p>
        <hr>
        {% else %}
      {% endif %}

      {% if flight.second_in_command %}
        <p>SIC</p>
        <hr>
        {% else %}
      {% endif %}

      {% if flight.instructor %}
        <p>Instructor</p>
        <hr>
        {% else %}
      {% endif %}

      {% if flight.dual %}
        <p>Dual</p>
        <hr>
        {% else %}
      {% endif %}

      {% if flight.solo %}
        <p>Solo</p>
        <hr>
        {% else %}
      {% endif %}

      {% if flight.simulator %}
        <p>Sim</p>
        {% else %}
      {% endif %}

      {% if flight.cross_country %}
        <p>Cross Country</p>
        <hr>
        {% else %}
      {% endif %}

      {% if flight.night %}
        <p>Night {{ flight.night }}</p>
        <hr>
        {% else %}
      {% endif %}

      {% if flight.instrument %}
        <p>Instrument {{ flight.instrument }}</p>
         <hr>
          {% else %}
      {% endif %}

      <p>Legs {{ flight.legs }}</p>
      <hr>

      {% if flight.landings_day %}
      <p>Day Landings {{ flight.landings_day }}</p>
      <hr>
      {% endif %}

      {% if flight.night %}
        <p>Night Landings {{ flight.landings_night }}</p>
        <hr>
      {% endif %}

      <p>Approaches</p>
      {% for approach in flight.approach_set.all %}
        <br>{{ approach.approach_type }} {{ approach.number }}</br>
      {% endfor %}
      <hr>

      <p>Holding</p>
      {% for holding in flight.holding_set.all %}
        <br>{{ holding.approach_type }}{{ holding.hold_number }}</br>
        <hr>
      {% endfor %}

      {% if flight.remarks %}
      <hr>
        <p>Remarks:<p>
        <p>{{ flight.remarks }}</p>
        {% else %}
      {% endif %}

  </div>
  <div class="col-9">
    <div id="mapid" class="img-responsive image-shadow custom-popup">
      <script src="{% static 'flights/leaflet-geodesic.js' %}"></script>
      {% include 'leaflet.html' %}
    </div>
  </div>
</div>
</div>

{% if flight.map_error or flight.duplicate_error or flight.aircraft_type_error or flight.registration_error or flight.crew_error or flight.duration < .1 %}

  <div class="modal fade" id="errors">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Please correct the folowing errors.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          {% if flight.map_error %}
            <p class="text-danger">{{ flight.map_error }}</p>
            <small class="text-muted">Please double check your route entries</small>
            <hr>
          {% endif %}
          {% if flight.duplicate_error %}
            <p class="text-danger">{{ flight.duplicate_error }}<p>
            <small class="text-muted">Try using ICAO instead of FAA identifiers</small>
            <hr>
          {% endif %}
          {% if flight.aircraft_type_error %}
            <p class="text-danger">{{ flight.aircraft_type_error }}<p>
            <hr>
          {% endif %}
          {% if flight.registration_error %}
            <p class="text-danger">{{ flight.registration_error }}<p>
            <hr>
          {% endif %}
          {% if flight.crew_error %}
            <p class="text-danger">{{ flight.crew_error }}<p>
            <hr>
          {% endif %}
          {% if not flight.duration or flight.duration < .1 %}
            <p class="text-danger">Please check the duration of this flight<p>
            <hr>
          {% endif %}
          <a href ="{% url 'flight_update' flight.pk %}" class="btn btn-sm btn-shadow btn-secondary">Update</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
{% endif %}

<script>
  $(function() {
   $("#errors").modal();
  });
</script>

{% endblock %}
