{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<form action="{% url 'flight_create' %}" class="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <h4>New Flight</h4>
    <p>Required *</p>
  </div>
  <hr>
  {% include 'flights/flight_form.html' %}
  <hr>
  <button class="btn btn-primary btn-sm" type="submit">Submit</button>
</form>

{% include 'aircraft/aircraft_create_form_modal.html' %}
{% include 'tailnumbers/tailnumber_create_form_modal.html' %}

{% include 'flights/datepicker.html' %}
{% include 'flights/checkbox_logic.html' %}

{{ flight_form.media }}
{% endblock %}
