{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<form action="{% url 'flight_update' flight.pk %}" class="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <h4>Update Flight {{ flight.pk }}</h4>
    <p>Required *</p>
  </div>
  <hr>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.date |attr:"autocomplete=off" |attr:"placeholder:Date *" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">{{ form.aircraft_type |add_class:"form-control"}}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">{{ form.registration |add_class:"form-control"}}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.route |attr:"autocomplete=off" |attr:"id:route" |attr:"placeholder:Route *" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.legs |attr:"placeholder:Legs *" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.duration |attr:"placeholder:Duration *" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <div class="m-4">
        {{ form.pilot_in_command |attr:"id:pic" |add_class:"form-control exclcb"}} PIC
      </div>
      <div class="m-4">
        {{ form.second_in_command |attr:"id:sic" |add_class:"form-control exlcb"}} SIC
      </div>
      <div class="m-4">
        {{ form.solo |attr:"id:solo" |add_class:"form-control solo"}} Solo
      </div>
      <div class="m-4">
        {{ form.dual |attr:"id:dual" |add_class:"form-control dual"}} Dual
      </div>
      <div class="m-4">
        {{ form.instructor |attr:"id:cfi" |add_class:"form-control"}} CFI
      </div>
      <div class="m-4">
        {{ form.simulator |add_class:"form-control"}} Simulator
      </div>
      <div class="m-4">
        {{ form.cross_country |add_class:"form-control"}} XC
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.landings_day |attr:"placeholder:Ldg Day" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.landings_night |attr:"placeholder:Ldg Night" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.night |attr:"placeholder:Night" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.instrument |attr:"placeholder:IFR" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.simulated_instrument |attr:"placeholder:Simulated IFR" |add_class:"form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.approaches |add_class:"form-control"}} Approaches
    </div>
  </div>
  <div class="form-inline">
    <div class="row">
      <div class="m-4">
        {{ form.holding |add_class:"form-control" }} Holding
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-sm">
    {{ form.remarks |attr:"placeholder:Remarks" |add_class:"form-control"}}
    </div>
  </div>
  <hr>
  <button class="btn btn-primary btn-sm" type="submit">Update</button>
</form>

{% include 'flights/datepicker.html' %}
{% include 'flights/flight_form_checkbox_logic.html' %}
{% include 'flights/route_format.html' %}

{{ form.media }}
{% endblock %}
