{% load widget_tweaks %}

<div class="form-group">
  <div class="input-group-sm">
    {{ flight_form.date |attr:"autocomplete:off" |attr:"placeholder:Date *" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.aircraft_type |add_class:"form-control"}}
  </div>
</div>
    <!-- <div class="col-lg-2 col-md-4 col-sm-6"><button class="btn btn-outline-secondary btn-sm" href="{% url 'aircraft_create' %}" target="new"> New Aircraft</button></div> -->
    <!-- <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6"><button class="btn btn-outline-secondary btn-sm" href="#aircraft_form_modal" data-toggle="modal" data-target="#aircraft_form_modal"> New Aircraft</button></div> -->
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.registration |add_class:"form-control"}}
  <div class=""><a href="{% url 'tailnumber_create' %}" target="new"> New Tailnumber</a></div>

  </div>
</div>
<!-- <div class="form-group">
  <div class="input-group-sm"> -->
    <!-- <div class=""><a href="{% url 'tailnumber_create' %}" target="new"> New Tailnumber</a></div> -->
    <!-- <a href="#new_tailnumber_modal" data-toggle="modal" data-target="#new_tailnumber_modal">New Tailnumber</a> -->
  <!-- </div>
</div> -->
<div class="form-group">
  <div class="input-group-sm">
    {{ flight_form.route |attr:"id:route" |attr:"autocomplete:off" |attr:"placeholder:Route *" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.legs |attr:"placeholder:Legs *" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.duration |attr:"placeholder:Duration *" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group form-inline">
  <div class="row">
    <div class="m-4">
      {{ flight_form.pilot_in_command |attr:"id:pic" |add_class:"form-control exclcb"}} PIC
    </div>
    <div class="m-4">
      {{ flight_form.second_in_command |attr:"id:sic" |add_class:"form-control exlcb"}} SIC
    </div>
    <div class="m-4">
      {{ flight_form.solo |attr:"id:solo" |add_class:"form-control solo"}} Solo
    </div>
    <div class="m-4">
      {{ flight_form.dual |attr:"id:dual" |add_class:"form-control dual"}} Dual
    </div>
    <div class="m-4">
      {{ flight_form.instructor |attr:"id:cfi" |add_class:"form-control"}} CFI
    </div>
    <div class="m-4">
      {{ flight_form.simulator |add_class:"form-control"}} Sim
    </div>
    <div class="m-4">
      {{ flight_form.cross_country |add_class:"form-control"}} XCountry
    </div>
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.landings_day |attr:"placeholder:Ldg Day" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.landings_night |attr:"placeholder:Ldg Night" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.night |attr:"placeholder:Night" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.instrument |attr:"placeholder:IFR" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
  {{ flight_form.simulated_instrument |attr:"placeholder:Simulated IFR" |add_class:"form-control"}}
  </div>
</div>
<div class="form-group">
  <label>Approaches</label>
  <div class="input-group-sm">
    {{ flight_form.approaches |add_class:"form-control"}}
  </div>
  <div class="form-group form-inline">
    <div class="row">
      <div class="m-4">
        {{ flight_form.holding |add_class:"form-control" }} Holding
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="input-group-sm">
    {{ flight_form.remarks |attr:"placeholder:Remarks" |add_class:"form-control"}}
    <label class="text-muted">500 char limit</label>
  </div>
</div>
