{% load flights_filters %}
<div class="row">
    <div class="">
      <table id="logbook" style="" class="custom-table table-striped">
        <thead class="custom-table">
            <th></th>
            <th class="pl-2 text-left">Date</th>
            <th class="text-left">Type</th>
            <th class="text-left">Reg</th>
            <th class="text-left">Route</th>
            <th class="text-right">Duration</th>
            <th class="pl-3 text-right">PIC</th>
            <th class="pl-3 text-right">SIC</th>
            <th class="pl-3 text-left">X Country</th>
            <th class="pl-3 text-right">Night</th>
            <th class="pl-3 pr-3 text-right">IFR</th>
            <th class="ml-3 text-left">Appr | Hold</th>
            <th class="pl-3 text-right">Day Ldg</th>
            <th class="pl-3 text-right">Night Ldg</th>
            <th class="pl-3 text-right">Sim Inst</th>
            <th class="pl-3 text-right">CFI</th>
            <th class="pl-3 text-right">Dual</th>
            <th class="pl-3 text-right">Solo</th>
            <th class="pl-3 text-right">Sim</th>
            <th class="pl-3 text-center">Remarks</th>
        </thead>
        <tbody>

          {% for flight in object_list %}
            <tr class="custom-table
                {% if flight.map_error or flight.duplicate_error or flight.aircraft_type_error or flight.registration_error or flight.crew_error or flight.duration < .1 %}
                text-danger{% endif %}">
                <td style="background-color:#fff;">
                  {% if flight.map_error or flight.duplicate_error or flight.aircraft_type_error or flight.registration_error or flight.crew_error or flight.duration < .1 %}
                    <a href ="{% url 'flight_detail' flight.pk %}" class="btn btn-sm btn-outline-danger">Error</a>
                    {% else %}
                    <a href ="{% url 'flight_detail' flight.pk %}" class="btn btn-sm btn-outline-primary">View</a>
                    {% endif %}
                </td>
                <td class="pl-2 pr-4 text-left">{{flight.date|date:"m/d/Y"}}</td>
                <td class="pr-4 text-left">{{flight.aircraft_type}}</td>
                <td class="pr-4 text-left">{{flight.registration}}</td>
                <td class="pr-4 text-left">{{flight.route}}</td>
                <td class="text-right">{{flight.duration}}</td>
                <td class="text-right">{{flight.pilot_in_command|iconbool}}</td>
                <td class="text-right">{{flight.second_in_command|iconbool}}</td>
                <td class="text-right">{{flight.cross_country|iconbool}}</td>
                <td class="text-right">{{flight.night|default:"-"}}</td>
                <td class="pr-4 text-right">{{flight.instrument|default:"-"}}</td>
                <td class="text-left">
                  {% for approach in flight.approach_set.all %}
                    <small>{{ approach.approach_type }}-{{ approach.number }}</small>
                  {% endfor %}

                  {% for holding in flight.holding_set.all %}
                    <small>{% if holding.hold %}| Hold {% endif %}</small>
                  {% endfor %}
                </td>
                <td class="text-right">{{flight.landings_day|default:"-"}}</td>
                <td class="text-right">{{flight.landings_night|default:"-"}}</td>
                <td class="text-right">{{flight.simulated_instrument|default:"-"}}</td>
                <td class="text-right">{{flight.instructor|iconbool}}</td>
                <td class="text-right">{{flight.dual|iconbool}}</td>
                <td class="text-right">{{flight.solo|iconbool}}</td>
                <td class="text-right">{{flight.simulator|iconbool}}</td>
                <td class="pl-3 text-center">{{flight.remarks|default:"-"}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
