{% extends 'base.html' %}
{% block content %}


<div class="row">
  <div class="col-12">
    <h3>Remarks</h3>
  <hr>
  </div>
</div>

<div class="row">
  <div class="col-12">
  {% for flight in object_list %}
    {% if flight.remarks %}
      <p><a href ="{% url 'flight_detail' flight.pk %}" class="btn btn-sm btn-outline-secondary ">{{ flight.date }} | {{ flight.route }} | {{ flight.remarks }}</a></p>
    {% endif %}
  {% endfor %}
  </div>
</div>

{% include 'pagination.html' %}



{% endblock %}
